[2019-06-29 19:07] 0pdd commented on #75
@dgroup 2 puzzles [#129](https://github.com/llorllale/cactoos-matchers/issues/129), [#93](https://github.com/llorllale/cactoos-matchers/issues/93) are still not solved; solved: [#120](https://github.com/llorllale/cactoos-matchers/issues/120), [#121](https://github.com/llorllale/cactoos-matchers/issues/121), [#94](https://github.com/llorllale/cactoos-matchers/issues/94).

[2019-06-29 19:07] 0pdd commented on #94
@0pdd the puzzle [#129](https://github.com/llorllale/cactoos-matchers/issues/129) is still not solved; solved: [#120](https://github.com/llorllale/cactoos-matchers/issues/120), [#121](https://github.com/llorllale/cactoos-matchers/issues/121).

[2019-06-29 19:11] llorllale commented on #132
@victornoel funny - I was just reading [this](https://www.pragmaticobjects.com/chapters/008_things-i-would-never-place-in-decorators.html#caching-and-memoization) today. I'm closing this issue and deferring this conversation for later. I'll accept your PR in yegor256/cactoos#1145 as it

[2019-06-29 19:42] 0crat commented on #132
Job `gh:llorllale/cactoos-matchers#132` is not assigned, can't get performer

[2019-06-29 19:44] 0crat commented on #121
Job [#121](https://github.com/llorllale/cactoos-matchers/issues/121) is not in the agenda of @scristalli[/z](https://www.0crat.com/u/scristalli), can't inspect

[2019-06-29 19:46] 0crat commented on #132
This job is not in scope

[2019-06-29 19:47] 0crat commented on #121
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @scristalli[/z](https://www.0crat.com/u/scristalli), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-29 19:49] 0crat commented on #121
The job [#121](https://github.com/llorllale/cactoos-matchers/issues/121) is now out of scope

[2019-06-29 20:29] llorllale opened #133 "Matcher to test timeouts"
We need a proper OOP alternative for [`@Test#timeout`](https://junit.org/junit4/javadoc/latest/org/junit/Test.html#timeout()) (JUnit 4) and [`Assertions#assertTimeout`](https://junit.org/junit5/docs/current/api/org/junit/jupiter/api/Assertions.html#assertTimeout(java.time.Duration,org.junit.jupiter.api.function.Executable)) (JUnit 5). In particular, the latter reads backwards (it doesn't *assert*

[2019-06-29 20:31] llorllale commented on #133
@0crat in

[2019-06-29 20:32] 0crat commented on #133
@llorllale Job [#133](https://github.com/llorllale/cactoos-matchers/issues/133) is now in scope, role is `DEV`

[2019-06-29 20:40] 0crat commented on #133
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-30 09:06] victornoel commented on #132
@llorllale I've read it too, I don't agree with the content personally. That being said, I don't think this issue is about caching or not caching, it is just about having a consistent behaviour of `Text` matchers, whatever the mean used to solve the problem.

[2019-06-30 09:53] victornoel commented on #129
@0crat wait for #134 to be merged

[2019-06-30 09:55] 0crat commented on #129
@victornoel The impediment for [#129](https://github.com/llorllale/cactoos-matchers/issues/129) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-30 19:07] sereshqua commented on #121
@0crat quality good

[2019-06-30 19:21] 0crat commented on #121
Order was finished, quality is "good": +35 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-06-30 19:21] 0crat commented on #121
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-07-02 23:49] llorllale commented on #132
@victornoel what do you propose? Wrap it in `Sticky` in `TextMatcherEnvelope#matchesSafely()`?

[2019-07-03 07:00] victornoel commented on #132
@llorllale I would have done something like that yes I think

[2019-07-04 01:21] llorllale commented on #132
@0crat in

[2019-07-04 01:21] 0crat commented on #132
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-07-04 01:22] 0crat commented on #132
@llorllale Job [#132](https://github.com/llorllale/cactoos-matchers/issues/132) is now in scope, role is `DEV`

[2019-07-04 01:28] 0crat commented on #132
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-13 13:03] victornoel opened #135 "MatcherEnvelope and TextMatcherEnvelope are just inheritance hidden behind EO names"
## Problem

I believe the two `TextMatcherEnvelope` and `MatcherEnvelope` used in cactoos-matchers are a hijacking of the term envelope just to justify using inheritance in a bad way.
Now we have many objects whose behaviour is distributed in their own and parent class.

## Envelopes

An envelope is an abstract class meant to help decorate object of a certain type, let's call it T, in order to eas

[2019-07-13 13:03] 0crat commented on #135
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-07-13 13:04] victornoel commented on #135
@llorllale in a way this is similar to https://github.com/yegor256/cactoos/issues/947 and the solution that was implemented there.

[2019-07-17 01:12] llorllale commented on #135
@victornoel

Please elaborate.

If this is the reason then the counter is that the interface contracts specify (or should) specify behavior applicable across all implementations. Eg. "all `Text` implementations are equal so long as their string content is equal".

You might argue: we can implement a "ComparableText" or something similar. Someone might counter with a usability argument. I'm not sur

[2019-07-17 08:05] victornoel commented on #135
Sorry, it is badly phrased, I should have said `using inheritance which is generally bad`. I think that most of the arguments are covered for example here: https://www.yegor256.com/2016/09/13/inheritance-is-procedural.html.

But let me clear: I don't say you shouldn't be using inheritance, I am saying that if you do, please don't call the parent class `XXXEnvelope` because that's not what an envel

[2019-07-17 08:05] victornoel commented on #135
@llorllale arg, I again forgot to ping you in the above comment, sorry, not my day today :) it's fixed

[2019-07-20 14:22] 0crat commented on #133
The job [#133](https://github.com/llorllale/cactoos-matchers/issues/133) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/efd6d0fa-27df-4d38-861c-4350853ec2cd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-07-20 15:19] victornoel commented on #133
@llorllale usually, with `@Test#timeout`, the timeout is expressed on top of another assertion. You don't just test that a function runs in less than a given amount or fails if not.

Don't you think we should have something like this instead:
[code]

An alternative would be for `Assertion#affirm` to be called in the `Scalar` maybe.

[2019-07-20 15:19] victornoel commented on #133
@0crat wait for ARC answer

[2019-07-20 15:20] 0crat commented on #133
@victornoel The impediment for [#133](https://github.com/llorllale/cactoos-matchers/issues/133) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-20 15:20] 0crat commented on #133
@victornoel There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): CID: [c14f0688-f370-4ed4-ba68-74a01385b4fc](https://www.0crat.com/footprint/C63314D6Z/c14f0688-f370-4ed4-ba68-74a01385b4fc), Type: "Impediment was registered"

[2019-07-20 20:02] llorllale commented on #135
@victornoel

I posed the question to yegor on this blog: http://disq.us/p/234j0ov

Here's how I see it:

* All `Text`s are equal if their contents are equal.
* If the above does not satisfy your requirements then you shouldn't be modelling your object as a `Text`. A composite is probably more fitting.
* Envelopes ease the implementation of interfaces. `equals()` is part of the `Text` interface as

[2019-07-20 20:16] 0pdd opened #136 "Mismatches.java:55-57: Convert all the Matcher tests to..."
The puzzle `106-7cce08fb` from #106 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/3a33a272c2df9153ec01aefc2ec32010610129c1/src/main/java/org/llorllale/cactoos/matchers/Mismatches.java#L55-L57

The puzzle was created by Victor Noël on 22-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2019-07-20 20:16] 0pdd opened #137 "Mismatches.java:58-61: Add extra tests for this class to..."
The puzzle `106-33b58c37` from #106 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/3a33a272c2df9153ec01aefc2ec32010610129c1/src/main/java/org/llorllale/cactoos/matchers/Mismatches.java#L58-L61

The puzzle was created by Victor Noël on 22-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2019-07-20 20:16] 0pdd opened #138 "Mismatches.java:131-133: Add a description in case the..."
The puzzle `106-02263f65` from #106 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/3a33a272c2df9153ec01aefc2ec32010610129c1/src/main/java/org/llorllale/cactoos/matchers/Mismatches.java#L131-L133

The puzzle was created by Victor Noël on 22-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wil

[2019-07-20 20:16] 0pdd commented on #106
@victornoel 3 puzzles [#136](https://github.com/llorllale/cactoos-matchers/issues/136), [#137](https://github.com/llorllale/cactoos-matchers/issues/137), [#138](https://github.com/llorllale/cactoos-matchers/issues/138) are still not solved.

[2019-07-20 20:23] #129 closed

[2019-07-20 20:23] 0pdd commented on #129
The puzzle `120-c754358f` has disappeared from the source code, that's why I closed this issue.

[2019-07-20 20:23] 0pdd opened #139 "MatcherEnvelope.java:43-45: Refactor other matchers to..."
The puzzle `129-c754358f` from #129 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/1f63decf372ce6aad7a4e5e29c06803f9293c6bc/src/main/java/org/llorllale/cactoos/matchers/MatcherEnvelope.java#L43-L45

The puzzle was created by Victor Noël on 30-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2019-07-20 20:23] 0pdd commented on #75
@dgroup 2 puzzles [#139](https://github.com/llorllale/cactoos-matchers/issues/139), [#93](https://github.com/llorllale/cactoos-matchers/issues/93) are still not solved; solved: [#120](https://github.com/llorllale/cactoos-matchers/issues/120), [#121](https://github.com/llorllale/cactoos-matchers/issues/121), [#129](https://github.com/llorllale/cactoos-matchers/issues/129), [#94](https://github.com/

[2019-07-20 20:23] 0pdd commented on #94
@0pdd the puzzle [#139](https://github.com/llorllale/cactoos-matchers/issues/139) is still not solved; solved: [#120](https://github.com/llorllale/cactoos-matchers/issues/120), [#121](https://github.com/llorllale/cactoos-matchers/issues/121), [#129](https://github.com/llorllale/cactoos-matchers/issues/129).

[2019-07-20 20:23] 0pdd commented on #120
@0pdd the puzzle [#139](https://github.com/llorllale/cactoos-matchers/issues/139) is still not solved; solved: [#129](https://github.com/llorllale/cactoos-matchers/issues/129).

[2019-07-20 20:23] 0pdd commented on #129
@0pdd the puzzle [#139](https://github.com/llorllale/cactoos-matchers/issues/139) is still not solved.

[2019-07-20 20:30] victornoel commented on #135
@llorllale I'm sorry but I think you are missing the point. I have been successfully be using envelopes as I describe them and everything you just said in that comment is not related to the question of envelopes.

Yes: however a `Text` is implemented, its `equals` method should be respecting the contract, we agree.

Yes, but it's tangential to the discussion here, I don't see why you bring that up

[2019-07-20 23:06] llorllale commented on #133
@victornoel I would be OK if you invert the order of the arguments in your example:

[code]

[2019-07-21 02:21] 0crat commented on #136
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): Issue: llorllale/cactoos-matchers#136, Action: `opened`

[2019-07-21 02:30] 0crat commented on #136
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): CID: [c63d328b-b9e7-45b4-9e6e-6d6bcac9034d](https://www.0crat.com/footprint/C63314D6Z/c63d328b-b9e7-45b4-9e6e-6d6bcac9034d), Type: "Add job to WBS"

[2019-07-21 03:22] 0crat commented on #137
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): Issue: llorllale/cactoos-matchers#137, Action: `opened`

[2019-07-21 03:25] 0crat commented on #138
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): Issue: llorllale/cactoos-matchers#138, Action: `opened`

[2019-07-21 03:25] 0crat commented on #138
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): CID: [1d25a3ad-9431-45ff-a1ce-db4b72c5e3c5](https://www.0crat.com/footprint/C63314D6Z/1d25a3ad-9431-45ff-a1ce-db4b72c5e3c5), Type: "Add job to WBS"

[2019-07-21 03:30] 0crat commented on #139
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): Issue: llorllale/cactoos-matchers#139, Action: `opened`

[2019-07-21 03:32] 0crat commented on #137
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): CID: [963fc8ed-75a3-4762-9a9e-fe99b331c456](https://www.0crat.com/footprint/C63314D6Z/963fc8ed-75a3-4762-9a9e-fe99b331c456), Type: "Add job to WBS"

[2019-07-21 03:34] 0crat commented on #139
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): CID: [8d988421-5cf3-437f-948e-052656e8a00a](https://www.0crat.com/footprint/C63314D6Z/8d988421-5cf3-437f-948e-052656e8a00a), Type: "Add job to WBS"

[2019-07-21 03:52] 0crat commented on #129
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): CID: [3d3af84a-e71a-4b83-abca-bdfe2af04a72](https://www.0crat.com/footprint/C63314D6Z/3d3af84a-e71a-4b83-abca-bdfe2af04a72), Type: "Close job"

[2019-07-21 03:52] 0crat commented on #129
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): CID: [3d3af84a-e71a-4b83-abca-bdfe2af04a72](https://www.0crat.com/footprint/C63314D6Z/3d3af84a-e71a-4b83-abca-bdfe2af04a72), Type: "Close job"

[2019-07-21 08:41] #106 closed

[2019-07-21 09:01] 0crat commented on #106
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-21 09:01] 0crat commented on #106
The job [#106](https://github.com/llorllale/cactoos-matchers/issues/106) is now out of scope

[2019-07-21 14:03] sereshqua commented on #106
@victornoel please make sure that problem reporter (you) and problem solver (you) would be two different persons next time :)

[2019-07-21 14:07] victornoel commented on #106
@sereshqua yes, I agree

[2019-07-21 14:08] sereshqua commented on #106
@0crat quality acceptable

[2019-07-21 14:15] 0crat commented on #106
Order was finished, quality is "acceptable": +30 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-21 14:15] 0crat commented on #106
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-07-21 15:39] victornoel commented on #114
@0crat wait for #140 to be merged

[2019-07-21 15:46] 0crat commented on #114
@victornoel Job [#114](https://github.com/llorllale/cactoos-matchers/issues/114) is already on hold

[2019-07-21 15:53] victornoel commented on #129
@llorllale there has been some bug with 0crat (see https://github.com/zerocracy/farm/issues/2119) and 0crat didn't register the closing of the ticket, could you notify 0crat with `out` command? Thanks

[2019-07-22 17:33] victornoel commented on #129
@0crat out

[2019-07-22 17:44] 0crat commented on #129
@victornoel[/z](https://www.0crat.com/u/victornoel) the issue is closed not by @0pdd[/z](https://www.0crat.com/u/0pdd) (its creator); I won't close the order; please, re-open it and ask @0pdd[/z](https://www.0crat.com/u/0pdd) to close it

[2019-07-24 08:11] victornoel commented on #129
@llorllale could you ask 0crat to `out` the ticket please?

[2019-07-26 09:57] 0crat commented on #129
@victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#129](https://github.com/llorllale/cactoos-matchers/issues/129), since the job is not in scope anymore

[2019-07-26 09:57] 0crat commented on #129
The job [#129](https://github.com/llorllale/cactoos-matchers/issues/129) is now out of scope

[2019-07-26 10:46] victornoel commented on #129
@llorllale 0crat just resigned me from this issue incorrectly, can I get paid?

[2019-07-26 11:04] g4s8 commented on #129
@0crat status

[2019-07-26 11:23] 0crat commented on #129
@g4s8 This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#129](https://github.com/llorllale/cactoos-matchers/issues/129) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Allorllale%2Fcactoos-matchers%23129%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7

[2019-07-29 22:27] llorllale commented on #129
@0crat pay @victornoel 30min

[2019-07-29 22:27] 0crat commented on #129
@llorllale Argument "@victornoel" doesn't match regex `\d+min`

[2019-07-29 22:27] llorllale commented on #129
@0crat pay 30min @victornoel

[2019-07-29 22:28] 0crat commented on #129
@llorllale The user @victornoel[/z](https://www.0crat.com/u/victornoel) works for free in this project, see [§49](http://www.zerocracy.com/policy.html#49)

[2019-08-06 14:12] 0crat commented on #132
The job [#132](https://github.com/llorllale/cactoos-matchers/issues/132) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/46044a7b-aded-4372-b37a-5bc39cd32932); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-09-11 13:46] 0crat commented on #93
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:46] 0crat commented on #85
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:47] 0crat commented on #114
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:48] 0crat commented on #133
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:48] 0crat commented on #132
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-14 22:22] llorllale opened #141 "Build broken: error installing jdk"
Error:
[code]

Build log: https://travis-ci.org/llorllale/cactoos-matchers/builds/561496203

[2019-09-14 22:22] 0crat commented on #141
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-14 22:22] 0crat commented on #141
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-14 22:26] 0crat commented on #141
Job [#141](https://github.com/llorllale/cactoos-matchers/issues/141) is now in scope, role is `DEV`

[2019-09-14 22:32] 0crat commented on #141
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-09-14 22:33] 0crat commented on #141
You @llorllale[/z](https://www.0crat.com/u/llorllale) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-09-14 22:42] llorllale commented on #141
Fixed in PR #141

[2019-09-14 22:42] #141 closed

[2019-09-14 22:43] llorllale opened #143 "New ARC"
@paulodamaso is the new architect

[2019-09-14 22:43] 0crat commented on #143
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-14 22:43] 0crat commented on #143
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-14 22:56] #143 closed

[2019-09-14 23:02] 0crat commented on #141
Job `gh:llorllale/cactoos-matchers#141` is not assigned, can't get performer

[2019-09-14 23:04] 0crat commented on #141
The job [#141](https://github.com/llorllale/cactoos-matchers/issues/141) is now out of scope

[2019-09-14 23:16] 0crat commented on #143
Job `gh:llorllale/cactoos-matchers#143` is not assigned, can't get performer

[2019-09-14 23:16] 0crat commented on #143
This job is not in scope

[2019-09-15 10:33] victornoel commented on #133
@0crat wait for #145 to be merged

[2019-09-15 10:34] 0crat commented on #133
@victornoel Job [#133](https://github.com/llorllale/cactoos-matchers/issues/133) is already on hold

[2019-09-15 16:42] #114 closed

[2019-09-15 16:42] 0pdd commented on #114
The puzzle `65-01fd6042` has disappeared from the source code, that's why I closed this issue.

[2019-09-15 16:42] 0pdd commented on #65
@dgroup the only puzzle [#114](https://github.com/llorllale/cactoos-matchers/issues/114) is solved here.

[2019-09-15 17:00] 0crat commented on #114
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) all `QA`s are on vacation. Please handle that.

[2019-09-15 17:00] 0crat commented on #114
The job [#114](https://github.com/llorllale/cactoos-matchers/issues/114) is now out of scope

[2019-09-15 22:20] 0pdd opened #146 "MatchesBeforeTest.java:73-76: Currently MatchesBefore..."
The puzzle `133-30a4a37a` from #133 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/a7efc9eaf7478a64d70501280e1d6fe968be1a0f/src/test/java/org/llorllale/cactoos/matchers/MatchesBeforeTest.java#L73-L76

The puzzle was created by Victor Noël on 15-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2019-09-15 22:20] 0pdd commented on #133
@llorllale the puzzle [#146](https://github.com/llorllale/cactoos-matchers/issues/146) is still not solved.

[2019-09-15 22:21] 0crat commented on #146
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-15 22:26] 0crat commented on #146
Job [#146](https://github.com/llorllale/cactoos-matchers/issues/146) is now in scope, role is `DEV`

[2019-09-16 06:52] victornoel commented on #133
@llorllale this was merged in #145, can you close the issue?

[2019-09-16 06:53] victornoel commented on #114
@paulodamaso could you assert quality please?

[2019-09-16 09:23] g4s8 commented on #119
@0crat status

[2019-09-16 18:18] paulodamaso commented on #114
@0crat quality good

[2019-09-16 18:19] 0crat commented on #114
@paulodamaso There is no quality review for [#114](https://github.com/llorllale/cactoos-matchers/issues/114), no performer

[2019-09-17 01:11] llorllale commented on #133
@victornoel thanks!

[2019-09-17 01:11] #133 closed

[2019-09-17 01:29] 0crat commented on #133
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) all `QA`s are on vacation. Please handle that.

[2019-09-17 01:31] 0crat commented on #133
The job [#133](https://github.com/llorllale/cactoos-matchers/issues/133) is now out of scope

[2019-09-17 12:51] paulodamaso commented on #133
@0crat quality good

[2019-09-17 12:53] 0crat commented on #133
@paulodamaso There is no quality review for [#133](https://github.com/llorllale/cactoos-matchers/issues/133), no performer

[2019-09-20 14:51] 0crat commented on #146
The job [#146](https://github.com/llorllale/cactoos-matchers/issues/146) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/fe8b552a-2ff7-402c-88e2-096c0840beca); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-09-21 16:10] victornoel commented on #132
@paulodamaso I'm blocked by this to solve other issues in cactoos, the fix is quite simple, can this be proactively assigned to somebody and a release made if possible?

[2019-09-23 15:04] paulodamaso commented on #132
@victornoel Can you do it for us?

[2019-09-24 12:00] victornoel commented on #132
@paulodamaso yes

[2019-09-24 12:10] paulodamaso commented on #132
@0crat assign @victornoel

[2019-09-24 12:10] paulodamaso commented on #132
@victornoel Thanks!

[2019-09-24 12:17] 0crat commented on #132
@paulodamaso There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.49.12](https://github.com/zerocracy/farm): CID: [83a83d7a-f893-4ce9-9d24-3d070b7eb495](https://www.0crat.com/footprint/C63314D6Z/83a83d7a-f893-4ce9-9d24-3d070b7eb495), Type: "Order was canceled"

[2019-09-24 12:18] 0crat commented on #132
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-24 13:00] paulodamaso commented on #114
@0crat pay 35min @victornoel

[2019-09-24 13:27] 0crat commented on #114
@paulodamaso The user @victornoel[/z](https://www.0crat.com/u/victornoel) works for free in this project, see [§49](http://www.zerocracy.com/policy.html#49)

[2019-09-24 13:32] 0crat commented on #114
Are you speaking to me or about me [here](https://github.com/llorllale/cactoos-matchers/issues/114#issuecomment-534558452); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-09-24 18:01] victornoel commented on #135
@paulodamaso for the record, in cactoos things went forward with having pure envelopes and common features in the real implementation instead of abstract classes, see https://github.com/yegor256/cactoos/issues/947

[2019-09-24 18:01] victornoel commented on #132
@0crat wait for #147

[2019-09-24 18:03] victornoel commented on #114
@paulodamaso yeah... let's forget about it :) thx anyway

[2019-09-24 18:08] 0crat commented on #132
@victornoel The impediment for [#132](https://github.com/llorllale/cactoos-matchers/issues/132) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-10-05 12:10] #132 closed

[2019-10-05 12:11] victornoel commented on #132
@paulodamaso can we get a new release of cactoos-matchers now that this has been merged?

[2019-10-05 12:27] 0crat commented on #132
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-10-05 12:28] 0crat commented on #132
The job [#132](https://github.com/llorllale/cactoos-matchers/issues/132) is now out of scope

[2019-10-05 15:15] sereshqua commented on #132
@victornoel we will need to make sure that problem reporter and problem solver are two different persons next time

[2019-10-05 15:32] victornoel commented on #132
@sereshqua yes I agree

[2019-10-05 15:32] sereshqua commented on #132
@0crat quality acceptable

[2019-10-05 15:40] 0crat commented on #132
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-10-05 15:40] 0crat commented on #132
Order was finished, quality is "acceptable": +30 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-10-06 00:03] paulodamaso commented on #132
@

@victornoel of course

[2019-10-06 00:03] paulodamaso commented on #132
@rultor release tag is `0.18`

[2019-10-06 00:04] rultor commented on #132
@paulodamaso OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20525-538699332)

[2019-10-06 00:15] rultor commented on #132
@paulodamaso Done! FYI, the full log is [here](http://www.rultor.com/t/20525-538699332) (took me 11min)

[2019-10-06 13:31] victornoel commented on #132
@paulodamaso thx

[2019-12-04 04:06] fanifieiev opened #148 "Remove the usage of 'org.cactoos.collection.CollectionOf' from the project"
The class [CollectionOf](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/collection/CollectionOf.java) is planned to be removed from `Cactoos` projects shortly. Replace the usage of that class by appropriate collection implementation.

[2019-12-04 04:06] 0crat commented on #148
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-05 02:23] paulodamaso commented on #148
@fanifieiev Let's first decide and implement it in cactoos, then we update it here

[2019-12-15 13:11] dgroup opened #149 "Examples from readme.md are incorrect as they are written for Assertion which consuming Scalar<T>"
Examples from readme.md are incorrect as they are written for Assertion which consuming Scalar<T>:
*AR*:
[code]
*ER*:
[code]

[2019-12-15 13:11] 0crat commented on #149
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-17 11:22] paulodamaso commented on #149
@0crat in

[2019-12-17 11:23] 0crat commented on #149
@paulodamaso Job [#149](https://github.com/llorllale/cactoos-matchers/issues/149) is now in scope, role is `DEV`

[2019-12-17 11:31] 0crat commented on #149
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-12-17 11:34] 0crat commented on #149
The job [#149](https://github.com/llorllale/cactoos-matchers/issues/149) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C63314D6Z/61cd091c-3cf7-40bb-bc8d-f6646e0e4f24); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-01-13 19:42] fanifieiev commented on #149
@dgroup The issue has been completed, [PR](https://github.com/llorllale/cactoos-matchers/pull/150) has been merged. Please take the further action.

[2020-01-29 02:17] paulodamaso commented on #149
@llorllale we need to close this one. I don't have permission to do it though

[2020-01-29 02:47] #149 closed

[2020-01-29 04:11] 0crat commented on #149
@llorllale[/z](https://www.0crat.com/u/llorllale) the issue is closed not by @dgroup[/z](https://www.0crat.com/u/dgroup) (its creator); I won't close the order; please, re-open it and ask @dgroup[/z](https://www.0crat.com/u/dgroup) to close it

[2020-02-04 04:43] 0crat commented on #149
@fanifieiev[/z](https://www.0crat.com/u/fanifieiev) resigned from [#149](https://github.com/llorllale/cactoos-matchers/issues/149), since the job is not in scope anymore

[2020-02-04 05:11] 0crat commented on #149
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.51.0](https://github.com/zerocracy/farm): CID: [ea05393a-7c49-41ca-adfe-978be4363e32](https://www.0crat.com/footprint/C63314D6Z/ea05393a-7c49-41ca-adfe-978be4363e32), Type: "Order was canceled"

[2020-02-23 09:43] victornoel commented on #148
@paulodamaso apparently in cactoos there is a todo (https://github.com/yegor256/cactoos/issues/1261) depending on this task, it would make sense to accept it so that the todo can one day be done with, no?

[2020-02-26 04:10] paulodamaso commented on #148
@victornoel Ok, ok

[2020-02-26 04:10] paulodamaso commented on #148
@0crat in

[2020-02-26 06:49] 0crat commented on #148
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-03-29 18:03] 0crat commented on #148
The job [#148](https://github.com/llorllale/cactoos-matchers/issues/148) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/502da179-d835-465d-9480-0d2d96b5f987); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-03-29 18:34] victornoel commented on #148
@0crat wait for #151 to be merged

[2020-04-12 12:51] victornoel opened #152 "Rultor integration should be fixed"
I think that the current rultor file is using very old deprecated settings, see for example cactoos's rultor file for an example of working one: https://github.com/yegor256/cactoos/blob/master/.rultor.yml

In particular the docker image used is different, and also maybe the settings.xml file is incorrect too, seeing the kind of error we get when we try to merge with rultor: https://github.com/llor

[2020-04-14 18:03] victornoel commented on #152
@paulodamaso it seems 0crat missed this, can you look at it?

[2020-04-15 15:28] paulodamaso commented on #152
@victornoel Let me do this

[2020-04-15 15:29] paulodamaso commented on #152
@0crat assign me

[2020-04-15 15:30] 0crat commented on #152
@paulodamaso The job [#152](https://github.com/llorllale/cactoos-matchers/issues/152) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C63314D6Z/fc8b9b08-28db-4555-bb11-8b89b8d8d6f6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://ww

[2020-04-15 18:01] victornoel commented on #152
@paulodamaso thx!

[2020-04-15 18:01] #152 closed

[2020-04-15 18:02] victornoel commented on #148
@fanifieiev it's fixed! I think we can close this issue :)

[2020-04-15 18:10] #148 closed

[2020-04-15 18:19] 0crat commented on #152
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-15 18:28] 0crat commented on #148
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-15 19:12] sereshqua commented on #148
@0crat quality good

[2020-04-15 19:53] victornoel commented on #148
@0crat status

[2020-04-15 20:11] 0crat commented on #148
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#148](https://github.com/llorllale/cactoos-matchers/issues/148) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Allorllale%2Fcactoos-matchers%23148%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-06-20 21:33] andreoss opened #156 "An interface of `Assertion`"
`Assertion`[2] is a final class without an interface.
It blocks user from
- creating user from creating custom assertions
- decorating `Assertion` with additional logic
And violates "He Works by Contracts"[1] principle of EO.

Examples of use cases:
- conditional assertions, covers the cases of `@EnabledIf` from Junit 5
- soft assertions, i.e not fail directly but mark test as failed in some kind

[2020-06-20 21:33] 0crat commented on #156
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-06-21 20:35] andreoss commented on #85
@fabriciofx @llorllale This issue is addressed in #155

[2020-06-29 08:28] andreoss commented on #156
@paulodamaso @llorllale Ready to implement if green-lighted.

[2020-06-29 14:22] llorllale commented on #156
@paulodamaso I think the first two use cases make sense:

WDYT?

[2020-07-03 12:05] victornoel commented on #135
@0crat in

[2020-07-03 13:49] 0crat commented on #135
The job [#135](https://github.com/llorllale/cactoos-matchers/issues/135) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/77bb4d2b-5029-42df-8e5e-2e1c48649044); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocra

[2020-07-03 13:49] marceloamadeu commented on #135
@0crat refuse

[2020-07-03 14:00] 0crat commented on #135
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#135](https://github.com/llorllale/cactoos-matchers/issues/135), please stop working. Reason for job resignation: Order was cancelled

[2020-07-03 14:01] 0crat commented on #135
@marceloamadeu Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-07-05 10:33] victornoel commented on #112
@fabriciofx the objective is is to disable incremental compilation? Why do we want to do that? I see the other cactoos projects have this kind of setup, I don't understand why exactly, do you know?

[2020-07-05 11:29] #93 closed

[2020-07-05 11:29] 0pdd commented on #93
The puzzle `75-33ff5101` has disappeared from the source code, that's why I closed this issue.

[2020-07-05 11:30] 0pdd commented on #75
@dgroup the puzzle [#139](https://github.com/llorllale/cactoos-matchers/issues/139) is still not solved; solved: [#120](https://github.com/llorllale/cactoos-matchers/issues/120), [#121](https://github.com/llorllale/cactoos-matchers/issues/121), [#129](https://github.com/llorllale/cactoos-matchers/issues/129), [#93](https://github.com/llorllale/cactoos-matchers/issues/93), [#94](https://github.com/

[2020-07-05 12:48] 0crat commented on #135
The job [#135](https://github.com/llorllale/cactoos-matchers/issues/135) assigned to @longstone[/z](https://www.0crat.com/u/longstone), here is [why](https://www.0crat.com/footprint/C63314D6Z/d93412a9-ee82-46c8-82d6-8926f1af6927); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2020-07-05 14:02] 0crat commented on #85
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:03] 0crat commented on #146
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:06] 0crat commented on #135
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:58] victornoel commented on #135
@0crat in

[2020-07-05 14:58] victornoel commented on #135
@0crat assign @longstone

[2020-07-05 15:01] victornoel commented on #146
@0crat in

[2020-07-05 15:07] 0crat commented on #135
@victornoel The job [#135](https://github.com/llorllale/cactoos-matchers/issues/135) assigned to @longstone[/z](https://www.0crat.com/u/longstone), here is [why](https://www.0crat.com/footprint/C63314D6Z/9c246cca-2ff2-4656-b5b0-48b671905311); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zer

[2020-07-05 15:09] 0crat commented on #135
@victornoel There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [517db924-424d-4421-9211-a99c20b75a3b](https://www.0crat.com/footprint/C63314D6Z/517db924-424d-4421-9211-a99c20b75a3b), Type: "Order was given"

[2020-07-05 15:11] 0crat commented on #146
@victornoel Job [#146](https://github.com/llorllale/cactoos-matchers/issues/146) doesn't exist, can't set role

[2020-07-05 15:20] victornoel commented on #146
@0crat in

[2020-07-05 15:23] victornoel commented on #85
@fabriciofx so actually this is already covered by #136 which is in scope

[2020-07-05 15:23] #85 closed

[2020-07-05 15:52] 0crat commented on #85
Job `gh:llorllale/cactoos-matchers#85` is not assigned, can't get performer

[2020-07-05 16:44] victornoel opened #159 "Relocate cactoos' classes and distribute them within cactoos-matchers jar"
Because cactoos-matchers is used in cactoos and also in other projects using cactoos, we often face conflict between the available classes in the classpath and those expected by a given version of cactoos-matchers (see the whole story with #148 and https://github.com/yegor256/cactoos/issues/1252#issuecomment-561467663 for example).

To avoid any undesired surprises, let's use the maven shade plugi

[2020-07-05 16:44] victornoel commented on #159
@0crat in

[2020-07-05 19:53] fabriciofx commented on #112
@victornoel I opened this issue a lot of time ago. It's because there is (or was) a bug in `maven-compiler-plugin`. I think this bug already was fixed. So, I'll close it, ok?

[2020-07-05 19:53] #112 closed

[2020-07-05 20:10] 0crat commented on #112
Job `gh:llorllale/cactoos-matchers#112` is not assigned, can't get performer

[2020-07-06 01:06] 0crat commented on #146
The job [#146](https://github.com/llorllale/cactoos-matchers/issues/146) assigned to @englishman[/z](https://www.0crat.com/u/englishman), here is [why](https://www.0crat.com/footprint/C63314D6Z/f7cf3f89-2d22-4cb3-9fef-a05bfe15ce00); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-07-06 08:37] victornoel commented on #112
@fabriciofx ok, thank you, I removed the option in https://github.com/yegor256/cactoos/pull/1412 for cactoos (I will do cactoos-matchers later) so we will see what happens without it :)

[2020-07-07 17:17] victornoel commented on #83
@fabriciofx can you edit the description to move to github actions instead?

[2020-07-07 17:19] fabriciofx commented on #83
@victornoel done!

[2020-07-07 17:20] victornoel commented on #89
@fabriciofx is still of concern and if yes, can you list what are the problematic method, constructor or class?

IMHO private methods, constructors and inner classes can make sense as they are part of the encapsulated object. It can make sense to make them public IF you find a good reason to do so, not beforehand.

See this articles about the danger of thinking in term of reuse as a first principl

[2020-07-07 17:21] victornoel commented on #83
@fabriciofx the description is still incorrect :)

[2020-07-07 17:22] victornoel commented on #83
@0crat in

[2020-07-07 17:39] fabriciofx commented on #83
@victornoel how about now?

[2020-07-07 18:29] fabriciofx commented on #89
@victornoel well, due to respect, including to Sandi Metz, I disagree. But I agree to close this issue, if you want.

[2020-07-07 19:16] victornoel commented on #89
@fabriciofx before closing it, maybe we can look at the problematic class, methods, constructors and see if it makes sense to do something, but I would like to be clear about the job to be done before putting that in scope

[2020-07-07 19:17] victornoel commented on #83
@fabriciofx lol, the title change was already ok, I was talking about the description of the job to be done, currently it is:

This doesn't reflect what we want to do

[2020-07-07 19:35] fabriciofx commented on #83
@victornoel better?

[2020-07-07 19:46] victornoel commented on #83
@fabriciofx haha, yes, I don't why but the wording seems... perfection! :P

thx

[2020-07-09 14:11] 0pdd opened #160 "Assertion.java:70-73: Assertion should rely on mismatch..."
The puzzle `67-1f1425d4` from #67 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/4daa27a3020156119f6ad442c46ba90c2053ced3/src/main/java/org/llorllale/cactoos/matchers/Assertion.java#L70-L73

The puzzle was created by @rultor on 09-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"do

[2020-07-09 14:11] 0pdd commented on #67
@dgroup the puzzle [#160](https://github.com/llorllale/cactoos-matchers/issues/160) is still not solved.

[2020-07-09 14:12] 0crat commented on #160
@victornoel[/z](https://www.0crat.com/u/victornoel) please, pay attention to this issue

[2020-07-09 14:40] victornoel commented on #67
@dgroup could you close this issue since it was solved in #154?

[2020-07-13 18:30] fabriciofx commented on #89
@victornoel I think what Sandi Metz said about *abstraction* is about  an abstraction which is used to build class around you project, like interfaces do. If it's the point, I agree with her. But my point is: when you make a private class or method they already a kind of abstraction too. So, if you're creating a new abstraction, why not put it in a public class and use it in your class or method?

[2020-07-13 18:34] fabriciofx opened #161 "New constructos for Assertion"
Let's add new constructors do `Assertion` to make it easier to use:
[code]

[2020-07-13 18:34] 0crat commented on #161
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): Issue: llorllale/cactoos-matchers#161, Action: `opened`

[2020-07-14 01:17] fabriciofx commented on #161
@victornoel WDYT?

[2020-07-14 08:10] victornoel commented on #161
@fabriciofx I don't think we should allow for no message, since it is also enforced in qulice that there should be a message passed to assertions (even though it is only enforced for MatcherAssert, the intention is the same).

Concerning the second one, what would be the need? I don't see any

[2020-07-14 08:11] victornoel commented on #89
@fabriciofx still, until you don't put a rough list of what you think should be changed, I don't know if I can put this in scope, we can argue about theory for a long time, but looking at real use case we will know what to do :)

[2020-07-14 08:47] victornoel commented on #135
@0crat assign me

[2020-07-14 08:50] victornoel opened #162 "Bump pom dependencies and move to junit 5"
See also yegor256/cactoos#1411

[2020-07-14 08:51] victornoel commented on #162
@0crat assign me

[2020-07-14 08:53] victornoel commented on #162
@0crat wait for #155 to be merged first

[2020-07-14 09:00] 0crat commented on #162
@victornoel Job `gh:llorllale/cactoos-matchers#162` is not assigned, can't get performer

[2020-07-14 09:05] victornoel commented on #162
@0crat wait for #155 to be merged first

[2020-07-14 09:39] victornoel commented on #135
@0crat wait for #163

[2020-07-14 11:52] andreoss commented on #161
@victornoel It is forced by `forbidden-apis`

@fabriciofx There could be a different `Assertion` for that (See: https://github.com/llorllale/cactoos-matchers/issues/156).
For example, it would make sense to omit message if several assertions are grouped
[code]

[2020-07-15 16:57] victornoel commented on #146
@0crat refuse

[2020-07-15 16:58] 0crat commented on #146
@victornoel The user @englishman[/z](https://www.0crat.com/u/englishman) resigned from [#146](https://github.com/llorllale/cactoos-matchers/issues/146), please stop working. Reason for job resignation: Order was cancelled

[2020-07-17 14:02] marceloamadeu commented on #160
@0crat refuse

[2020-07-17 14:03] 0crat commented on #160
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#160](https://github.com/llorllale/cactoos-matchers/issues/160), please stop working. Reason for job resignation: Order was cancelled

[2020-07-17 16:16] #139 closed

[2020-07-17 16:16] 0pdd commented on #139
The puzzle `129-c754358f` has disappeared from the source code, that's why I closed this issue.

[2020-07-17 16:16] #136 closed

[2020-07-17 16:16] 0pdd commented on #136
The puzzle `106-7cce08fb` has disappeared from the source code, that's why I closed this issue.

[2020-07-17 16:16] 0pdd opened #164 "package-info.java:31-34: Replace the combination of IsNot..."
The puzzle `136-fc001f3f` from #136 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/a40df7d674cf093ac3207b22beb2a2bc5913cd54/src/main/java/org/llorllale/cactoos/matchers/package-info.java#L31-L34

The puzzle was created by @rultor on 17-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-07-17 16:16] 0pdd opened #165 "MatcherOf.java:49-51: Remove all constructors except the..."
The puzzle `135-e0b9c886` from #135 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/a40df7d674cf093ac3207b22beb2a2bc5913cd54/src/main/java/org/llorllale/cactoos/matchers/MatcherOf.java#L49-L51

The puzzle was created by @rultor on 17-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"

[2020-07-17 16:16] 0pdd commented on #75
@dgroup all 6 puzzles are solved here: [#120](https://github.com/llorllale/cactoos-matchers/issues/120), [#121](https://github.com/llorllale/cactoos-matchers/issues/121), [#129](https://github.com/llorllale/cactoos-matchers/issues/129), [#139](https://github.com/llorllale/cactoos-matchers/issues/139), [#93](https://github.com/llorllale/cactoos-matchers/issues/93), [#94](https://github.com/llorllal

[2020-07-17 16:16] 0pdd commented on #94
@0pdd all 4 puzzles are solved here: [#120](https://github.com/llorllale/cactoos-matchers/issues/120), [#121](https://github.com/llorllale/cactoos-matchers/issues/121), [#129](https://github.com/llorllale/cactoos-matchers/issues/129), [#139](https://github.com/llorllale/cactoos-matchers/issues/139).

[2020-07-17 16:16] 0pdd commented on #120
@0pdd all 2 puzzles are solved here: [#129](https://github.com/llorllale/cactoos-matchers/issues/129), [#139](https://github.com/llorllale/cactoos-matchers/issues/139).

[2020-07-17 16:17] 0pdd commented on #129
@0pdd the only puzzle [#139](https://github.com/llorllale/cactoos-matchers/issues/139) is solved here.

[2020-07-17 16:17] 0pdd commented on #106
@victornoel 3 puzzles [#137](https://github.com/llorllale/cactoos-matchers/issues/137), [#138](https://github.com/llorllale/cactoos-matchers/issues/138), [#164](https://github.com/llorllale/cactoos-matchers/issues/164) are still not solved; solved: [#136](https://github.com/llorllale/cactoos-matchers/issues/136).

[2020-07-17 16:17] 0pdd commented on #136
@0pdd the puzzle [#164](https://github.com/llorllale/cactoos-matchers/issues/164) is still not solved.

[2020-07-17 16:17] 0pdd commented on #135
@victornoel the puzzle [#165](https://github.com/llorllale/cactoos-matchers/issues/165) is still not solved.

[2020-07-17 16:18] 0crat commented on #165
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): Issue: llorllale/cactoos-matchers#165, Action: `opened`

[2020-07-17 16:18] 0crat commented on #164
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): Issue: llorllale/cactoos-matchers#164, Action: `opened`

[2020-07-17 16:33] 0crat commented on #136
Job `gh:llorllale/cactoos-matchers#136` is not assigned, can't get performer

[2020-07-17 16:34] 0crat commented on #139
Job `gh:llorllale/cactoos-matchers#139` is not assigned, can't get performer

[2020-07-17 16:59] victornoel commented on #165
@0crat in

[2020-07-17 17:03] 0crat commented on #165
@victornoel Job [#165](https://github.com/llorllale/cactoos-matchers/issues/165) is already in scope

[2020-07-17 17:33] victornoel commented on #162
@0crat wait for #166 to be merged

[2020-07-17 17:43] 0crat commented on #162
@victornoel Job [#162](https://github.com/llorllale/cactoos-matchers/issues/162) is already on hold

[2020-07-20 16:59] victornoel commented on #164
@0crat status

[2020-07-20 17:00] #67 closed

[2020-07-20 17:17] 0crat commented on #67
Job `gh:llorllale/cactoos-matchers#67` is not assigned, can't get performer

[2020-09-06 17:53] andreoss opened #167 "Release 0.19"
In order to complete #148 & https://github.com/yegor256/cactoos/issues/1261

[2020-09-06 18:33] victornoel commented on #167
@rultor release tag is 0.19

[2020-09-06 18:34] rultor commented on #167
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23246-687864485)

[2020-09-06 18:34] rultor commented on #167
@andreoss @victornoel Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23246-687864485) (spent 25s)

[code]

[2020-09-06 18:41] victornoel commented on #167
@rultor release, tag=`0.19`

[2020-09-06 18:41] rultor commented on #167
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23246-687866368)

[2020-09-06 18:49] rultor commented on #167
@andreoss @victornoel Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23246-687866368) (spent 8min)

[code]

[2020-09-07 09:30] victornoel commented on #167
@rultor release, tag=0.19

[2020-09-07 09:31] rultor commented on #167
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23246-688198625)

[2020-09-07 09:32] rultor commented on #167
@andreoss @victornoel Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23246-688198625) (spent 27s)

[code]

[2020-09-07 09:38] victornoel commented on #167
@rultor release, tag=`0.19`

[2020-09-07 09:39] rultor commented on #167
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23246-688203428)

[2020-09-07 09:46] rultor commented on #167
@andreoss @victornoel Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23246-688203428) (spent 7min)

[code]

[2020-09-07 09:49] victornoel commented on #167
@andreoss it seems this is all broken, give me some time to solve it, I am new to rultor and I may be missing some things to make it working…

@llorllale @paulodamaso @yegor256 if you have an idea what is wrong here, any help would be welcome :)

[2020-09-07 13:20] llorllale commented on #167
@rultor release, tag is `0.19`

[2020-09-07 13:21] rultor commented on #167
@llorllale OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23246-688321704)

[2020-09-07 13:28] rultor commented on #167
@andreoss @llorllale Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23246-688321704) (spent 7min)

[code]

[2020-09-07 15:07] 0pdd opened #168 "pom.xml:78-81: Migrate existing tests to JUnit 5. It..."
The puzzle `1411-6ab83915` from #1411 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/c9aba9001b89fd2e5f88d3e405bf6dd9b0cb3050/pom.xml#L78-L81

The puzzle was created by Victor Noël on 17-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2020-09-07 15:13] victornoel commented on #167
@rultor release, tag is `0.19`

[2020-09-07 15:14] rultor commented on #167
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23246-688385492)

[2020-09-07 15:21] rultor commented on #167
@andreoss @victornoel Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23246-688385492) (spent 7min)

[code]

[2020-09-07 15:29] llorllale commented on #161
@andreoss

Your example is inverting the dependencies; it should be `new Assertion<>("text", text, new AllOf<Text>(......))`

[2020-09-07 15:46] 0pdd opened #170 "pom.xml:78-81: Migrate existing tests to JUnit 5. It..."
The puzzle `162-6ab83915` from #162 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/310fd5248a600287465dd4d7fbe7ad841c854264/pom.xml#L78-L81

The puzzle was created by Victor Noël on 07-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2020-09-07 15:46] 0pdd commented on #162
@victornoel the puzzle [#170](https://github.com/llorllale/cactoos-matchers/issues/170) is still not solved.

[2020-09-07 15:51] victornoel commented on #168
@0pdd superseded by #170

[2020-09-07 15:51] #168 closed

[2020-09-07 16:21] victornoel commented on #167
@rultor release, tag is `0.19`

[2020-09-07 16:23] rultor commented on #167
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23246-688420717)

[2020-09-07 16:30] rultor commented on #167
@andreoss @victornoel Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23246-688420717) (spent 6min)

[code]

[2020-09-07 17:29] victornoel commented on #167
@rultor release, tag is `0.19`

[2020-09-07 17:30] rultor commented on #167
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23246-688448125)

[2020-09-07 17:37] rultor commented on #167
@andreoss @victornoel Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23246-688448125) (spent 7min)

[code]

[2020-09-07 17:51] victornoel commented on #167
@rultor release, tag is `0.19`

[2020-09-07 17:52] rultor commented on #167
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23246-688456144)

[2020-09-07 18:02] rultor commented on #167
@victornoel Done! FYI, the full log is [here](https://www.rultor.com/t/23246-688456144) (took me 9min)

[2020-09-07 18:03] victornoel commented on #167
GOD, finally :)

Here you have it @andreoss, feel free to close this issue if it answers your needs!

Thank you again @llorllale for the help

[2020-09-07 18:24] andreoss commented on #167
@victornoel @llorllale What was the issue?

[2020-09-07 18:24] #167 closed

[2020-09-07 18:44] victornoel commented on #167
@andreoss just that the rultor configuration was very outdated, we had to update it, but it was a bit cryptic so we had to do a lot of try and error. Now it's all good :+1:

[2020-09-07 18:58] 0crat commented on #167
Job `gh:llorllale/cactoos-matchers#167` is not assigned, can't get performer

[2020-09-07 20:52] 0pdd opened #175 "build.yml:40-42: Add windows-2019 to the test matrix..."
The puzzle `83-98884b90` from #83 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/e03093c0aac77ba8201fb2b68d52fc730aa6ba57/.github/workflows/build.yml#L40-L42

The puzzle was created by @llorllale on 07-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2020-09-07 20:52] 0pdd commented on #83
@fabriciofx the puzzle [#175](https://github.com/llorllale/cactoos-matchers/issues/175) is still not solved.

[2020-09-07 20:54] llorllale commented on #83
@fabriciofx @victornoel PR #174 moved us to GitHub Actions. Pending tests on windows due to OS-specific errors there - see puzzle #175).

[2020-09-07 21:49] llorllale commented on #66
@fabriciofx bumped copyright date in 651c0170f12c83ebf4364e5ffa34f23a14e7ab77

[2020-09-07 21:49] #66 closed

[2020-09-07 22:08] 0crat commented on #66
Job `gh:llorllale/cactoos-matchers#66` is not assigned, can't get performer

[2020-09-08 07:09] victornoel commented on #83
@llorllale thank you

[2020-09-08 07:09] victornoel commented on #83
@0crat assign @llorllale

[2020-09-08 07:11] 0crat commented on #83
@victornoel The job [#83](https://github.com/llorllale/cactoos-matchers/issues/83) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/dff4ca73-4974-41fa-acf7-385aa01a8c45); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zeroc

[2020-09-08 07:48] 0crat commented on #146
The job [#146](https://github.com/llorllale/cactoos-matchers/issues/146) assigned to @andreoss[/z](https://www.0crat.com/u/andreoss), here is [why](https://www.0crat.com/footprint/C63314D6Z/ad0d10f7-b456-4f5e-abc6-a260a7086c27); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2020-09-08 08:52] llorllale commented on #83
@fabriciofx can we close this?

[2020-09-08 09:20] fabriciofx commented on #83
@llorllale yeah! Thanks!

[2020-09-08 09:20] #83 closed

[2020-09-08 10:00] 0crat commented on #83
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-09-08 17:46] victornoel commented on #162
@0crat status

[2020-09-08 18:00] 0crat commented on #162
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#162](https://github.com/llorllale/cactoos-matchers/issues/162) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [2mon](http://www.zerocracy.com/policy

[2020-09-08 18:17] #162 closed

[2020-09-08 18:17] victornoel commented on #162
@0crat out

[2020-09-08 18:35] 0crat commented on #162
Job `gh:llorllale/cactoos-matchers#162` is not assigned, can't get performer

[2020-09-09 18:19] paulodamaso commented on #156
@victornoel WDYT?

[2020-09-10 20:04] andreoss commented on #161
@llorllale Good point, though it depends on how readable the output of matcher `AllOf`will be
I was suggesting junit's approach
https://github.com/junit-team/junit5/blob/main/junit-jupiter-api/src/main/java/org/junit/jupiter/api/Assertions.java#L2910
https://github.com/junit-team/junit5/blob/main/junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertAll.java

[2020-09-11 11:56] #146 closed

[2020-09-11 11:56] 0pdd commented on #146
The puzzle `133-30a4a37a` has disappeared from the source code, that's why I closed this issue.

[2020-09-11 11:57] 0pdd commented on #133
@llorllale the only puzzle [#146](https://github.com/llorllale/cactoos-matchers/issues/146) is solved here.

[2020-09-13 11:22] victornoel commented on #137
@0crat status

[2020-09-13 11:25] 0crat commented on #137
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#137](https://github.com/llorllale/cactoos-matchers/issues/137) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Allorllale%2Fcactoos-matchers%23137%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-09-13 11:26] victornoel commented on #137
@0crat in

[2020-09-13 11:26] victornoel commented on #138
@0crat in

[2020-09-13 13:36] llorllale commented on #159
@0crat in

[2020-09-13 13:43] llorllale opened #177 "1.0.0 Readiness"
@victornoel milestone [`1.0.0`](https://github.com/llorllale/cactoos-matchers/milestone/1) is 100% complete. When are we releasing? :)

#159 seems to me like an important one to scope into 1.0.0. Is there anything else?

[2020-09-13 13:56] 0crat commented on #159
@llorllale You @llorllale[/z](https://www.0crat.com/u/llorllale) need to have one of these roles in order to do "Add job to WBS": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-13 13:59] llorllale opened #178 "Contributions"
Let's set up [all-contributors](https://github.com/all-contributors/all-contributors) on our README.

[2020-09-13 13:59] llorllale commented on #178
@0crat assign me

[2020-09-13 14:00] 0crat commented on #178
@llorllale You @llorllale[/z](https://www.0crat.com/u/llorllale) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-13 14:01] llorllale commented on #178
@all-contributors add @yegor256 for code

[2020-09-13 14:07] llorllale commented on #178
@all-contributors add @yegor256 for code

[2020-09-13 14:14] victornoel commented on #177
@llorllale yep, I started also to list important issues for v1 in cactoos.

In cactoos-matchers, I just added some new issues to the milestone that seems important.

IMHO #175 is not so important as this won't cause breaking changes if we do it after v1.

[2020-09-13 14:15] victornoel commented on #178
@0crat assign @llorllale

[2020-09-13 14:17] victornoel commented on #159
@0crat in

[2020-09-13 14:18] 0crat commented on #178
@victornoel The job [#178](https://github.com/llorllale/cactoos-matchers/issues/178) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/f58f19ce-8db7-4e96-9158-c42ae2ea33bf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zer

[2020-09-13 14:22] 0crat commented on #159
@victornoel Job [#159](https://github.com/llorllale/cactoos-matchers/issues/159) is already in scope

[2020-09-13 14:29] llorllale commented on #178
@all-contributors add @llorllale for code

[2020-09-13 14:38] llorllale commented on #178
@all-contributors add @yegor256 for code

[2020-09-13 14:39] llorllale commented on #178
@all-contributors add @proshin-roman for code

[2020-09-13 14:41] llorllale commented on #178
@all-contributors add @dgroup for code

[2020-09-13 14:42] llorllale commented on #178
@all-contributors add @andreoss for code

[2020-09-13 14:46] llorllale commented on #178
@all-contributors add @victornoel for code

[2020-09-13 14:47] llorllale commented on #178
@all-contributors check

[2020-09-13 14:48] llorllale commented on #178
@all-contributors add @borysfan for code

[2020-09-13 14:49] llorllale commented on #178
@all-contributors add @scristalli for code

[2020-09-13 14:49] llorllale commented on #178
@all-contributors add @fanifieiev for code

[2020-09-13 14:50] llorllale commented on #178
@all-contributors add @paulodamaso for code

[2020-09-13 14:51] llorllale commented on #178
@all-contributors add @Vatavuk for code

[2020-09-13 14:52] llorllale commented on #178
@all-contributors add @SharplEr for code

[2020-09-13 14:52] victornoel commented on #177
@llorllale also I think it would be good that we update to the latest version of cactoos (maybe to the version just before cactoos v1 is released...)

[2020-09-13 14:52] llorllale commented on #178
@all-contributors add @vzurauskas for code

[2020-09-13 14:53] llorllale commented on #178
@all-contributors add @jsoroka for code

[2020-09-13 14:57] llorllale commented on #178
@victornoel done.

Added everyone from the original contributors list except someone named "Nikita Salomatin" - I don't have their GH handle. If someone can locate that person then we will add them.

Also added everyone else from GH's [graph of contributors](https://github.com/llorllale/cactoos-matchers/graphs/contributors)

[2020-09-13 14:57] #178 closed

[2020-09-13 15:20] victornoel commented on #135
@0crat wait for #195.

[2020-09-13 15:22] llorllale commented on #177
@victornoel

How long (roughly) before cactoos v1 happens? We shouldn't have to depend on it.

[2020-09-13 15:23] 0crat commented on #135
@victornoel Job [#135](https://github.com/llorllale/cactoos-matchers/issues/135) is already on hold

[2020-09-13 15:27] 0crat commented on #178
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-09-13 15:30] victornoel commented on #177
@llorllale I agree it's not the most important since we should have #159.

[2020-09-13 20:07] 0crat commented on #165
The job [#165](https://github.com/llorllale/cactoos-matchers/issues/165) assigned to @ruca905[/z](https://www.0crat.com/u/ruca905), here is [why](https://www.0crat.com/footprint/C63314D6Z/1afc3d02-8e89-49db-8808-b9e0ed1ac2b8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-09-13 20:59] 0crat commented on #138
The job [#138](https://github.com/llorllale/cactoos-matchers/issues/138) assigned to @ruca905[/z](https://www.0crat.com/u/ruca905), here is [why](https://www.0crat.com/footprint/C63314D6Z/6c898130-eb30-4f71-b4cf-24d742d38545); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-09-15 17:33] victornoel commented on #138
@ruca905 I see you are new around here, welcome. If you have questions don't hesitate to ask here, there are no incorrect questions :)

And also, if a task seems too much as a starter (like the present one that is not so obvious when it's the first time in this project), don't hesitate to simply refuse it with `@0crat refuse`).

If you are inactive for too long (~10 days) on a task, I may remove i

[2020-09-15 17:33] #135 closed

[2020-09-15 17:37] 0crat commented on #138
Are you speaking to me or about me [here](https://github.com/llorllale/cactoos-matchers/issues/138#issuecomment-692864366); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-09-15 22:20] andreoss commented on #159
@victornoel @llorllale More likely it was already discussed, but why not merge `cactoos` and `cactoos-matchers` on source code basis?

[2020-09-16 10:57] victornoel commented on #159
@andreoss one reason could be that cactoos-matchers is meant to be a test dependency, while cactoos is meant to be a compile dependency.

[2020-09-16 11:33] andreoss commented on #159
@victornoel It could be in `cactoos-tests.jar` than https://maven.apache.org/plugins/maven-jar-plugin/examples/create-test-jar.html

[2020-09-16 12:17] victornoel commented on #159
@andreoss I don't think it would be a very good practice because it would mean that we would mix the matchers, the matchers tests and cactoos tests in one place and provide it via a test jar so people using cactoos-tests would get all of that on their classpath…

[2020-09-16 19:10] andreoss commented on #160
@0crat refuse

[2020-09-16 19:26] 0crat commented on #160
@andreoss The user @andreoss[/z](https://www.0crat.com/u/andreoss) resigned from [#160](https://github.com/llorllale/cactoos-matchers/issues/160), please stop working. Reason for job resignation: Order was cancelled

[2020-09-20 15:15] ruca905 opened #198 "Removing all constructors except the last one in Matcher class creates a lot of copied code"
It is created from #165 task
I tried to solve this in #197 PR

[2020-09-20 15:18] ruca905 commented on #198
@victornoel

[2020-09-20 16:31] victornoel commented on #198
@ruca905 @andreoss if there are questions about an issue, let's discuss it directly in the issue, no need to create a new one.

That being said, we can directly discuss this question in the PR itself in this case.

[2020-09-20 16:31] #198 closed

[2020-09-20 16:56] 0crat commented on #198
Job `gh:llorllale/cactoos-matchers#198` is not assigned, can't get performer

[2020-09-22 09:38] victornoel commented on #159
@andreoss thx!

[2020-09-22 09:38] #159 closed

[2020-09-22 10:00] 0crat commented on #159
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-09-22 10:03] sereshqua commented on #159
@0crat quality good

[2020-09-25 16:55] fabriciofx opened #199 "TextIs should test asString(), toString(), equals() and hashCode()"
Actually, `TextIs` matcher just checks if two `Text#asString()` are equals. IMHO, to two `Text` are truly equals, `asString()`, `toString()`, `equals()` and `hashCode()` must be equals, because:

- `asString() and `toString()` are the same thing, should be equals;
- If both are equals, by logic, `equals()` must be equals too;
- As `hashCode()` is closely linked to `equals()`, both `hashCode()` sho

[2020-09-25 17:14] victornoel commented on #199
@fabriciofx yes, I agree.

And also, if someone just want to test that two Text are equal without the extra checks, they can use the IsEqual matcher.

For the record, this ticket comes from a discussion there: yegor256/cactoos#1472.

[2020-09-26 15:54] llorllale commented on #199
@fabriciofx I agree with all but `toString()`: there are no _identity_ semantics attached to its definition.

[2020-09-27 09:11] victornoel commented on #138
@0crat refuse

[2020-09-27 09:13] 0crat commented on #138
@victornoel The user @ruca905[/z](https://www.0crat.com/u/ruca905) resigned from [#138](https://github.com/llorllale/cactoos-matchers/issues/138), please stop working. Reason for job resignation: Order was cancelled

[2020-09-27 09:13] victornoel commented on #199
@llorllale I was wondering also about `toString()`: in cactoos, it is kind of expected that the contract of `Text` is that `toString()` returns the same thing as `asString()`, no?

[2020-09-27 09:14] victornoel commented on #159
@rultor release, tag is `0.20`

[2020-09-27 09:15] rultor commented on #159
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23411-699609175)

[2020-09-27 09:24] rultor commented on #159
@victornoel Done! FYI, the full log is [here](https://www.rultor.com/t/23411-699609175) (took me 8min)

[2020-09-27 09:37] victornoel commented on #156
@andreoss @llorllale @paulodamaso sorry for the late answer on this :)

Basically, I think it's a good idea to introduce an interface yes. At first I was thinking like @llorllale with his comment about `assertAll` being the same as `AllOf` (see https://github.com/llorllale/cactoos-matchers/issues/161#issuecomment-688394135), but I feel like that if we want to have multiple conditional and non-cond

[2020-09-27 10:04] victornoel commented on #159
@llorllale @andreoss I just realized that this does not work: for example if you use `StartsWith`, it will expect a `org.llorllale.cactoos.shaded.org.cactoos.Text` but in cactoos it will be a `org.cactoos.Text`! So cactoos does not compile and cannot run tests in practice.

I thought you tested it and it worked @andreoss? Do you know why I am having this problem?

[2020-09-27 10:28] victornoel commented on #159
@llorllale @andreoss FYI I've disabled the shade plugin in #201 and will release a new version since 0.20 is broken once it is merged

[2020-09-27 10:52] 0pdd opened #202 "pom.xml:162-169: This plugin execution was disabled..."
The puzzle `159-5a01dc84` from #159 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/c5404b80adcab48beaa78c6b3b158ec4a2a1713a/pom.xml#L162-L169

The puzzle was created by Victor Noël on 27-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2020-09-27 10:52] 0pdd commented on #202
This puzzle inherited milestone `1.0.0` from issue #159.

[2020-09-27 11:07] victornoel commented on #159
@rultor release, tag is `0.21`

[2020-09-27 11:31] victornoel commented on #159
@rultor release, tag is `0.21`

[2020-09-27 13:43] llorllale commented on #199
@victornoel no one should rely on `Text.toString()` being equal to `Text.asString()`. Seems to me like if anyone is then they're actually relying on implementation of `TextOf` which, again, has no commitment to having those two equal.

Are we thinking about formatting strings using `Text` here? That's the only practical place I see where it would make sense for `Text.toString()` be equal to `Text.

[2020-09-27 13:48] victornoel commented on #199
@llorllale I see your point. I'm a bit confused about the meaning of `toString` for `Text` then... what is it?

[2020-09-27 13:56] rultor commented on #159
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23411-699620739)

[2020-09-27 14:06] rultor commented on #159
@victornoel Done! FYI, the full log is [here](https://www.rultor.com/t/23411-699620739) (took me 9min)

[2020-09-27 14:08] rultor commented on #159
@victornoel Invalid release tag `0.21` specified. There is already a release `0.21` newer than the given release in this repository.

[2020-09-27 14:08] rultor commented on #159
@victornoel I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2020-09-27 14:48] victornoel opened #203 "Simplify TextMatcher to take a Matcher<String>"
Since `TextMatcher` is meant to work at a lower level of abstraction than the `Matcher<Text>` class it implements, let's make it take a `Matcher<String>` instead of a `Matcher<Text>`.

This will simplify code, behaviour and shouldn't introduce regression.

[2020-09-27 14:48] victornoel commented on #203
@0crat assign me

[2020-09-27 16:12] victornoel commented on #203
@0crat wait for #204

[2020-09-29 14:14] #203 closed

[2020-09-29 14:31] 0crat commented on #203
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-09-30 21:43] fabriciofx commented on #164
@0crat status

[2020-09-30 21:46] fabriciofx commented on #160
@0crat status

[2020-10-01 17:53] 0crat commented on #164
@fabriciofx This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#164](https://github.com/llorllale/cactoos-matchers/issues/164) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for [5days](http://www.zerocracy.com/polic

[2020-10-01 17:54] 0crat commented on #160
@fabriciofx This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#160](https://github.com/llorllale/cactoos-matchers/issues/160) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for [6days](http://www.zerocracy.com/polic

[2020-10-11 10:39] victornoel commented on #202
@0crat status

[2020-10-11 10:40] victornoel commented on #202
@0crat in

[2020-10-11 10:59] 0crat commented on #202
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#202](https://github.com/llorllale/cactoos-matchers/issues/202) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Allorllale%2Fcactoos-matchers%23202%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-10-11 11:04] 0crat commented on #202
@victornoel Job [#202](https://github.com/llorllale/cactoos-matchers/issues/202) is already in scope

[2020-10-18 13:17] victornoel commented on #160
@fabriciofx are you going to solve this ticket?

[2020-10-18 13:17] victornoel commented on #164
@fabriciofx are you going to solve this ticket?

[2020-10-18 13:18] victornoel commented on #138
@0crat status

[2020-10-18 13:20] 0crat commented on #138
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#138](https://github.com/llorllale/cactoos-matchers/issues/138) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for [17days](http://www.zerocracy.com/poli

[2020-10-31 01:58] andreoss commented on #156
@victornoel

Not sure if directly related to this discussion, but the problem I see with `new Assertion(..)affirm()` is that one has to call
`affirm()` method explicitly (which is an easy thing to forget) in each method imperatively.
A more proper way would be to return `Assertion`. i.e
[code]

In order for `Assertion` to be detectable by Jupiter's `@TestFactory` it should be implemented like that

[2020-11-01 21:42] andreoss opened #207 "IsNumber matcher"
There are several classes in cactoos that extend `Number` (`LengthOf`, `DivisionOf`, `AvgOf`, `SumOf`, `NumberOf`, `NumberEnvelope`, `MultiplicationOf`, `MaxOf`, `MinOf`, `Sealed`).

Let's introduce `IsNumber` in order to test them with avoiding calling `intValue()`, `longValue()`, etc on these objects.

[2020-11-05 14:59] victornoel commented on #207
@0crat assign @andreoss

[2020-11-06 03:42] andreoss commented on #199
This issue also was brought up here https://github.com/yegor256/cactoos/pull/1485#discussion_r515449483

@fabriciofx
Testing for `equals` & `hashCode` breaks `TextIs` for implementations that are not based upon `TextEnvelope` + `TextOf`, in cactoos it's `text.Sticky`. The contract for `equals`/`hashCode` [3] is not obvious for a user who implements `Text` .
But since `TextOf` uses original string

[2020-11-06 14:44] ruca905 commented on #165
@0crat wait #138

[2020-11-07 15:50] victornoel commented on #199
@andreoss just reacting about the point about equals: every implementation of text could/should implement it. You don't have to rely on TextOf for that. It's not ideal and it's not 100% clear if the text interface contract should include equals and hashcode but for now, it seems to be the case...

[2020-11-11 18:43] kokodyn opened #209 "Make Mismatches platform independent"
In Mismatches class there is hardcoded value for new line character. It caues all tests using Mismatches failing on Windows system.
Details what should be changed:
https://github.com/llorllale/cactoos-matchers/blob/master/src/main/java/org/llorllale/cactoos/matchers/Mismatches.java#L103
Fix is in way.

[2020-11-12 00:50] andreoss commented on #209
@kokodyn Related to #175

[2020-11-12 00:50] andreoss commented on #175
@0crat wait for #209

[2020-11-12 03:55] 0crat commented on #175
@andreoss Job `gh:llorllale/cactoos-matchers#175` is not assigned, can't get performer

[2020-11-14 16:38] victornoel commented on #209
@0crat in

[2020-11-14 16:38] victornoel commented on #209
Thank you @kokodyn

[2020-11-14 17:43] victornoel commented on #209
@0crat assign @kokodyn

[2020-11-15 14:31] victornoel opened #211 "Release 0.22"
In order to fix some problems between cactoos/cactoos-matchers due to some API changes in cactoos.

[2020-11-15 15:04] victornoel commented on #211
@rultor release, tag is `0.22`

[2020-11-15 15:05] rultor commented on #211
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23692-727583912)

[2020-11-15 15:15] rultor commented on #211
@victornoel Done! FYI, the full log is [here](https://www.rultor.com/t/23692-727583912) (took me 10min)

[2020-11-15 19:31] #211 closed

[2020-11-16 13:14] andreoss opened #213 "Consistant naming of matcher objects"
Follow-up of #207

The current naming seems inconsistent with the verb part being place at the beginning, at the end and in the middle of an object name.

Proposal:
Rename:
  - `IsText` instead of `TextIs`
  - `IsNumber` ... `NumberIs`
  - `HasContent` ... `InputHasContent`
  - `HasString` ... `TextHasString`
  - `HasValue` ... `ScalarHasValue`
  - `Applies` / `IsApplied` ..  `FuncApplies`
In gene

[2020-11-22 16:26] andreoss commented on #213
@0crat  ping

[2020-11-26 12:27] kokodyn commented on #209
Hi
Problem fixed in scope of:
https://github.com/llorllale/cactoos-matchers/pull/210

[2020-11-26 12:27] #209 closed

[2020-12-04 08:57] andreoss opened #214 "Upgrade to Hamcrest 2.2"
As 1.3 branch is no longer supported. Let's move to 2.2

[2020-12-23 19:21] 0crat commented on #209
@victornoel Job [#209](https://github.com/llorllale/cactoos-matchers/issues/209) is closed, can't start order

[2020-12-27 11:19] victornoel commented on #165
@0crat refuse

[2020-12-27 11:20] victornoel commented on #160
@0crat refuse

[2020-12-27 11:20] victornoel commented on #164
@0crat refuse

[2020-12-27 11:21] victornoel commented on #138
@0crat refuse

[2020-12-27 11:24] 0crat commented on #165
@victornoel The user @ruca905[/z](https://www.0crat.com/u/ruca905) resigned from [#165](https://github.com/llorllale/cactoos-matchers/issues/165), please stop working. Reason for job resignation: Order was cancelled

[2020-12-27 11:24] 0crat commented on #164
@victornoel The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#164](https://github.com/llorllale/cactoos-matchers/issues/164), please stop working. Reason for job resignation: Order was cancelled

[2020-12-27 11:25] victornoel commented on #207
@andreoss I see some commits associated to this ticket, but no PR, did you forget to create it?

[2020-12-27 11:55] 0crat commented on #138
@victornoel The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#138](https://github.com/llorllale/cactoos-matchers/issues/138), please stop working. Reason for job resignation: Order was cancelled

[2020-12-27 12:15] 0crat commented on #160
@victornoel The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#160](https://github.com/llorllale/cactoos-matchers/issues/160), please stop working. Reason for job resignation: Order was cancelled

[2020-12-27 12:22] andreoss commented on #207
@victornoel It was merged already https://github.com/llorllale/cactoos-matchers/pull/208

[2020-12-27 13:20] victornoel commented on #207
@andreoss ah perfect, next time can you close or ping the bug reporter (or ARC) for the issue to be closed once an issue is fixed? :)

[2020-12-27 13:20] #207 closed

[2020-12-27 13:21] victornoel commented on #207
@andreoss also don't hesitate to create an issue in cactoos for starting using this new matcher in the tests then!

[2020-12-27 14:15] 0crat commented on #207
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-12-27 14:16] 0crat commented on #164
The job [#164](https://github.com/llorllale/cactoos-matchers/issues/164) assigned to @ruca905[/z](https://www.0crat.com/u/ruca905), here is [why](https://www.0crat.com/footprint/C63314D6Z/fc662d24-3cce-4983-b2fe-8ba2a9e16469); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-12-27 15:54] sereshqua commented on #207
@victornoel please make sure problem reported and problem solvers are 2 different persons

[2020-12-27 16:35] victornoel commented on #207
@sereshqua yes, we are a bit short in active DEVs but nevertheless, I will try do to so in the future :)

[2020-12-28 15:23] sereshqua commented on #207
@0crat quality acceptable

[2020-12-28 16:55] victornoel commented on #214
@andreoss  It seems a good idea, thank you

[2020-12-28 16:55] victornoel commented on #214
@0crat in

[2020-12-28 16:57] victornoel commented on #213
@andreoss great idea, thx, let's do that.

Let's use `IsApplicable` for the last one

[2020-12-28 16:57] victornoel commented on #213
@0crat in

[2020-12-31 13:05] dgroup opened #215 "New matcher is required to detect that file exists"
[code]

[2021-01-06 18:07] 0crat commented on #138
The job [#138](https://github.com/llorllale/cactoos-matchers/issues/138) assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), here is [why](https://www.0crat.com/footprint/C63314D6Z/44bf3537-28f3-4f0c-8d00-379ae83f83bf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2021-01-08 07:29] baudoliver7 commented on #138
@victornoel ping

[2021-01-08 07:38] victornoel commented on #138
@baudoliver7 why are you pigging me?

[2021-01-08 07:41] baudoliver7 commented on #138
PR submitted for this issue.

[2021-01-08 07:48] victornoel commented on #138
@baudoliver7 the process is the following:
- job is assigned to DEV (you)
- DEV submits a PR
- PR is assigned to REV (@fabriciofx I believe)
- REV reviews and tells ARC (me) it is good to be merged
- ARC does a final review and merge

Currently we are waiting for REV, I cannot do anything.

[2021-01-08 07:51] baudoliver7 commented on #138
Ok

[2021-01-11 17:27] 0crat commented on #213
The job [#213](https://github.com/llorllale/cactoos-matchers/issues/213) assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), here is [why](https://www.0crat.com/footprint/C63314D6Z/4eaa9d39-4f1f-4ca3-85cd-6c1e21ba0cdb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2021-01-14 01:37] baudoliver7 commented on #213
@victornoel the work has been for 2 days. Just to prevent you. :)

[2021-01-14 15:04] 0pdd opened #220 "pom.xml:162-169: This plugin execution was disabled..."
The puzzle `159-5a01dc84` from #159 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/7f14f8ab52077127dfd1dc3da857a8158728eabc/pom.xml#L162-L169

The puzzle was created by Victor Noël on 27-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2021-01-14 15:04] 0pdd commented on #220
This puzzle inherited milestone `1.0.0` from issue #159.

[2021-01-14 15:04] 0pdd commented on #159
@victornoel the puzzle [#220](https://github.com/llorllale/cactoos-matchers/issues/220) is still not solved.

[2021-01-14 18:05] #214 closed

[2021-01-14 18:22] #170 closed

[2021-01-14 18:22] 0pdd commented on #170
The puzzle `162-6ab83915` has disappeared from the source code, that's why I closed this issue.

[2021-01-14 18:22] 0pdd commented on #162
@victornoel the only puzzle [#170](https://github.com/llorllale/cactoos-matchers/issues/170) is solved here.

[2021-01-14 18:26] 0crat commented on #214
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-01-14 18:52] sereshqua commented on #214
@victornoel hi! do you know why is this assigned to @fabriciofx, who seems to not longer present in this project.

[2021-01-14 19:18] 0crat commented on #170
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-01-14 19:39] victornoel commented on #214
@sereshqua I discussed with him and he told me he will look into assigned jobs, but I think he is busy, so I will start refusing jobs for him now I think after a delay to give the opportunity to others to take the job :)

[2021-01-14 20:01] sereshqua commented on #214
@0crat quality bad

[2021-01-14 20:01] sereshqua commented on #170
@0crat quality bad

[2021-01-14 20:18] 0crat commented on #214
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2021-01-14 20:23] 0crat commented on #170
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2021-01-15 18:10] victornoel commented on #165
@0crat refuse

[2021-01-15 18:10] victornoel commented on #202
@0crat refuse

[2021-01-15 18:13] victornoel commented on #175
@0crat refuse

[2021-01-15 18:14] victornoel commented on #164
@ruca905 are you still with us and willing to complete jobs? :)

[2021-01-15 18:21] 0crat commented on #175
@victornoel The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#175](https://github.com/llorllale/cactoos-matchers/issues/175), please stop working. Reason for job resignation: Order was cancelled

[2021-01-15 18:33] 0crat commented on #202
@victornoel The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#202](https://github.com/llorllale/cactoos-matchers/issues/202), please stop working. Reason for job resignation: Order was cancelled

[2021-01-15 18:35] 0crat commented on #165
@victornoel The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#165](https://github.com/llorllale/cactoos-matchers/issues/165), please stop working. Reason for job resignation: Order was cancelled

[2021-01-15 18:51] victornoel commented on #137
@0crat refuse

[2021-01-15 19:17] 0crat commented on #137
@victornoel The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#137](https://github.com/llorllale/cactoos-matchers/issues/137), please stop working. Reason for job resignation: Order was cancelled

[2021-01-16 10:47] victornoel commented on #215
@dgroup could you update the description to make this a Matcher of Path instead of File. The constructors should only take Path and File imho, no need for Strings and for Scalar.

Also, let's name it `Exists` (or if you have a better idea, I'm open :)

[2021-01-16 10:48] victornoel commented on #213
@andreoss this has been merged, if the result is good with you, could you close this ticket?

[2021-01-16 11:37] 0pdd commented on #138
The puzzle `106-02263f65` has disappeared from the source code, that's why I closed this issue.

[2021-01-16 11:37] #138 closed

[2021-01-16 11:37] 0pdd commented on #106
@victornoel 2 puzzles [#137](https://github.com/llorllale/cactoos-matchers/issues/137), [#164](https://github.com/llorllale/cactoos-matchers/issues/164) are still not solved; solved: [#136](https://github.com/llorllale/cactoos-matchers/issues/136), [#138](https://github.com/llorllale/cactoos-matchers/issues/138).

[2021-01-16 12:22] 0crat commented on #138
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-01-16 12:26] sereshqua commented on #138
@baudoliver7 please make sure you will start all you comments with the name of the user you are referring to:

[see](https://github.com/llorllale/cactoos-matchers/issues/138#issuecomment-756603004)

[2021-01-16 12:40] baudoliver7 commented on #138
@sereshqua I get it

[2021-01-16 12:41] baudoliver7 commented on #138
@sereshqua Correction has been done for that

[2021-01-16 12:45] sereshqua commented on #138
@0crat quality acceptable

[2021-01-16 13:17] 0crat commented on #165
The job [#165](https://github.com/llorllale/cactoos-matchers/issues/165) assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), here is [why](https://www.0crat.com/footprint/C63314D6Z/befd286d-c269-4635-bb7f-d9ff4a41ed6f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2021-01-16 17:55] baudoliver7 commented on #213
@andreoss ping

[2021-01-16 18:19] andreoss commented on #213
Done in #217

[2021-01-16 18:19] #213 closed

[2021-01-16 19:10] 0crat commented on #213
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-01-16 20:23] sereshqua commented on #213
@andreoss please make sure you start all your comments with the name of the user they are referred to, [see](https://github.com/llorllale/cactoos-matchers/issues/213#issuecomment-761610231)

[2021-01-16 20:23] sereshqua commented on #213
@0crat quality acceptable

[2021-01-26 00:27] 0crat commented on #202
The job [#202](https://github.com/llorllale/cactoos-matchers/issues/202) assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), here is [why](https://www.0crat.com/footprint/C63314D6Z/706d318e-d21c-44d1-b195-b0c312f77f4b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2021-01-26 13:32] #165 closed

[2021-01-26 13:32] 0pdd commented on #165
The puzzle `135-e0b9c886` has disappeared from the source code, that's why I closed this issue.

[2021-01-26 13:32] 0pdd opened #224 "HasContent.java:58-60: We need an InputMatcher similar to..."
The puzzle `165-d4e7ec1b` from #165 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/9b0f9fa20f3ff3a47ccd77a1d4ead7da7ddf558e/src/main/java/org/llorllale/cactoos/matchers/HasContent.java#L58-L60

The puzzle was created by @baudoliver7 on 17-Jan-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2021-01-26 13:32] 0pdd commented on #224
This puzzle inherited milestone `1.0.0` from issue #165.

[2021-01-26 13:32] 0pdd opened #225 "IsNumber.java:51-52: Introduce a ComparatorMatcher that..."
The puzzle `165-c099c2ad` from #165 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/9b0f9fa20f3ff3a47ccd77a1d4ead7da7ddf558e/src/main/java/org/llorllale/cactoos/matchers/IsNumber.java#L51-L52

The puzzle was created by @baudoliver7 on 17-Jan-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b

[2021-01-26 13:32] 0pdd commented on #225
This puzzle inherited milestone `1.0.0` from issue #165.

[2021-01-26 13:32] 0pdd commented on #135
@victornoel 2 puzzles [#224](https://github.com/llorllale/cactoos-matchers/issues/224), [#225](https://github.com/llorllale/cactoos-matchers/issues/225) are still not solved; solved: [#165](https://github.com/llorllale/cactoos-matchers/issues/165).

[2021-01-26 13:32] 0pdd commented on #165
@0pdd 2 puzzles [#224](https://github.com/llorllale/cactoos-matchers/issues/224), [#225](https://github.com/llorllale/cactoos-matchers/issues/225) are still not solved.

[2021-01-26 14:09] 0crat commented on #165
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-01-26 14:59] sereshqua commented on #165
@0crat quality good

[2021-01-28 07:04] baudoliver7 commented on #202
@victornoel Let's please discuss about this plugin and the problem in question

[2021-01-28 07:40] victornoel commented on #202
@baudoliver7 yes, this is not an easy problem. Basically the original need was introduced in #159. If you have ideas to solve this problem, either using the shade plugin or something else, we can discuss it here: this is more a design job than a programming job. If we find a good idea, we will add a new todo.

Alternatively, do not forget you can also refuse jobs if you don't want to do them.

[2021-01-28 15:16] baudoliver7 commented on #202
@victornoel This task seems very interesting ! I will try to resolve it :)

[2021-01-28 20:24] dgroup commented on #215
@victornoel I'm fine with `Exists`, but disagree with
 - removing constructor for String/Scalar (in fact we gives more options on how to build a matcher)
 - use Path instead of File, because most of the API which I'm facing returns files, not Path.

Could you please clarify more your ideas?

[2021-01-30 11:31] baudoliver7 commented on #202
@victornoel This ticket is assigned to me but doesn't appear in my agenda. Curious :)

[2021-01-31 17:58] victornoel commented on #202
@0crat status

[2021-01-31 17:58] victornoel commented on #202
@baudoliver7 you can try raising an issue at zerocracy/farm but I would expect you to get ignored there ^^

[2021-01-31 18:06] 0crat commented on #202
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#202](https://github.com/llorllale/cactoos-matchers/issues/202) is [in scope](http://www.zerocracy.com/policy.html#14) for 4mon
  * The role is `DEV`
  * The job is assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7) for [6days](http://www.zerocracy.com/pol

[2021-02-03 03:55] baudoliver7 commented on #202
@0crat status

[2021-02-03 04:28] 0crat commented on #202
@baudoliver7 This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#202](https://github.com/llorllale/cactoos-matchers/issues/202) is [in scope](http://www.zerocracy.com/policy.html#14) for 4mon
  * The role is `DEV`
  * The job is assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7) for [8days](http://www.zerocracy.com/po

[2021-02-06 11:31] victornoel commented on #220
@0crat out

[2021-02-06 11:31] victornoel commented on #220
Duplicate of #202 apparently... not sure why

[2021-02-06 11:32] victornoel commented on #202
@baudoliver7 how is it going with this? I was thinking (if that's possible) that the maven shade plugin could shade everything BUT the interfaces. Then it should be ok.

[2021-02-06 11:33] 0crat commented on #220
@victornoel Job `gh:llorllale/cactoos-matchers#220` is not assigned, can't get performer

[2021-02-06 11:46] victornoel commented on #202
@baudoliver7 it seems to be possible with:
[code]

[2021-02-06 14:31] victornoel commented on #202
@baudoliver7 btw even if it doesn't appear in the agenda, it's really assigned to you and you will get the points :)

[2021-02-06 14:34] baudoliver7 commented on #202
@victornoel I think it's the solution. I will try this.

[2021-02-13 13:40] #220 closed

[2021-02-13 13:40] 0pdd commented on #220
The puzzle `159-5a01dc84` has disappeared from the source code, that's why I closed this issue.

[2021-02-13 13:40] 0pdd commented on #159
@victornoel the only puzzle [#220](https://github.com/llorllale/cactoos-matchers/issues/220) is solved here.

[2021-02-13 14:08] 0crat commented on #220
Job `gh:llorllale/cactoos-matchers#220` is not assigned, can't get performer

[2021-02-14 18:58] victornoel commented on #164
@0crat refuse

[2021-02-14 19:06] 0crat commented on #164
@victornoel The user @ruca905[/z](https://www.0crat.com/u/ruca905) resigned from [#164](https://github.com/llorllale/cactoos-matchers/issues/164), please stop working. Reason for job resignation: Order was cancelled

[2021-02-14 19:10] 0pdd opened #230 "ThrowsTest.java:43-45: Replace all the tests in this file..."
The puzzle `20-e1bad078` from #20 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/ce70d2298824776fc969d0c14407b0a3f81fd225/src/test/java/org/llorllale/cactoos/matchers/ThrowsTest.java#L43-L45

The puzzle was created by Victor Noël on 13-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2021-02-14 19:10] 0pdd commented on #230
This puzzle inherited milestone `1.0.0` from issue #20.

[2021-02-14 19:10] 0pdd commented on #7
@proshin-roman the puzzle [#230](https://github.com/llorllale/cactoos-matchers/issues/230) is still not solved; solved: [#20](https://github.com/llorllale/cactoos-matchers/issues/20).

[2021-02-14 19:10] 0pdd commented on #20
@0pdd the puzzle [#230](https://github.com/llorllale/cactoos-matchers/issues/230) is still not solved.

[2021-02-17 18:50] 0pdd commented on #137
The puzzle `106-33b58c37` has disappeared from the source code, that's why I closed this issue.

[2021-02-17 18:50] #137 closed

[2021-02-17 18:50] #160 closed

[2021-02-17 18:50] 0pdd commented on #160
The puzzle `67-1f1425d4` has disappeared from the source code, that's why I closed this issue.

[2021-02-17 18:50] 0pdd commented on #106
@victornoel the puzzle [#164](https://github.com/llorllale/cactoos-matchers/issues/164) is still not solved; solved: [#136](https://github.com/llorllale/cactoos-matchers/issues/136), [#137](https://github.com/llorllale/cactoos-matchers/issues/137), [#138](https://github.com/llorllale/cactoos-matchers/issues/138).

[2021-02-17 18:50] 0pdd commented on #67
@dgroup the only puzzle [#160](https://github.com/llorllale/cactoos-matchers/issues/160) is solved here.

[2021-02-17 19:10] 0crat commented on #160
Job `gh:llorllale/cactoos-matchers#160` is not assigned, can't get performer

[2021-02-17 19:14] 0crat commented on #137
Job `gh:llorllale/cactoos-matchers#137` is not assigned, can't get performer

[2021-02-17 20:15] victornoel commented on #220
@rultor release, tag is `0.24`

[2021-02-17 20:16] rultor commented on #220
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24144-780825262)

[2021-02-17 20:24] rultor commented on #220
@0pdd @victornoel Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24144-780825262) (spent 8min)

[code]

[2021-02-20 15:11] victornoel commented on #220
@rultor release, tag is `0.24`

[2021-02-20 15:12] rultor commented on #220
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24144-782696140)

[2021-02-20 15:21] rultor commented on #220
@victornoel Done! FYI, the full log is [here](https://www.rultor.com/t/24144-782696140) (took me 8min)

[2021-02-22 11:31] victornoel commented on #202
@baudoliver7 not sure why 0pdd didn't close it itself, so I do it manually, don't hesitate in the future to ask if you need tickets to be closed when the job is done :)

[2021-02-22 11:31] #202 closed

[2021-02-22 11:37] 0pdd commented on #164
The puzzle `136-fc001f3f` has disappeared from the source code, that's why I closed this issue.

[2021-02-22 11:37] #164 closed

[2021-02-22 11:54] baudoliver7 commented on #202
@victornoel Got it. Thx :)

[2021-02-22 12:11] 0crat commented on #202
Job [#202](https://github.com/llorllale/cactoos-matchers/issues/202) is not in the agenda of @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), can't set title

[2021-02-22 12:12] 0crat commented on #202
Job [#202](https://github.com/llorllale/cactoos-matchers/issues/202) is not in the agenda of @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), can't set title

[2021-02-22 12:13] 0crat commented on #202
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-02-22 12:16] 0crat commented on #164
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-02-22 12:21] sereshqua commented on #202
@0crat quality good

[2021-02-22 12:21] sereshqua commented on #164
@0crat quality good

[2021-02-22 14:52] baudoliver7 opened #235 "New matchers to compare easily a number with another one"
We notice many times that we need to compare  a number with another one. Currently, outside of static methods of Hamcrest (`greaterThan`, `lessThan`), the more easy way to do this is to use `Verifies` like this :
[code]

It would be very useful to introduce some new matchers to make this kind of assertions more expressive :

- `IsGreaterThan`
- `IsGreaterThanOrEqualTo`
- `IsLessThan`
- `IsLessThan

[2021-02-22 14:55] victornoel commented on #235
@baudoliver7 thx

[2021-02-22 14:55] victornoel commented on #235
@0crat in

[2021-02-22 15:05] baudoliver7 opened #236 "New matchers to test emptyness of a list or iterable"
We fill sometimes the need to test if a list, an array or an iterable is empty or not. We can currently do that like this :
[code]
To make it more readable, we can introduce two new matchers :

- `IsEmpty`
- `HasAny`

[2021-02-22 15:15] victornoel commented on #236
@baudoliver7 actually, I realized there was already `IsEmptyIterable` and `IsEmptyCollection` from hamcrest. Do you think it could be enough or am I missing something? As for `HasAny`, we could simply use the negation of those above with `IsNot`.

WDYT?

[2021-02-22 15:18] baudoliver7 commented on #236
@victornoel You are totally right. Let's close this issue.

[2021-02-22 15:18] #236 closed

[2021-02-22 15:35] 0crat commented on #236
Job `gh:llorllale/cactoos-matchers#236` is not assigned, can't get performer

[2021-03-14 18:39] victornoel commented on #215
@dgroup sorry for the late reply.

I just realized that there was something fishy with this Matcher: if it's a `Matcher<File>`, then why does it also take a file in the constructor? Shouldn't it be instead:
[code]

Or if not, then, it shouldn't be a `Matcher` of `File` but of `Proc` for example... Which one did you have in mind?

[2021-03-15 16:00] dgroup commented on #215
@victornoel agree, such approach is more laconic.

[2021-03-29 16:40] victornoel commented on #175
@0crat status

[2021-04-06 10:45] #175 closed

[2021-04-06 10:45] 0pdd commented on #175
The puzzle `83-98884b90` has disappeared from the source code, that's why I closed this issue.

[2021-04-06 10:45] 0pdd commented on #83
@fabriciofx the only puzzle [#175](https://github.com/llorllale/cactoos-matchers/issues/175) is solved here.

[2021-04-06 11:19] 0crat commented on #175
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#175](https://github.com/llorllale/cactoos-matchers/issues/175) is [in scope](http://www.zerocracy.com/policy.html#14) for 7mon
  * The role is `DEV`
  * The job is assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7) for [16days](http://www.zerocracy.com/po

[2021-04-06 11:20] 0crat commented on #175
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-04-06 12:07] sereshqua commented on #175
@0crat quality good

[2021-04-30 02:33] andreoss opened #239 "`HasValue` calls `Scalar::value` twice on mismatch"
https://github.com/llorllale/cactoos-matchers/blob/master/src/main/java/org/llorllale/cactoos/matchers/HasValue.java#L53

`HasValue` should call `value`  only once.

[2021-05-01 17:11] victornoel commented on #239
@andreoss indeed, that's a well known problem but quite hard to fix because of the way Matcher interface is designed: because it had two methods that can be called by assertion in case of mismatch, it's creating many problems like the one you highlight. The problem happens when testing inputs for example, they are sometimes read twice.

It's expecting a lot from the object manipulated in those met

[2021-05-02 09:50] victornoel opened #240 "Exploit generic variance to improve use experience"
Similarly to https://github.com/yegor256/cactoos/issues/1533, we need to exploit generic variance as much as possible in cactoos-matchers.

[2021-05-02 09:50] victornoel commented on #240
@0crat assign me

[2021-05-03 06:03] andreoss commented on #235
@victornoel Why not `Matcher<Comparable<?>>`?

[2021-05-03 06:59] andreoss commented on #239
@victornoel We could reimplement `Satisfies` to not use `MatcherOf` and cache `extractor` return value.
And reimplement `HasValue` with `Satisfies`.

[code]
[code]

[2021-05-03 12:28] victornoel commented on #239
@andreoss even though this would help solve the problem, I think the best would be to find an architectural solution that will prevent us from making mistakes. I'm a bit worried of using state in the matchers with caching and so on, also, this would solve the problem for one matcher, but not all of them, so we will have to be careful and write a lot of tests just to ensure things work as expected

[2021-05-03 12:31] victornoel commented on #235
@andreoss yes, that would make sense, or `Matcher<Comparable<? extends T>>` (or would that be `super`? I think both would work actually here ^^). Let's note that even though `Number` does not implement `Comparable`, all its subclasses do. But in cactoos, the `Number` implementation must be wrapped in `ComparableNumber` though (it's not yet implemented but will be part of https://github.com/yegor25

[2021-05-03 16:40] #240 closed

[2021-05-03 19:25] 0crat commented on #240
Job was finished in 30 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2021-05-03 23:01] andreoss commented on #239
@victornoel The other way to archive this is to change `Assertion` (https://github.com/llorllale/cactoos-matchers/issues/156).
`new AssertThat(() -> value, matcher)` - now `AssertThat` evaluates scalar, and `matcher` validates scalar's value.

[2021-05-04 01:41] andreoss opened #243 "Matcher `IsBytes` for `org.cactoos.Bytes` objects"
Proposal:
Add matcher for `Bytes` (https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/Bytes.java#L35)

[code]

[2021-05-04 16:41] victornoel commented on #239
@andreoss I don't think the problem is with the assertion itself: the root of the problem is that `Matcher` interface has two methods, one to check if the match failed and one to populate a description in case of mismatch. That's why there are two calls to `value()` in `HasValue` for example.

There are 3 solutions from my point of view:
- change the interface `Matcher` (i.e., introduce our own)
-

[2021-05-13 16:43] victornoel commented on #235
@0crat assign @andreoss

[2021-05-13 19:32] victornoel commented on #215
@dgroup cool, could you update the description to mirror the conclusion of this discussion?

[2021-05-15 13:56] #243 closed

[2021-05-15 13:57] 0pdd commented on #225
The puzzle `165-c099c2ad` has disappeared from the source code, that's why I closed this issue.

[2021-05-15 13:57] #225 closed

[2021-05-15 13:57] 0pdd commented on #135
@victornoel the puzzle [#224](https://github.com/llorllale/cactoos-matchers/issues/224) is still not solved; solved: [#165](https://github.com/llorllale/cactoos-matchers/issues/165), [#225](https://github.com/llorllale/cactoos-matchers/issues/225).

[2021-05-15 13:57] 0pdd commented on #165
@0pdd the puzzle [#224](https://github.com/llorllale/cactoos-matchers/issues/224) is still not solved; solved: [#225](https://github.com/llorllale/cactoos-matchers/issues/225).

[2021-06-10 06:51] victornoel commented on #235
@0crat status

[2021-06-10 06:52] victornoel commented on #240
@0crat status

[2021-06-10 06:52] victornoel commented on #225
@0crat status

[2021-06-10 06:53] victornoel commented on #203
@0crat status

[2021-06-10 07:30] 0crat commented on #225
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#225](https://github.com/llorllale/cactoos-matchers/issues/225) is [in scope](http://www.zerocracy.com/policy.html#14) for 4mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These u

[2021-06-10 08:07] 0crat commented on #240
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#240](https://github.com/llorllale/cactoos-matchers/issues/240) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Allorllale%2Fcactoos-matchers%23240%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2021-06-10 08:14] 0crat commented on #203
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#203](https://github.com/llorllale/cactoos-matchers/issues/203) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Allorllale%2Fcactoos-matchers%23203%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2021-06-10 08:16] 0crat commented on #235
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#235](https://github.com/llorllale/cactoos-matchers/issues/235) is [in scope](http://www.zerocracy.com/policy.html#14) for 4mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These u

[2021-06-10 16:24] victornoel commented on #225
@0crat out

[2021-06-10 16:27] 0crat commented on #225
@victornoel Job `gh:llorllale/cactoos-matchers#225` is not assigned, can't get performer

[2021-06-12 14:48] victornoel commented on #230
@0crat status

[2021-06-12 14:48] victornoel commented on #224
@0crat status

[2021-06-12 15:15] 0crat commented on #230
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#230](https://github.com/llorllale/cactoos-matchers/issues/230) is [in scope](http://www.zerocracy.com/policy.html#14) for 4mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These u

[2021-07-18 09:26] victornoel opened #249 "Assertion.affirm should take the object under test"
Instead of having the object under test passed to the constructor of Assertion, it should be passed to the `affirm()` method.

This will prevent forgetting to call affirm and makes things a bit more OO.

[2021-07-18 09:26] victornoel commented on #249
@0crat in

[2021-07-24 14:34] victornoel commented on #249
@0crat in

[2021-07-25 09:17] victornoel commented on #249
@0crat in

[2021-09-05 09:43] victornoel commented on #249
@0crat in