[2018-05-07 19:52] llorllale opened #1 "Coverage is too low"
Need to un-comment the jacoco configurations in the POM and make the following errors go away:

[code]

For starters, the CodeCov report from cactoos can be found [here](https://codecov.io/gh/yegor256/cactoos/tree/master/src/main/java/org/cactoos/matchers).

[2018-05-11 19:13] llorllale commented on #1
@rultor release, tag is `0.0.1`

[2018-05-11 19:18] rultor commented on #1
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14507-388459544)

[2018-05-11 19:25] rultor commented on #1
@llorllale Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14507-388459544) (spent 6min)

[code]

[2018-05-11 19:54] llorllale commented on #1
@rultor release, tag is `0.0.1`

[2018-05-11 19:55] rultor commented on #1
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14507-388469338)

[2018-05-11 20:03] rultor commented on #1
@llorllale Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14507-388469338) (spent 8min)

[code]

[2018-05-11 20:05] llorllale commented on #1
@rultor release, tag is `0.0.1`

[2018-05-11 20:08] rultor commented on #1
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14507-388471958)

[2018-05-11 20:15] rultor commented on #1
@llorllale Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14507-388471958) (spent 7min)

[code]

[2018-05-11 20:17] llorllale commented on #1
@rultor release, tag is `0.0.1`

[2018-05-11 20:30] rultor commented on #1
@llorllale Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14507-388474589) (spent 10min)

[code]

[2018-05-11 20:43] llorllale commented on #1
@rultor release, tag is `0.0.1`

[2018-05-11 20:43] rultor commented on #1
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14507-388480322)

[2018-05-11 20:46] rultor commented on #1
@llorllale Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14507-388480322) (spent 3min)

[code]

[2018-05-11 20:47] llorllale commented on #1
@rultor release, tag is `0.0.1`

[2018-05-11 20:51] rultor commented on #1
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14507-388481400)

[2018-05-11 20:59] rultor commented on #1
@llorllale Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14507-388481400) (spent 8min)

[code]

[2018-05-12 12:29] llorllale commented on #1
@rultor release, tag is `0.0.1`

[2018-05-12 12:30] rultor commented on #1
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14507-388551874)

[2018-05-12 12:37] rultor commented on #1
@llorllale Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14507-388551874) (spent 8min)

[code]

[2018-05-12 12:40] llorllale commented on #1
@rultor release, tag is `0.0.1`

[2018-05-12 12:42] rultor commented on #1
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14507-388552577)

[2018-05-12 12:50] rultor commented on #1
@llorllale Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14507-388552577) (spent 8min)

[code]

[2018-05-12 13:04] llorllale commented on #1
@rultor release, tag is `0.0.1`

[2018-05-12 13:05] rultor commented on #1
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14507-388553871)

[2018-05-12 13:13] rultor commented on #1
@llorllale Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14507-388553871) (spent 8min)

[code]

[2018-05-12 13:29] llorllale commented on #1
@rultor release, tag is `0.0.1`

[2018-05-12 13:31] rultor commented on #1
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14507-388555338)

[2018-05-12 13:39] rultor commented on #1
@llorllale Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14507-388555338) (spent 8min)

[code]

[2018-05-12 13:45] llorllale commented on #1
@rultor release, tag is `0.0.1`

[2018-05-12 13:45] rultor commented on #1
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14507-388556308)

[2018-05-12 13:56] rultor commented on #1
@llorllale Done! FYI, the full log is [here](http://www.rultor.com/t/14507-388556308) (took me 10min)

[2018-05-12 14:06] llorllale commented on #1
@0crat hey

[2018-05-12 14:06] 0crat commented on #1
@llorllale Hey, what's up, how is it going?

[2018-05-12 14:13] llorllale opened #3 "Release 0.9"
Let's release `0.9` in order to fix yegor256/cactoos#751. We're not releasing a `1.0` yet because #1 is yet to be fixed.

[2018-05-12 14:14] llorllale commented on #3
@rultor release, tag is `0.9`

[2018-05-12 14:16] rultor commented on #3
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14510-388558106)

[2018-05-12 14:26] rultor commented on #3
@llorllale Done! FYI, the full log is [here](http://www.rultor.com/t/14510-388558106) (took me 10min)

[2018-05-12 14:26] #3 closed

[2018-05-12 14:42] 0crat commented on #3
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1321445420, Type: 'Close job', Author: llorllale

[2018-05-12 15:26] llorllale opened #4 ""cactoos" dependency should not be transitive"
Otherwise `cactoos` build will fail due to an "undeclared dependency not being used"

[2018-05-12 15:28] llorllale commented on #4
Fixed in 6017a540dba41efadf5abd406eb81d06ba7a4ab2

[2018-05-12 15:28] #4 closed

[2018-05-12 15:29] llorllale commented on #4
@rultor release, tag is `0.9.1`

[2018-05-12 15:29] rultor commented on #4
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14511-388562721)

[2018-05-12 15:39] rultor commented on #4
@llorllale Done! FYI, the full log is [here](http://www.rultor.com/t/14511-388562721) (took me 10min)

[2018-05-12 15:44] 0crat commented on #4
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1321549384, Type: 'Close job', Author: llorllale

[2018-05-12 19:08] llorllale commented on #1
@0crat in

[2018-05-12 19:09] 0crat commented on #1
@llorllale Job [#1](https://github.com/llorllale/cactoos-matchers/issues/1) is now in scope, role is `DEV`

[2018-05-12 19:13] 0crat commented on #1
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-12 20:06] victornoel opened #5 "Matchers that take String should also take Text"
The available `Matcher`s often takes `String`s in their constructor.
They should also support taking `Text`.

This concerns at least:
- `InputHasContent`
- `TextHasString`

[2018-05-12 20:07] 0crat commented on #5
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-12 20:07] victornoel opened #6 "Incorrect implementation for FuncApplies.describeTo"
`FuncApplies.describeTo` refers to `Scalar` instead of `Func`

[2018-05-12 20:07] 0crat commented on #6
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-12 20:56] proshin-roman opened #7 "Matcher ScalarHasValue has to override describeMismatchSafely for better output"
This ticket is moved from https://github.com/yegor256/cactoos/issues/816

Currently, `ScalarHasValue` doesn't override method `describeMismatchSafely` that leads to the next problem:
[code]
so it prints an actual version incorrectly: default toString method is called for the Scalar.

**Expected:**
- the value of scalar is printed as an actual value of matching.

**What should be fixed**
- class `S

[2018-05-12 20:56] 0crat commented on #7
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-12 21:29] llorllale commented on #5
@0crat in

[2018-05-12 21:30] 0crat commented on #5
@llorllale Job [#5](https://github.com/llorllale/cactoos-matchers/issues/5) is now in scope, role is `DEV`

[2018-05-12 21:34] 0crat commented on #5
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-05-12 21:35] llorllale commented on #6
@victornoel check out c643fd7e64aea6895d5150bd99f8cccb78d2e9fd. Can we close this?

[2018-05-12 21:35] victornoel commented on #6
@llorllale perfect, thanks

[2018-05-12 21:35] #6 closed

[2018-05-12 21:37] llorllale commented on #7
@0crat in

[2018-05-12 21:38] 0crat commented on #7
@llorllale Job [#7](https://github.com/llorllale/cactoos-matchers/issues/7) is now in scope, role is `DEV`

[2018-05-12 21:40] 0crat commented on #7
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-12 21:51] 0crat commented on #6
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1322167249, Type: 'Close job', Author: victornoel

[2018-05-15 19:56] paulodamaso opened #8 "TextHasString is broken or misnamed"
`TextHasString` default is behaving incorrectly, according to its name. I've received the following error when implementing a test class:

[code]

According to the class name, it's expected that this matcher asserts if there is any occurrence of the sample String in the text object; however it is expecting the exact match of the sample String and the text.

I see two solutions for this case:

- Re

[2018-05-15 19:56] 0crat commented on #8
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-16 13:48] 0crat commented on #5
The job [#5](https://github.com/llorllale/cactoos-matchers/issues/5) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1361353515); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-05-16 13:56] 0crat commented on #7
The job [#7](https://github.com/llorllale/cactoos-matchers/issues/7) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/1361361625); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-05-16 15:06] 0crat commented on #1
The job [#1](https://github.com/llorllale/cactoos-matchers/issues/1) assigned to @sharpler[/z](https://www.0crat.com/u/sharpler), here is [why](https://www.0crat.com/footprint/C63314D6Z/1361513210); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-05-18 20:49] llorllale commented on #8
@paulodamaso I think `TextHasString` is fine. What it seems that you're looking for is a `TextContainsString`. Is that it?

[2018-05-19 10:04] victornoel commented on #7
@llorllale should other matchers be improved as well?

[2018-05-19 10:10] victornoel opened #10 "Upgrade qulice to 0.17.3"
Shamelessly copied from yegor256/cactoos-http#49 :)

New qulice version brings following important changes:
- removal of `@author` tag (it is prohibited now)
- removal of `@version` tag (it is prohibited now)
- license header should start with `/*` instead of `/**` - this will fix problem with IntelliJ reporting it as a javadoc that is not attached to any class
- checkstyle validation performance

[2018-05-19 10:10] 0crat commented on #10
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-19 13:50] llorllale commented on #7
@victornoel sure. You can also leave puzzles for continuing work past budget

[2018-05-19 13:51] llorllale commented on #10
@0crat in

[2018-05-19 13:53] 0crat commented on #10
@llorllale Job [#10](https://github.com/llorllale/cactoos-matchers/issues/10) is now in scope, role is `DEV`

[2018-05-19 13:54] 0crat commented on #10
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-05-19 16:29] victornoel opened #11 "cactoos-matchers depends on cactoos which contains the matchers!"
There is two thing really strange:
1. cactoos-matchers relies on an old version of cactoos that currently contains the very same matchers
2. if cactoos-matchers were relying on a newer version of cactoos, the latter would rely on cactoos-matchers: this is not very good architecturally speaking!

This should be fixed, I don't know how.

[2018-05-19 16:29] 0crat commented on #11
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-19 16:44] victornoel opened #12 "the test in cactoos-matchers are testing the matchers in old cactoos"
The tests in cactoos-matchers are in the package `org.cactoos.matchers` and do not refer to the classes in `org.llorllale.cactoos.matchers`, so they are effectively testing the matchers from cactoos (which is an old version, see #11).

The tests should be ported to the new matchers.

[2018-05-19 16:44] 0crat commented on #12
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-19 17:12] victornoel opened #13 "findbugs should be enabled in qulice"
We should enable findbugs in qulice, there is no work to do, the build already passes with it currently.

Also there is a useless configuration property in qulice configuration too that could be removed.

[2018-05-19 17:12] 0crat commented on #13
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-19 17:19] victornoel commented on #7
@0crat waiting for #14

[2018-05-19 17:19] 0crat commented on #7
@victornoel The impediment for [#7](https://github.com/llorllale/cactoos-matchers/issues/7) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-05-19 17:38] llorllale commented on #13
@victornoel

Hardly. When you un-comment the thresholds it's failing with the messages shown in #1

[2018-05-19 17:39] victornoel commented on #13
@llorllale I'm talking about findbugs, not jacoco, are they related to each other? I simply removed the `exclude` for findbugs and the build passed...

[2018-05-19 17:53] llorllale commented on #13
@victornoel right, fixed in 71328dd765df5b8656a5d9ca957c12f5dd26f895, thanks

[2018-05-19 17:53] #13 closed

[2018-05-19 17:53] 0crat commented on #13
@llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#13](https://github.com/llorllale/cactoos-matchers/issues/13), see [§21](http://www.zerocracy.com/policy.html#21); @llorllale[/z](https://www.0crat.com/u/llorllale) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-05-19 17:53] 0crat commented on #13
Job `gh:llorllale/cactoos-matchers#13` already assigned to @llorllale, can't assign to @llorllale

[2018-05-19 17:54] 0crat commented on #13
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-05-19 17:54] 0crat commented on #13
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-19 18:00] 0crat commented on #12
Job [#12](https://github.com/llorllale/cactoos-matchers/issues/12) is now in scope, role is `DEV`

[2018-05-19 18:02] 0crat commented on #12
@llorllale Job [#12](https://github.com/llorllale/cactoos-matchers/issues/12) is already in scope

[2018-05-19 18:02] 0crat commented on #12
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-05-19 18:09] 0crat commented on #13
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-19 18:09] 0crat commented on #13
The job [#13](https://github.com/llorllale/cactoos-matchers/issues/13) is now out of scope

[2018-05-21 15:18] Vatavuk commented on #5
@victornoel please close this issue, it was solved in #9

[2018-05-21 15:19] Vatavuk commented on #5
@llorllale could you release new version of matchers, I need this functionality for issue https://github.com/yegor256/cactoos-http/issues/48

[2018-05-21 15:21] victornoel commented on #5
@Vatavuk great, thanks!

[2018-05-21 15:21] #5 closed

[2018-05-21 15:36] 0crat commented on #5
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-21 15:36] 0crat commented on #5
The job [#5](https://github.com/llorllale/cactoos-matchers/issues/5) is now out of scope

[2018-05-21 15:36] llorllale commented on #8
@paulodamaso ok then, let's refactor `TextHasString` to check if the string is *contained* rather than equal, and let's implement a new `TextHasExactString`. Tests would need to be refactored.

[2018-05-21 15:43] llorllale commented on #5
@rultor release, tag is `0.10`

[2018-05-21 15:45] rultor commented on #5
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14606-390693764)

[2018-05-21 15:57] rultor commented on #5
@llorllale Done! FYI, the full log is [here](http://www.rultor.com/t/14606-390693764) (took me 11min)

[2018-05-21 16:02] paulodamaso commented on #8
@llorllale Sounds perfect to me, I could do it if you want.

[2018-05-21 16:03] Vatavuk commented on #5
@llorllale thanks!

[2018-05-21 17:31] elenavolokhova commented on #5
@0crat quality good

[2018-05-22 11:09] elenavolokhova commented on #5
@0crat status

[2018-05-22 11:09] 0crat commented on #5
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: llorllale/cactoos-matchers#5, Comment: 390725194

[2018-05-22 11:09] 0crat commented on #5
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: llorllale/cactoos-matchers#5, Action: `created`

[2018-05-22 11:09] 0crat commented on #5
@elenavolokhova This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#5](https://github.com/llorllale/cactoos-matchers/issues/5) is not in scope
  * The job is waiting quality review verdict by @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) for 20hr
  * @vatavuk[/z](https://www.0crat.com/u/vatavuk) will receive 30 minutes after qualit

[2018-05-22 11:09] elenavolokhova commented on #5
@0crat quality good

[2018-05-22 11:10] 0crat commented on #5
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-22 11:10] 0crat commented on #5
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-22 13:17] llorllale commented on #8
@0crat in

[2018-05-22 13:22] 0crat commented on #8
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-05-26 15:41] SharplEr commented on #1
@0crat waiting
Waiting for reviewer for #15

[2018-05-26 15:41] 0crat commented on #1
@SharplEr The impediment for [#1](https://github.com/llorllale/cactoos-matchers/issues/1) was registered successfully by @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-05-27 15:26] Vatavuk opened #16 "TextStartsWith and TextEndsWith"
Let's create `TextStartsWith` and `TextEndsWith` as an OO laternative to `Matchers.startsWit/Matchers.endsWith`

[2018-05-27 15:26] 0crat commented on #16
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-28 14:05] llorllale opened #17 "Migrate from cactoos some matchers leftover in their test packages"
We missed these matchers found only in `cactoos` test packages. We need to bring them over here:

* BehavesAsCollection
* BehavesAsList
* BehavesAsMap
* ClearDeletesAllValues
* PutUpdatesValues
* PutAllUpdatesValues
* RemoveDeletesValues

We'll release `1.0` once this is complete.

[2018-05-28 14:57] llorllale commented on #16
@0crat in

[2018-05-28 14:57] 0crat commented on #16
@llorllale Job [#16](https://github.com/llorllale/cactoos-matchers/issues/16) is now in scope, role is `DEV`

[2018-05-28 14:57] 0crat commented on #16
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-28 19:40] llorllale commented on #17
@0crat in

[2018-05-28 19:41] 0crat commented on #17
@llorllale Job [#17](https://github.com/llorllale/cactoos-matchers/issues/17) is now in scope, role is `DEV`

[2018-05-28 19:44] 0crat commented on #17
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-28 19:47] llorllale commented on #11
@victornoel transition away from cactoos is not yet complete:

* Will upgrade dependency version on `cactoos` to a more recent one that does not have the matchers
* Will update `cactoos-matchers` version on cactoos once the previous is done
* Some matchers still to be migrated - see #17

[2018-05-28 19:52] victornoel commented on #11
@llorllale my main worry is the cyclic dependency between cactoos-matchers and cactoos, this can't be good.

[2018-05-28 19:59] llorllale commented on #11
@victornoel to be honest, it *does* sort of raise a faint bell in my head... but at this moment I can't think of a concrete scenario where it is a real issue.

[2018-05-29 08:29] victornoel commented on #11
@llorllale you are the ARC, as long as you are aware of the issue, it's good for me :)
Should I close this issue?

[2018-05-29 09:12] SharplEr commented on #1
@llorllale  PR #15  was merged, please close the issue.

[2018-05-29 18:43] llorllale commented on #1
@SharplEr thanks

[2018-05-29 18:43] #1 closed

[2018-05-29 20:22] #11 closed

[2018-05-30 07:41] 0crat commented on #11
The job is not in WBS, won't close the order

[2018-05-30 15:25] llorllale opened #18 "Replace MatcherAssert.assertThat with 'new Assertion<>'"
Let's add a substitute for `MatcherAssert.assertThat`, something like `Assertion<T>`:

[code]

Note: ctor must have the reason text parameter

[2018-05-30 15:25] llorllale commented on #18
@0crat in

[2018-05-30 15:32] 0crat commented on #18
@llorllale Job [#18](https://github.com/llorllale/cactoos-matchers/issues/18) is now in scope, role is `DEV`

[2018-05-30 15:34] 0crat commented on #18
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-31 20:41] llorllale opened #19 "IsTrue matcher"
Let's create new matcher `IsTrue<Boolean>`.

[2018-05-31 20:41] llorllale commented on #19
@0crat in

[2018-05-31 20:44] 0crat commented on #19
@llorllale Job [#19](https://github.com/llorllale/cactoos-matchers/issues/19) is now in scope, role is `DEV`

[2018-05-31 20:51] 0crat commented on #19
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-01 20:22] 0pdd opened #20 "InputHasContent.java:43-47: All the matchers should..."
The puzzle `7-0cc4122b` from #7 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/d3cd1e573af86241197711042a66a2162b4fccd0/src/main/java/org/llorllale/cactoos/matchers/InputHasContent.java#L43-L47

The puzzle was created by Victor Noël on 19-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" w

[2018-06-02 19:32] victornoel commented on #7
@proshin-roman the MR #14 has been merged, this issue can now be closed :)

[2018-06-02 20:42] #7 closed

[2018-06-02 20:58] 0crat commented on #7
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-02 20:58] 0crat commented on #7
The job [#7](https://github.com/llorllale/cactoos-matchers/issues/7) is now out of scope

[2018-06-04 09:37] 0crat commented on #1
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @sharpler[/z](https://www.0crat.com/u/sharpler), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-04 09:37] 0crat commented on #1
The job [#1](https://github.com/llorllale/cactoos-matchers/issues/1) is now out of scope

[2018-06-04 11:42] elenavolokhova commented on #7
@0crat quality good

[2018-06-04 11:46] 0crat commented on #7
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-06-04 11:47] 0crat commented on #7
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-06-04 11:47] elenavolokhova commented on #1
@0crat quality good

[2018-06-04 11:49] 0crat commented on #1
Order was finished, quality is "good": +35 point(s) just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-06-04 11:49] 0crat commented on #1
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-06-08 18:46] llorllale commented on #8
@paulodamaso see dcb1dbe30abf1b574c1f87161056525b8d001f22

Can we close this?

[2018-06-08 19:27] llorllale commented on #8
@rultor release, tag is `0.11`

[2018-06-08 19:30] rultor commented on #8
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14838-395864855)

[2018-06-08 19:41] rultor commented on #8
@llorllale Done! FYI, the full log is [here](http://www.rultor.com/t/14838-395864855) (took me 11min)

[2018-06-08 19:43] 0crat commented on #8
Job `gh:llorllale/cactoos-matchers#8` is not assigned, can't get performer

[2018-06-08 19:45] 0crat commented on #8
The job [#8](https://github.com/llorllale/cactoos-matchers/issues/8) is now out of scope

[2018-06-19 19:16] llorllale commented on #20
@0crat in

[2018-06-19 19:17] 0crat commented on #20
@llorllale Job [#20](https://github.com/llorllale/cactoos-matchers/issues/20) is now in scope, role is `DEV`

[2018-06-29 06:32] 0crat commented on #10
The job [#10](https://github.com/llorllale/cactoos-matchers/issues/10) assigned to @jsoroka[/z](https://www.0crat.com/u/jsoroka), here is [why](https://www.0crat.com/footprint/C63314D6Z/1800642593); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-06-29 17:59] jsoroka commented on #10
Does "checkstyle validation performance improvement" in the description ("copied from yegor256/cactoos-http#49") imply removing [this line](https://github.com/llorllale/cactoos-matchers/blob/master/pom.xml#L106) as was the analogous case in the associated PR yegor256/cactoos-http#55 as seen [here](https://github.com/yegor256/cactoos-http/pull/55/commits/852762c8c647b67b2224c0d149cb9bca254d34e3#dif

[2018-06-30 01:52] 0crat commented on #12
The job [#12](https://github.com/llorllale/cactoos-matchers/issues/12) assigned to @jonathanihm[/z](https://www.0crat.com/u/jonathanihm), here is [why](https://www.0crat.com/footprint/C63314D6Z/1810156683); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-06-30 12:47] victornoel commented on #10
@jsoroka I agree with your conclusion (also, don't forget to address your comment to someone so that there is no ambiguity, cf http://www.zerocracy.com/policy.html#42 :)

[2018-06-30 18:20] jsoroka opened #22 "RunsInThreadsTest fails with ClassCastException ~10% of the time"
On Fedora26, Oracle JDK8 u171 x64.

Looks like `RunsInThreadTest` assumes that concurrent modification of a `HashMap` only generates `ConcurrentModificationException` but actually one must not assume any particular exception type when there is more than one thread accessing the HashMap.

[code]

[2018-06-30 18:21] 0crat commented on #22
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-04 08:38] 0crat commented on #10
@jsoroka[/z](https://www.0crat.com/u/jsoroka) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-05 03:38] 0crat commented on #12
@jonathanihm[/z](https://www.0crat.com/u/jonathanihm) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-05 13:17] 0crat commented on #17
The job [#17](https://github.com/llorllale/cactoos-matchers/issues/17) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C63314D6Z/1861318972); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-05 16:16] jsoroka commented on #10
@victornoel Thank you for the pointer.  Please close the issue now, if appropriate.  I do not see a way to close it myself.

[2018-07-05 16:28] victornoel commented on #10
@jsoroka yes, it is normal, I have to do it :) thanks!

[2018-07-05 16:28] #10 closed

[2018-07-05 16:44] 0crat commented on #10
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @jsoroka[/z](https://www.0crat.com/u/jsoroka), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-05 16:44] 0crat commented on #10
The job [#10](https://github.com/llorllale/cactoos-matchers/issues/10) is now out of scope

[2018-07-05 18:53] elenavolokhova commented on #10
@jsoroka According to our [Policy](http://www.zerocracy.com/policy.html#42):

I see, that you've been told about this, but I can not give 'good' mark here, because some of your messages are still not addressed. If you have same issue in currently opened tickets, please, edit you comments and address all of them to be able to receive bonus for good quality :) Thanks!

[2018-07-05 18:54] elenavolokhova commented on #10
@0crat quality acceptable

[2018-07-05 18:55] 0crat commented on #10
Order was finished, quality is "acceptable": +30 point(s) just awarded to @jsoroka[/z](https://www.0crat.com/u/jsoroka)

[2018-07-05 18:55] 0crat commented on #10
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-07-15 10:15] dfrau32 commented on #17
@0crat resign

[2018-07-15 10:16] 0crat commented on #17
@dfrau32 The user @dfrau32[/z](https://www.0crat.com/u/dfrau32) resigned from [#17](https://github.com/llorllale/cactoos-matchers/issues/17), please stop working. Reason for job resignation: Order was cancelled

[2018-07-15 10:20] 0crat commented on #17
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @dfrau32[/z](https://www.0crat.com/u/dfrau32)

[2018-07-26 17:46] 0crat commented on #12
The user @jonathanihm[/z](https://www.0crat.com/u/jonathanihm) resigned from [#12](https://github.com/llorllale/cactoos-matchers/issues/12), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-26 17:46] 0crat commented on #12
Job `gh:llorllale/cactoos-matchers#12` is not assigned, can't get performer

[2018-07-26 17:47] 0crat commented on #12
Job `gh:llorllale/cactoos-matchers#12` is not assigned, can't get performer

[2018-09-21 02:15] paulodamaso opened #23 "Wrong prefix for TextIs"
`TextIs.PREFIX` String is wrong: it is "Text with " but should be "Text is ".

[2018-09-21 02:15] 0crat commented on #23
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-09-21 02:15] 0crat commented on #23
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-21 19:29] llorllale commented on #23
@paulodamaso I'm not sure why you think it's wrong. You get something like the following when texts don't match (ignore that default toString() implementation):

[code]
I think "Text with " sounds ok IMHO.

[2018-09-21 20:16] paulodamaso commented on #23
@llorllale Actually not:
See the difference "Text with" means that we have a text which have the String in it besides other contents ("This text is abcde" for example). That is not what the class name `TextIs` indicates.

For me, `TextIs` is about the equality of a `String` and a `Text.asString()` values. So that is that behavior that I expect, and the message should say us that or assertion is no

[2018-09-21 20:31] llorllale commented on #23
@paulodamaso I see your point

[2018-09-21 20:31] llorllale commented on #23
@paulodamaso wanna submit a PR for this one?

[2018-09-22 03:08] paulodamaso commented on #23
@llorllale Of course! Take a look at https://github.com/llorllale/cactoos-matchers/pull/24 . Fixed this `toString()` too, take a look.

[2018-09-26 16:31] paulodamaso commented on #23
@llorllale I'm closing, it already has been merged

[2018-09-26 16:31] #23 closed

[2018-09-26 17:43] 0crat commented on #23
This job is not in scope

[2018-09-26 19:08] llorllale commented on #23
@paulodamaos thanks

[2018-11-16 20:42] dgroup opened #25 "Package `org.llorllale.cactoos.matchers` contains all matchers and should be split"
In order to make the project more clear for understanding i propose to move the matchers to dedicated packages like:
 -  `org.llorllale.cactoos.matcher.text`
 -  `org.llorllale.cactoos.matcher.collection`
 -  `org.llorllale.cactoos.matcher.iterable`
 -  `org.llorllale.cactoos.matcher.number`
 -  `org.llorllale.cactoos.matcher.io`
 -  `org.llorllale.cactoos.matcher.scalar`
 -  `org.llorllale.cactoo

[2018-11-16 20:42] 0crat commented on #25
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-11-17 00:07] llorllale commented on #25
@dgroup there are so few matchers that I don't think it's really necessary

[2018-11-17 03:24] dgroup opened #26 "Matcher to check that text has lines, independent to different OS"
Now, when you want to check that text has specific lines you have to use something like
[code]
with text duplication which cause long tests.

[2018-11-17 09:39] dgroup commented on #25
For now few, right, but better for the project in the future as it might grow.

[2018-11-17 09:41] dgroup opened #27 "Matcher to check non-blank text (String, org.cactoos.Text) is required"

[2018-11-17 09:41] 0crat commented on #27
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-11-17 15:14] dgroup commented on #25
@0crat status

[2018-11-17 15:14] 0crat commented on #25
@dgroup This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#25](https://github.com/llorllale/cactoos-matchers/issues/25) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Allorllale%2Fcactoos-matchers%2325%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D

[2018-11-18 14:24] dgroup opened #28 "@since tag contains invalid/not-actual versions"
For now the version is 0.11, however, there are several files with incorrect versions like `1.1`, `1.0`, `0.29`.

[2018-11-18 15:54] llorllale commented on #26
@dgroup what do you propose? How can we combine this with `TextHasString`?

[2018-11-18 15:55] llorllale commented on #27
@dgroup `TextNotEmpty`?

[2018-11-18 16:02] llorllale commented on #25
@dgroup we can create packages when it's needed. Right now the library is small enough that it doesn't make sense.

[2018-11-18 16:02] #25 closed

[2018-11-18 16:06] llorllale commented on #28
@dgroup

`1.0` is fine for the newest features because we're currently working on `1.0.0-SNAPSHOT`.

`0.29` is fine as well.

`1.1` is definitely wrong (spotted in `InputHasContentTest`, thanks)

[2018-11-18 16:19] 0crat commented on #25
Job `gh:llorllale/cactoos-matchers#25` is not assigned, can't get performer

[2018-11-18 16:20] 0crat commented on #25
This job is not in scope

[2018-11-18 18:56] dgroup commented on #27
Yes, this name is better.

[2018-11-18 19:00] llorllale commented on #27
@dgroup and, in keeping with `HasLines` (from #29), let's just call it `NotEmpty`.

[2018-11-20 14:57] dgroup opened #32 "Matcher to check by particular function that iterable has values - contains, endsWith, startsWith, non-null, etc"
For example,
[code]

[2018-11-20 14:57] 0crat commented on #32
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-11-20 15:00] dgroup commented on #22
https://travis-ci.org/llorllale/cactoos-matchers/builds/457480519?utm_source=github_status&utm_medium=notification
Oracle JDK8 (java-8-oracle)
[code]

[2018-11-21 00:36] llorllale commented on #32
@0crat assign @dgroup

[2018-11-21 00:39] llorllale commented on #27
@dgroup actually now that i look again at this issue's title, the implementation should be called `NotBlank`.

`NotEmpty` would imply that it is literally the empty string.

[2018-11-21 00:43] 0crat commented on #32
@llorllale The job [#32](https://github.com/llorllale/cactoos-matchers/issues/32) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/ea8280a0-0512-4343-b721-f489fe910ccb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2018-11-21 00:43] 0crat commented on #32
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-11-21 00:43] 0crat commented on #32
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-11-21 00:43] 0crat commented on #32
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-11-21 13:16] dgroup opened #35 "Matcher to check regexp statement in String, o.c.Text."
[code]

[2018-11-21 13:16] 0crat commented on #35
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-11-21 14:48] llorllale commented on #35
@dgroup please give an example?

[2018-11-21 15:07] dgroup commented on #35
@llorllale, updated the description.

[2018-11-22 12:50] dgroup commented on #32
Hi @llorllale ,
Please check the #34 PR.
Also it's bit strange that assignee for this task is empty. What might be the reason that it empty again?

[2018-11-23 14:51] dgroup commented on #27
@llorllale, can we merge the request?

[2018-11-24 09:48] g4s8 commented on #32
@0crat status

[2018-11-24 10:09] 0crat commented on #32
@g4s8 This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#32](https://github.com/llorllale/cactoos-matchers/issues/32) is [in scope](http://www.zerocracy.com/policy.html#14) for 3days
  * The role is `DEV`
  * The job is assigned to @dgroup[/z](https://www.0crat.com/u/dgroup) for [3days](http://w

[2018-11-25 14:29] llorllale commented on #26
@dgroup closed with PR #29

[2018-11-25 15:53] llorllale commented on #27
@dgroup done in PR #31

[2018-11-25 15:53] #27 closed

[2018-11-25 16:01] llorllale commented on #35
@dgroup how about `MatchesRegex`?

[2018-11-25 16:10] 0crat commented on #27
Job `gh:llorllale/cactoos-matchers#27` is not assigned, can't get performer

[2018-11-25 16:11] 0crat commented on #27
This job is not in scope

[2018-11-25 17:44] dgroup commented on #35
Yes, i like this name.

[2018-11-25 17:47] #26 closed

[2018-11-25 18:05] 0crat commented on #26
Job `gh:llorllale/cactoos-matchers#26` is not assigned, can't get performer

[2018-11-25 18:06] 0crat commented on #26
This job is not in scope

[2018-11-26 14:51] dgroup commented on #32
Hi @llorllale ,
Could you please review the current implementation?

[2018-11-26 22:19] llorllale commented on #35
@0crat in

[2018-11-26 22:20] 0crat commented on #35
@llorllale Job [#35](https://github.com/llorllale/cactoos-matchers/issues/35) is now in scope, role is `DEV`

[2018-11-27 01:01] 0pdd opened #36 "HasValues.java:64-66: Add the opportunity to print the..."
The puzzle `32-2540e9c8` from #32 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/562930cb9156dc1fab2bfaf8116a63f4af79586a/src/main/java/org/llorllale/cactoos/matchers/HasValues.java#L64-L66

The puzzle was created by rultor on 27-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and t

[2018-11-27 01:01] 0pdd opened #37 "HasValuesTest.java:63-67: Matcher to test {@link..."
The puzzle `32-59ea1519` from #32 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/562930cb9156dc1fab2bfaf8116a63f4af79586a/src/test/java/org/llorllale/cactoos/matchers/HasValuesTest.java#L63-L67

The puzzle was created by rultor on 27-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2018-11-27 01:01] 0pdd commented on #32
@dgroup 2 puzzles [#36](https://github.com/llorllale/cactoos-matchers/issues/36), [#37](https://github.com/llorllale/cactoos-matchers/issues/37) are still not solved.

[2018-11-27 01:01] 0crat commented on #37
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-11-27 01:02] 0crat commented on #36
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-11-27 01:08] 0crat commented on #36
Job [#36](https://github.com/llorllale/cactoos-matchers/issues/36) is now in scope, role is `DEV`

[2018-11-27 01:08] 0crat commented on #37
Job [#37](https://github.com/llorllale/cactoos-matchers/issues/37) is now in scope, role is `DEV`

[2018-11-27 14:57] dgroup commented on #36
Hi @llorllale ,
Please review the pull request #38

[2018-11-27 14:58] dgroup commented on #37
Hi @llorllale ,
Please review the pull request #39

[2018-11-28 17:15] dgroup commented on #37
@llorllale , please review the pull request #39

[2018-11-28 17:16] dgroup commented on #36
@llorllale , please review the pull request #38

[2018-11-29 00:39] llorllale commented on #22
@0crat in

[2018-11-29 00:43] 0crat commented on #22
@llorllale Job [#22](https://github.com/llorllale/cactoos-matchers/issues/22) is now in scope, role is `DEV`

[2018-11-29 00:50] 0crat commented on #22
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @jsoroka[/z](https://www.0crat.com/u/jsoroka)

[2018-11-30 22:20] dgroup opened #40 "o.l.c.m.Throws: Matcher to test that scalar is throwing exception within particular type and message"
Very often during the testing, we are receiving the exception and we need to check the root cause exception in the exception's hierarchy.

[code]
The solution can contain two parts
1) Add a new class to `cactoos` - o.c.exception.RootCauseOf implements Scalar<Exception>
2) Add a new class to `cactoos-matchers` - o.l.c.matchers.AssertException

[2018-11-30 22:20] 0crat commented on #40
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-02 10:14] dgroup opened #41 "When the next release will go-live?"
Hi @llorllale ,
When do we planning to release the latest features (`v0.12`)?

[2018-12-02 10:14] 0crat commented on #41
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-02 16:23] llorllale opened #42 "Prohibit assertions with no message in tests"
Use of [this specific](https://junit.org/junit4/javadoc/latest/org/hamcrest/MatcherAssert.html#assertThat(T,%20org.hamcrest.Matcher)) overload of `MatcherAssert.assertThat()` should fail the build because providing an adequate assertion message helps a) understand the test better, and b) helps determining why a build failed (if a test fails).

[2018-12-02 16:30] 0crat commented on #42
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-02 21:17] llorllale commented on #40
@dgroup there are 2 new things here, I think:
* matcher for exceptions
* matcher for root cause of an exception

Please create separate issues for each.

[2018-12-02 23:40] dgroup commented on #41
I would like to have the following issues within the release `0.12`: https://github.com/llorllale/cactoos-matchers/issues/26, https://github.com/llorllale/cactoos-matchers/issues/27, https://github.com/llorllale/cactoos-matchers/issues/32, https://github.com/llorllale/cactoos-matchers/issues/37.
Yes, some of them are under development, but I suppose that soon they will be completed and we can rele

[2018-12-03 17:24] dgroup commented on #42
@llorllale , [junit 5](https://junit.org/junit5/docs/current/user-guide/#writing-tests-display-names) has functionality which can help to solve the issue with "adequate" assertion message
[code]
Is there any plans to migrate from junit `4.8.x` to `5.x`?

[2018-12-04 00:37] llorllale commented on #26
@rultor release, tag is `0.12`

[2018-12-04 00:38] llorllale commented on #41
@dgroup [release in progress](https://github.com/llorllale/cactoos-matchers/issues/26#issuecomment-443924855)

[2018-12-04 00:38] rultor commented on #26
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16747-443924855)

[2018-12-04 00:51] rultor commented on #26
@llorllale Done! FYI, the full log is [here](http://www.rultor.com/t/16747-443924855) (took me 12min)

[2018-12-04 01:00] llorllale commented on #42
@dgroup I have not studied JUnit 5...

[2018-12-04 17:20] dgroup commented on #42
Junit 5 also has a way to test exceptions
https://junit.org/junit5/docs/current/user-guide/#writing-tests-assertions
[code]
I think we need to consider the junit5 features in order to plan the roadmap for current project.
At least avoid implementation of the features which are already implemented within junit5.

[2018-12-04 17:35] dgroup commented on #40
@llorllale, i've reconsider the approach and now i suggest to implement in such way
[code]
where `HasRootCause` is
[code]

[2018-12-04 17:36] dgroup commented on #40
Also, we can add something like `HasRootCauseMatching` where we can pass the function.

[2018-12-06 01:42] llorllale commented on #37
@0crat assign @dgroup

[2018-12-06 01:44] 0crat commented on #37
@llorllale The job [#37](https://github.com/llorllale/cactoos-matchers/issues/37) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/102ee285-93a9-4502-9996-e5ce0089d345); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2018-12-06 01:44] 0crat commented on #37
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-06 01:45] #36 closed

[2018-12-06 01:46] 0pdd commented on #36
The puzzle `32-2540e9c8` has disappeared from the source code, that's why I closed this issue.

[2018-12-06 01:46] #37 closed

[2018-12-06 01:46] 0pdd commented on #37
The puzzle `32-59ea1519` has disappeared from the source code, that's why I closed this issue.

[2018-12-06 01:46] 0pdd opened #44 "HasValues.java:47-49: HasValuesMatching that accepts..."
The puzzle `36-7ebfe74b` from #36 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/d0497a2a3eb8c3a4a22dfadedd913ad8df69c065/src/main/java/org/llorllale/cactoos/matchers/HasValues.java#L47-L49

The puzzle was created by Yurii Dubinka on 04-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2018-12-06 01:46] 0pdd commented on #32
@dgroup the puzzle [#44](https://github.com/llorllale/cactoos-matchers/issues/44) is still not solved; solved: [#36](https://github.com/llorllale/cactoos-matchers/issues/36), [#37](https://github.com/llorllale/cactoos-matchers/issues/37).

[2018-12-06 01:46] 0pdd commented on #36
@0pdd the puzzle [#44](https://github.com/llorllale/cactoos-matchers/issues/44) is still not solved.

[2018-12-06 01:47] 0crat commented on #44
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-06 01:47] llorllale commented on #42
@dgroup [these](https://github.com/llorllale/cactoos-matchers#principles are the design principles for `cactoos-matchers`

[2018-12-06 01:53] 0crat commented on #44
Job [#44](https://github.com/llorllale/cactoos-matchers/issues/44) is now in scope, role is `DEV`

[2018-12-06 02:03] 0crat commented on #36
Job `gh:llorllale/cactoos-matchers#36` is not assigned, can't get performer

[2018-12-06 02:03] 0crat commented on #36
The job [#36](https://github.com/llorllale/cactoos-matchers/issues/36) is now out of scope

[2018-12-06 02:03] 0crat commented on #37
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-06 02:10] 0crat commented on #37
The job [#37](https://github.com/llorllale/cactoos-matchers/issues/37) is now out of scope

[2018-12-06 02:10] 0crat commented on #37
Order was finished: +35 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-12-06 15:03] #41 closed

[2018-12-06 15:24] 0crat commented on #41
Job `gh:llorllale/cactoos-matchers#41` is not assigned, can't get performer

[2018-12-06 15:24] 0crat commented on #41
This job is not in scope

[2018-12-07 23:58] llorllale commented on #40
@dgroup what I still can't quite wrap my head around is: why should we assert on the root cause of an exception?

The behavior being tested should have its business requirements clear - I don't understand why you would want to test the cause of the exception being thrown at you.

[2018-12-08 00:01] llorllale commented on #44
@0crat assign @dgroup

[2018-12-08 00:02] 0crat commented on #44
@llorllale The job [#44](https://github.com/llorllale/cactoos-matchers/issues/44) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/a5b7de76-14fd-4a30-a6aa-770c13e21e71); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2018-12-08 00:03] 0crat commented on #44
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 01:05] 0pdd commented on #44
The puzzle `36-7ebfe74b` has disappeared from the source code, that's why I closed this issue.

[2018-12-08 01:05] #44 closed

[2018-12-08 01:05] 0pdd commented on #32
@dgroup all 3 puzzles are solved here: [#36](https://github.com/llorllale/cactoos-matchers/issues/36), [#37](https://github.com/llorllale/cactoos-matchers/issues/37), [#44](https://github.com/llorllale/cactoos-matchers/issues/44).

[2018-12-08 01:05] 0pdd commented on #36
@0pdd the only puzzle [#44](https://github.com/llorllale/cactoos-matchers/issues/44) is solved here.

[2018-12-08 01:08] dgroup commented on #44
@0crat status.

[2018-12-08 01:08] dgroup commented on #32
@0crat status.

[2018-12-08 01:12] 0crat commented on #44
@dgroup Can't understand "status.", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this

[2018-12-08 01:12] 0crat commented on #32
@dgroup Can't understand "status.", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this

[2018-12-08 01:12] dgroup commented on #44
@0crat status

[2018-12-08 01:12] dgroup commented on #32
@0crat status

[2018-12-08 01:39] 0crat commented on #44
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-08 01:49] 0crat commented on #44
The job [#44](https://github.com/llorllale/cactoos-matchers/issues/44) is now out of scope

[2018-12-08 01:51] 0crat commented on #44
Order was finished: +35 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-12-08 01:52] 0crat commented on #32
The job [#32](https://github.com/llorllale/cactoos-matchers/issues/32) is now out of scope

[2018-12-08 01:52] 0crat commented on #32
Order was finished: +30 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-12-08 02:15] dgroup commented on #40
@llorllale, the original idea was:
I'm developing an object and for some particular scenario, it throws the exception.
[code]
This scalar object can be wrapped by another scalar(s) like StrictScalar/StickyScalar/etc, thus the root cause exception might be wrapped by a hierarchy of the exceptions. This matcher should allow us to find what is the root cause of the error.

That was the original idea.

[2018-12-08 02:31] llorllale commented on #18
@llorllale let's make `Assertion` accept a `Scalar` of the result to be tested. This way, we can also use it to assert on exceptions.

It would thus look like this for normal execution flow:
[code]

To test for exceptions, one would perhaps just provide a matcher for the exception:
[code]

See #https://github.com/llorllale/cactoos-matchers/issues/40#issuecomment-445421752

[2018-12-08 02:33] llorllale commented on #40
@dgroup I think a better name is `Throws`

[2018-12-08 02:33] llorllale commented on #40
@0crat in

[2018-12-08 02:34] 0crat commented on #40
@llorllale Job [#40](https://github.com/llorllale/cactoos-matchers/issues/40) is now in scope, role is `DEV`

[2018-12-08 02:41] 0crat commented on #40
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-12-08 02:41] llorllale commented on #42
@0crat assign me

[2018-12-08 02:42] 0crat commented on #42
@llorllale @llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#42](https://github.com/llorllale/cactoos-matchers/issues/42), see [§21](http://www.zerocracy.com/policy.html#21); @llorllale[/z](https://www.0crat.com/u/llorllale) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-12-08 02:42] 0crat commented on #42
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 02:42] 0crat commented on #42
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 02:58] dgroup opened #46 "Provide a way to test the stability/correctness of concurrency tests"
During the implementation of https://github.com/yegor256/cactoos/pull/968 I've started to think how to avoid the cases like #22.
Sometimes the test from #22 is failing, sometimes not and in order to prevent it again we can execute the fragile concurrent test(s) at least 20-50 times which can give us some level of confidence.

For example, [junit 5](https://junit.org/junit5/docs/current/user-guide/

[2018-12-08 02:58] 0crat commented on #46
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-08 09:37] dgroup commented on #12
@llorllale is it still actual?
I couldn't understand the scope here.

[2018-12-08 09:38] dgroup commented on #16
@llorllale, I'm ready to implement this task.
Please assign the ticket to me.

[2018-12-08 13:10] llorllale commented on #42
@0crat status

[2018-12-08 13:11] 0crat commented on #42
@llorllale This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#42](https://github.com/llorllale/cactoos-matchers/issues/42) is [in scope](http://www.zerocracy.com/policy.html#14) for 6days
  * The role is `DEV`
  * The job is assigned to @llorllale[/z](https://www.0crat.com/u/llorllale) for [10hr

[2018-12-08 13:25] #42 closed, assigned to nobody

[2018-12-08 13:34] 0crat commented on #40
@llorllale The job [#40](https://github.com/llorllale/cactoos-matchers/issues/40) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/868f4dae-1d85-4063-be22-92ac6ced4c77); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2018-12-08 13:42] 0crat commented on #40
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 13:42] 0crat commented on #40
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 13:44] 0crat commented on #42
Job [#42](https://github.com/llorllale/cactoos-matchers/issues/42) is not in the agenda of @llorllale[/z](https://www.0crat.com/u/llorllale), can't retrieve data and time of add

[2018-12-08 13:46] 0crat commented on #42
Job was finished in 10 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-08 13:51] 0crat commented on #42
The job [#42](https://github.com/llorllale/cactoos-matchers/issues/42) is now out of scope

[2018-12-08 13:51] 0crat commented on #42
Order was finished: +35 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 14:02] llorllale commented on #12
@dgroup looks like you're right.

@victornoel can we close this?

[2018-12-08 14:04] llorllale commented on #16
@dgroup let's name them "StartsWith" and "EndsWith" respectively

[2018-12-08 14:04] llorllale commented on #16
@0crat assign @dgroup

[2018-12-08 14:05] 0crat commented on #16
@llorllale The job [#16](https://github.com/llorllale/cactoos-matchers/issues/16) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/1411c309-0f3b-4214-b1a7-765db7de4ef8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2018-12-08 14:05] 0crat commented on #16
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 14:17] victornoel commented on #12
@llorllale @dgroup yes indeed, it has been fixed apparently :)

[2018-12-08 14:17] #12 closed

[2018-12-08 14:30] 0crat commented on #22
@llorllale @llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#22](https://github.com/llorllale/cactoos-matchers/issues/22), see [§21](http://www.zerocracy.com/policy.html#21); @llorllale[/z](https://www.0crat.com/u/llorllale) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-12-08 14:30] llorllale commented on #22
@jsoroka fixed in f4dcb3253d8b1ab9c8c2abff9c2bd67f5d82458c, can we close this?

[2018-12-08 14:35] 0crat commented on #22
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 14:35] llorllale commented on #46
@dgroup check out [`org.cactoos.func.Repeated`](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/func/Repeated.java) and see if it satisfies your needs

[2018-12-08 14:37] 0crat commented on #12
Job `gh:llorllale/cactoos-matchers#12` is not assigned, can't get performer

[2018-12-08 14:40] 0crat commented on #12
The job [#12](https://github.com/llorllale/cactoos-matchers/issues/12) is now out of scope

[2018-12-08 14:59] #40 closed

[2018-12-08 15:16] 0crat commented on #40
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-08 15:20] 0crat commented on #40
The job [#40](https://github.com/llorllale/cactoos-matchers/issues/40) is now out of scope

[2018-12-08 18:08] llorllale commented on #18
@0crat assign me

[2018-12-08 18:11] 0crat commented on #18
@llorllale @llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#18](https://github.com/llorllale/cactoos-matchers/issues/18), see [§21](http://www.zerocracy.com/policy.html#21); @llorllale[/z](https://www.0crat.com/u/llorllale) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-12-08 18:12] 0crat commented on #18
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 18:12] 0crat commented on #18
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 18:15] dgroup commented on #19
@llorllale, I'm ok to implement this task.
Could you please assign to me?

[2018-12-08 18:17] llorllale commented on #19
@0crat assign @dgroup

[2018-12-08 18:18] llorllale commented on #19
@dgroup just implement `IsTrue`. Users should then negate with `IsNot`.

[2018-12-08 18:18] 0crat commented on #19
@llorllale The job [#19](https://github.com/llorllale/cactoos-matchers/issues/19) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/38093d67-6d3d-4f73-93e8-ea6408a5bb43); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2018-12-08 18:19] 0crat commented on #19
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 20:46] llorllale commented on #28
@dgroup fixed `@since` in `InputHasContentTest` in 6258ffe1dcf290c8b488edd1a79f1a4bbbb284b4. Can we close this?

[2018-12-08 20:49] llorllale opened #51 "Intermittent failure in RunsInThreadsTest.matchNegative"
[Log](https://travis-ci.org/llorllale/cactoos-matchers/builds/457480519?utm_source=github_status&utm_medium=notification)

[code]

[2018-12-08 20:50] llorllale commented on #51
@0crat in

[2018-12-08 20:51] 0crat commented on #51
Job [#51](https://github.com/llorllale/cactoos-matchers/issues/51) is now in scope, role is `DEV`

[2018-12-08 20:51] 0crat commented on #51
@llorllale Job [#51](https://github.com/llorllale/cactoos-matchers/issues/51) is already in scope

[2018-12-08 20:57] 0crat commented on #51
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 21:00] llorllale commented on #17
@0crat out because these matchers seem unfocused..

[2018-12-08 21:02] 0crat commented on #17
@llorllale Job `gh:llorllale/cactoos-matchers#17` is not assigned, can't get performer

[2018-12-08 21:02] 0crat commented on #17
@llorllale The job [#17](https://github.com/llorllale/cactoos-matchers/issues/17) is now out of scope

[2018-12-08 21:02] #17 closed

[2018-12-08 21:05] 0pdd opened #52 "Assertion.java:71-73: Replace all uses of..."
The puzzle `18-b493cd89` from #18 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/df74d6c734722c84b48606f4a10f4e88953e2937/src/main/java/org/llorllale/cactoos/matchers/Assertion.java#L71-L73

The puzzle was created by George Aristy on 08-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2018-12-08 21:05] 0pdd opened #53 "Assertion.java:74-77: Assertion relies on the operation..."
The puzzle `18-a9679abd` from #18 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/df74d6c734722c84b48606f4a10f4e88953e2937/src/main/java/org/llorllale/cactoos/matchers/Assertion.java#L74-L77

The puzzle was created by George Aristy on 08-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2018-12-08 21:05] 0pdd commented on #18
@llorllale 2 puzzles [#52](https://github.com/llorllale/cactoos-matchers/issues/52), [#53](https://github.com/llorllale/cactoos-matchers/issues/53) are still not solved.

[2018-12-08 21:05] 0crat commented on #53
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-08 21:05] 0crat commented on #52
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-08 21:10] llorllale commented on #18
@llorllale `Assertion` implemented in PR #49

[2018-12-08 21:10] #18 closed

[2018-12-08 21:13] 0crat commented on #52
Job [#52](https://github.com/llorllale/cactoos-matchers/issues/52) is now in scope, role is `DEV`

[2018-12-08 21:13] 0pdd opened #54 "TextMatcherEnvelope.java:39-42: Extends the envelope in..."
The puzzle `16-acf734f9` from #16 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/a35a04cae657ae10804b57117bf4c610fb046519/src/main/java/org/llorllale/cactoos/matchers/TextMatcherEnvelope.java#L39-L42

The puzzle was created by Yurii Dubinka on 08-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2018-12-08 21:14] 0pdd commented on #16
@Vatavuk the puzzle [#54](https://github.com/llorllale/cactoos-matchers/issues/54) is still not solved.

[2018-12-08 21:14] 0crat commented on #54
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-08 21:15] 0crat commented on #53
Job [#53](https://github.com/llorllale/cactoos-matchers/issues/53) is now in scope, role is `DEV`

[2018-12-08 21:19] llorllale commented on #51
@dgroup does this still happen to you?

[2018-12-08 21:31] dgroup opened #55 "org.llorllale.cactoos.matchers.RunsInThreadsTest.matchNegative(RunsInThreadsTest.java:61)"
Observed in #48
https://travis-ci.org/llorllale/cactoos-matchers/builds/465352255?utm_source=github_status&utm_medium=notification
[code]

[2018-12-08 21:31] 0crat commented on #55
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-08 21:32] 0crat commented on #18
Job [#18](https://github.com/llorllale/cactoos-matchers/issues/18) is not in the agenda of @llorllale[/z](https://www.0crat.com/u/llorllale), can't retrieve data and time of add

[2018-12-08 21:33] llorllale commented on #54
@0crat assign @dgroup

[2018-12-08 21:33] llorllale commented on #19
@dgroup thanks!

[2018-12-08 21:34] #19 closed

[2018-12-08 21:34] llorllale commented on #55
@dgroup this is a dup of #51 (you were too slow... :) )

[2018-12-08 21:34] #55 closed

[2018-12-08 21:35] dgroup commented on #19
👍

[2018-12-08 21:39] 0crat commented on #18
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-08 21:51] 0crat commented on #18
The job [#18](https://github.com/llorllale/cactoos-matchers/issues/18) is now out of scope

[2018-12-08 21:52] 0crat commented on #18
Order was finished: +35 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 21:53] 0crat commented on #55
Job `gh:llorllale/cactoos-matchers#55` is not assigned, can't get performer

[2018-12-08 21:53] 0crat commented on #54
@llorllale The job [#54](https://github.com/llorllale/cactoos-matchers/issues/54) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/2fbc50c1-59a0-46b6-bda1-3f023ee135a7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2018-12-08 21:53] 0crat commented on #19
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-08 21:55] 0crat commented on #55
This job is not in scope

[2018-12-08 21:57] 0crat commented on #54
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-08 22:01] 0crat commented on #19
The job [#19](https://github.com/llorllale/cactoos-matchers/issues/19) is now out of scope

[2018-12-08 22:02] 0crat commented on #19
Order was finished: +35 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-12-09 01:05] jsoroka commented on #22
LGTM

[2018-12-09 01:05] #22 closed

[2018-12-09 07:48] dgroup commented on #35
@llorllale, i'm ok to implement this also.
Please assign to me.

[2018-12-09 07:51] #28 closed

[2018-12-09 08:06] 0crat commented on #28
Job `gh:llorllale/cactoos-matchers#28` is not assigned, can't get performer

[2018-12-09 08:07] 0crat commented on #28
This job is not in scope

[2018-12-09 08:20] dgroup commented on #46
I think it will be more than enough in cooperation with [TimedFunc](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/func/TimedFunc.java).

[2018-12-09 08:20] #46 closed

[2018-12-09 08:40] 0crat commented on #46
Job `gh:llorllale/cactoos-matchers#46` is not assigned, can't get performer

[2018-12-09 08:42] 0crat commented on #46
This job is not in scope

[2018-12-09 17:05] llorllale commented on #20
@dgroup I'm confused myself: this may not really apply.

@victornoel can you help?

[2018-12-09 17:07] llorllale commented on #35
@0crat assign @dgroup

[2018-12-09 17:12] 0crat commented on #35
@llorllale The job [#35](https://github.com/llorllale/cactoos-matchers/issues/35) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/5cdf400a-a547-4f7d-91b8-6a422a522824); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2018-12-09 17:12] 0crat commented on #35
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-09 17:12] 0crat commented on #35
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-09 17:18] victornoel commented on #20
@dgroup @llorllale there are two things in the todo:
1. Some matchers in cactoos-matchers makes the method `matchesSafely` public, and when testing the matcher, those methods are tested. This is incorrect: to test the matcher and ensure they work properly, they must be tested directly as an argument of `assertThat` as in [ScalarHasValueTest#L54](https://github.com/llorllale/cactoos-matchers/blob/m

[2018-12-11 00:47] llorllale commented on #20
@victornoel got it

[2018-12-11 16:14] dgroup opened #58 "readme.md - Explanation/docs of current matchers is required"
We need to add more information/docs about project functionality to the main page.

[2018-12-11 16:14] 0crat commented on #58
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-11 23:39] llorllale commented on #58
@0crat assign me

[2018-12-11 23:44] 0crat commented on #58
@llorllale @llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#58](https://github.com/llorllale/cactoos-matchers/issues/58), see [§21](http://www.zerocracy.com/policy.html#21); @llorllale[/z](https://www.0crat.com/u/llorllale) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-12-11 23:48] 0crat commented on #58
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-11 23:50] 0crat commented on #58
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-12-12 00:50] llorllale commented on #58
@0crat wait because I submitted PR #59 for this

[2018-12-12 00:51] 0crat commented on #58
@llorllale The impediment for [#58](https://github.com/llorllale/cactoos-matchers/issues/58) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-12 00:51] 0crat commented on #58
@llorllale Job [#58](https://github.com/llorllale/cactoos-matchers/issues/58) is not in the agenda of @llorllale[/z](https://www.0crat.com/u/llorllale), can't set impediment

[2018-12-12 01:14] 0pdd opened #60 "MatchesRegexTest.java:72-86: The TextMatcherEnvelope..."
The puzzle `35-b5eec46c` from #35 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/2987486c1ac83b2f4ff82369aa847f3eabb2f518/src/test/java/org/llorllale/cactoos/matchers/MatchesRegexTest.java#L72-L86

The puzzle was created by Yurii Dubinka on 09-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2018-12-12 01:14] 0pdd commented on #60
This puzzle inherited milestone `1.0.0` from issue #35.

[2018-12-12 01:14] 0pdd commented on #35
@dgroup the puzzle [#60](https://github.com/llorllale/cactoos-matchers/issues/60) is still not solved.

[2018-12-12 01:14] 0crat commented on #60
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-12 01:21] 0crat commented on #60
Job [#60](https://github.com/llorllale/cactoos-matchers/issues/60) is now in scope, role is `DEV`

[2018-12-12 01:51] 0crat commented on #35
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-12 01:52] dgroup commented on #35
@llorllale, closed by mistake, there is one more puzzle found.

[2018-12-12 01:56] dgroup commented on #54
@llorllale i think this ticket can be closed now.

[2018-12-12 02:00] llorllale commented on #54
@dgroup we forgot to remove the puzzle (https://github.com/llorllale/cactoos-matchers/pull/56#issuecomment-446422272)

[2018-12-12 02:06] dgroup commented on #60
@llorllale can you assign it to me?
I'm ready to help.

[2018-12-12 02:08] dgroup commented on #35
@0crat status

[2018-12-12 02:11] 0crat commented on #35
GitHub issue is still open, won't close

[2018-12-12 02:11] 0crat commented on #35
@dgroup This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#35](https://github.com/llorllale/cactoos-matchers/issues/35) is [in scope](http://www.zerocracy.com/policy.html#14) for 15days
  * The role is `DEV`
  * The job is assigned to @dgroup[/z](https://www.0crat.com/u/dgroup) for [2days](http:

[2018-12-12 02:11] dgroup commented on #54
@llorllale, I propose to remove the puzzle within the #60.
That ticket will close the whole story with startsWith/endsWith and TextBasedEnvelope.

[2018-12-12 02:31] dgroup commented on #58
![image](https://user-images.githubusercontent.com/1651114/49843116-09960e80-fde4-11e8-9d6b-322300a33670.png)
@llorllale, for which purpose its requried?
It allows 0crat to do not track the time on the issue when you are waiting for the review?

[2018-12-13 19:00] dgroup commented on #20
@victornoel, please correct me if i'm wrong, the test from EndsWith shoud be like
[code]
If we are on the same page, I can start the implementation.

[2018-12-13 20:47] dgroup opened #62 "HasLines doesn't explain the failed scenario properly"
Today I found that `HasLines`
[code]
doesn't explain the failed scenario properly
[code]
We need to call `text.asString()` instead of `Text.toString()`.

[2018-12-13 20:47] 0crat commented on #62
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-14 08:10] victornoel commented on #20
@dgroup we are not on the same page, sorry :)

Write [this](https://github.com/llorllale/cactoos-matchers/blob/master/src/test/java/org/llorllale/cactoos/matchers/ScalarHasValueTest.java#L54) but replace `ScalarHasValue` with `EndsWith`:
[code]

And the test the negative.

[2018-12-14 08:11] victornoel commented on #20
@dgroup and then test that the errors are correct, like [this](https://github.com/llorllale/cactoos-matchers/blob/master/src/test/java/org/llorllale/cactoos/matchers/ScalarHasValueTest.java#L74) and [this](https://github.com/llorllale/cactoos-matchers/blob/master/src/test/java/org/llorllale/cactoos/matchers/ScalarHasValueTest.java#L87)

[2018-12-14 12:46] dgroup commented on #20
@victornoel, I understood.
The key point here is using of `@Rule` + `.expectMessage(` instead of calling the `matchesSafely` directly.
@llorllale, I think we need to fix the tests for all matchers in such way (with separate tasks of course). WDYT?

P.S: We are not using `MatcherAssert.assertThat` anymore (#52).

[2018-12-14 12:46] dgroup commented on #60
@llorllale could you please assign this task to me if you are ok.
The PR also is ready.

[2018-12-14 12:57] victornoel commented on #20
@dgroup in that case, it should look like this:
[code]

Not the opposite. Also I suppose it would be good to introduce a secondary constructor for `Assertion` that takes a `T` and wraps it into a `Scalar<T>`. It would be easier to read…

[2018-12-14 20:45] dgroup commented on #20
I also thought about secondary constructor

[2018-12-16 23:59] llorllale commented on #60
@0crat assign @dgroup

[2018-12-17 00:00] 0crat commented on #60
@llorllale The job [#60](https://github.com/llorllale/cactoos-matchers/issues/60) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/e256a07e-d8a8-4e93-bfa2-6d2b1fa39493); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2018-12-17 00:00] 0crat commented on #60
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-17 00:02] llorllale commented on #58
@dgroup yes - it means 0crat won't kick me off the issue.

I don't know why it posted that third message about this job not being in my agenda though..

[2018-12-17 00:11] 0pdd commented on #54
The puzzle `16-acf734f9` has disappeared from the source code, that's why I closed this issue.

[2018-12-17 00:11] #54 closed

[2018-12-17 00:11] #60 closed

[2018-12-17 00:11] 0pdd commented on #60
The puzzle `35-b5eec46c` has disappeared from the source code, that's why I closed this issue.

[2018-12-17 00:11] 0pdd commented on #16
@Vatavuk the only puzzle [#54](https://github.com/llorllale/cactoos-matchers/issues/54) is solved here.

[2018-12-17 00:11] 0pdd commented on #35
@dgroup the only puzzle [#60](https://github.com/llorllale/cactoos-matchers/issues/60) is solved here.

[2018-12-17 00:31] llorllale commented on #62
@0crat in

[2018-12-17 00:37] 0crat commented on #60
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-17 00:39] llorllale commented on #20
@dgroup

Sure.

[2018-12-17 00:45] 0crat commented on #62
@llorllale Job [#62](https://github.com/llorllale/cactoos-matchers/issues/62) is now in scope, role is `DEV`

[2018-12-17 00:47] 0crat commented on #54
The job [#54](https://github.com/llorllale/cactoos-matchers/issues/54) is now out of scope

[2018-12-17 00:51] 0crat commented on #60
The job [#60](https://github.com/llorllale/cactoos-matchers/issues/60) is now out of scope

[2018-12-17 00:51] 0crat commented on #54
Order was finished: +30 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-12-17 00:51] 0crat commented on #60
Order was finished: +35 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-12-17 00:52] 0crat commented on #62
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-12-18 15:11] dgroup commented on #16
@Vatavuk, the pull request was merged.
Can we close the ticket?

[2018-12-18 15:11] dgroup commented on #16
@0crat wait as the pull request was merged.

[2018-12-18 15:12] dgroup commented on #35
Ok, it's done.

[2018-12-18 15:12] #35 closed

[2018-12-18 15:13] dgroup commented on #20
@llorllale I'm ok to implement this task.
Please assign to me.

[2018-12-18 15:13] dgroup commented on #62
@llorllale I'm ok to implement this task.
Please assign to me.

[2018-12-18 17:20] Vatavuk commented on #16
@dgroup thanks

[2018-12-18 17:20] #16 closed

[2018-12-18 19:19] 0crat commented on #35
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.39.7](https://github.com/zerocracy/farm): CID: [06270756-6f65-42ea-b313-f14005d90ee8](https://www.0crat.com/footprint/C63314D6Z/06270756-6f65-42ea-b313-f14005d90ee8), Type: "Close job"

[2018-12-18 19:19] 0crat commented on #16
@dgroup The impediment for [#16](https://github.com/llorllale/cactoos-matchers/issues/16) was registered successfully by @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-12-18 19:30] 0crat commented on #16
Order was finished: +30 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-12-20 02:34] dgroup commented on #53
@llorllale, the description of this task isn't clear.

Could you please give an example?

[2018-12-20 02:35] dgroup commented on #52
@llorllale, I'm ok to implement all of them.
Please assign it to me.

[2018-12-20 15:18] llorllale commented on #20
@0crat assign @dgroup

[2018-12-20 15:21] llorllale commented on #62
@0crat assign @dgroup

[2018-12-20 15:22] 0crat commented on #20
@llorllale The job [#20](https://github.com/llorllale/cactoos-matchers/issues/20) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/ba03a095-822c-4856-ab63-e429a1ef8842); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2018-12-20 15:22] 0crat commented on #20
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-20 15:22] 0crat commented on #62
@llorllale The job [#62](https://github.com/llorllale/cactoos-matchers/issues/62) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/29725078-986f-43b1-8aba-e9ae26a265d9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2018-12-20 15:23] 0crat commented on #62
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-20 15:23] 0crat commented on #62
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-20 15:36] llorllale commented on #52
@0crat assign @dgroup

[2018-12-20 15:43] 0crat commented on #52
@llorllale The job [#52](https://github.com/llorllale/cactoos-matchers/issues/52) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/5dd38bd9-ebaf-4024-abbe-c5f7468ef082); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2018-12-20 15:45] 0crat commented on #52
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-20 16:22] dgroup commented on #62
@0crat wait as #63 is raised.

[2018-12-20 16:23] 0crat commented on #62
@dgroup The impediment for [#62](https://github.com/llorllale/cactoos-matchers/issues/62) was registered successfully by @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-12-20 17:16] dgroup commented on #52
@0crat wait as #64 was raised.

[2018-12-20 17:17] 0crat commented on #52
@dgroup The impediment for [#52](https://github.com/llorllale/cactoos-matchers/issues/52) was registered successfully by @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-12-21 02:41] #62 closed

[2018-12-21 02:58] 0crat commented on #62
Job was finished in 11 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-21 03:02] 0crat commented on #62
The job [#62](https://github.com/llorllale/cactoos-matchers/issues/62) is now out of scope

[2018-12-21 03:04] 0crat commented on #62
Order was finished: +35 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-12-25 01:52] dgroup commented on #20
@0crat wait, as the #64 has quite huge changes, thus it will be double work without that request.

[2018-12-25 01:54] 0crat commented on #20
@dgroup Can't understand "wait,", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this is

[2018-12-28 14:26] dgroup opened #65 "HasEntry matcher to check that map has particular entry"
Now when i need to write the unit test with `java.util.Map` i have to use something like
[code]
and it would be more clear if we add a new matcher `HasEntry` like
[code]
The class may have 3 constructors:
- HasEntry(key, value)
- HasEntry(Map.Entry entry)
- HasEntry(BiFunc<K,V,Boolean, String mismatch explanation))

Let's discuss the possiblity of this feature.

[2019-01-01 16:08] fabriciofx opened #66 "Let's update Copyright notice to 2019."
Let's update Copyright notice to 2019.

[2019-01-01 16:08] 0crat commented on #66
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-02 15:08] llorllale commented on #66
@fabriciofx see https://github.com/zold-io/java-api/issues/87#issuecomment-450886071

[2019-01-02 15:22] llorllale commented on #65
@dgroup sounds good. What if we wanted to check more entries?

[2019-01-02 16:56] dgroup opened #67 "HasProperties matcher to check that java.util.Properties has particular entry(s)"
In case of single property
[code]
In case of multiple property it may looks like
[code]
Let's discuss the possiblity of this functionality.

[2019-01-02 16:56] 0crat commented on #67
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-03 10:15] 0crat commented on #53
The job [#53](https://github.com/llorllale/cactoos-matchers/issues/53) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/47a27465-8b30-47bc-bcab-f90ddfc4bd0d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-01-03 10:44] 0crat commented on #51
The job [#51](https://github.com/llorllale/cactoos-matchers/issues/51) assigned to @verkhovin[/z](https://www.0crat.com/u/verkhovin), here is [why](https://www.0crat.com/footprint/C63314D6Z/2df43dae-6a61-4803-8cfb-4aaacf851262); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-01-03 13:10] llorllale commented on #67
@dgroup `java.util.Properties` is meant to store strings only, therefore accepting `Map.Entry` args is not required.

I think this should just be `HasProperty`. To specify several, users should wrap in [`AllOf`](http://hamcrest.org/JavaHamcrest/javadoc/1.3/org/hamcrest/core/AllOf.html).

[2019-01-03 13:11] dgroup commented on #67
@llorllale, agree

[2019-01-03 13:13] llorllale commented on #65
@dgroup just one: `HasEntry(Map.Entry... entries)`

[2019-01-03 13:14] llorllale commented on #65
@dgroup actually we should just have it accept a single key and value. If users want to check for several, they can wrap several `HasEntry` with [`AllOf`](http://hamcrest.org/JavaHamcrest/javadoc/1.3/org/hamcrest/core/AllOf.html). Let's try this approach and see how it feels.

[2019-01-03 13:15] llorllale commented on #65
@0crat in

[2019-01-03 13:19] 0crat commented on #65
@llorllale Job [#65](https://github.com/llorllale/cactoos-matchers/issues/65) is now in scope, role is `DEV`

[2019-01-03 14:20] llorllale commented on #58
@0crat status

[2019-01-03 14:23] 0crat commented on #58
Job [#58](https://github.com/llorllale/cactoos-matchers/issues/58) is already assigned to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-03 14:30] 0crat commented on #58
@llorllale This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#58](https://github.com/llorllale/cactoos-matchers/issues/58) is [in scope](http://www.zerocracy.com/policy.html#14) for 23days
  * The role is `DEV`
  * The job is assigned to @llorllale[/z](https://www.0crat.com/u/llorllale) for [23d

[2019-01-03 14:44] llorllale commented on #58
@0crat boost 4x

[2019-01-03 14:55] 0crat commented on #58
@llorllale @llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#58](https://github.com/llorllale/cactoos-matchers/issues/58), see [§21](http://www.zerocracy.com/policy.html#21); @llorllale[/z](https://www.0crat.com/u/llorllale) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-03 14:59] 0pdd opened #68 "TeeInputHasResult.java:46-48: Delete TeeInputHasResult..."
The puzzle `58-b44e1a44` from #58 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/63681b90b3e137fa5986a744a3b5cd0b14dc898e/src/main/java/org/llorllale/cactoos/matchers/TeeInputHasResult.java#L46-L48

The puzzle was created by @rultor on 03-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2019-01-03 14:59] 0pdd commented on #68
This puzzle inherited milestone `1.0.0` from issue #58.

[2019-01-03 14:59] 0pdd opened #69 "NotBlank.java:36-38: NotBlank should be changed to..."
The puzzle `58-21ae45f3` from #58 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/63681b90b3e137fa5986a744a3b5cd0b14dc898e/src/main/java/org/llorllale/cactoos/matchers/NotBlank.java#L36-L38

The puzzle was created by @rultor on 03-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and t

[2019-01-03 14:59] 0pdd commented on #69
This puzzle inherited milestone `1.0.0` from issue #58.

[2019-01-03 14:59] 0pdd commented on #58
@dgroup 2 puzzles [#68](https://github.com/llorllale/cactoos-matchers/issues/68), [#69](https://github.com/llorllale/cactoos-matchers/issues/69) are still not solved.

[2019-01-03 14:59] 0crat commented on #68
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-03 15:00] 0crat commented on #69
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-03 15:01] 0crat commented on #58
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-03 15:06] 0crat commented on #68
Job [#68](https://github.com/llorllale/cactoos-matchers/issues/68) is now in scope, role is `DEV`

[2019-01-03 15:06] 0crat commented on #69
Job [#69](https://github.com/llorllale/cactoos-matchers/issues/69) is now in scope, role is `DEV`

[2019-01-03 16:17] llorllale commented on #58
@dgroup fixed in PR #59. Can we close this?

[2019-01-03 20:48] dgroup commented on #53
@0crat wait as #71 was raised.

[2019-01-03 20:49] 0crat commented on #53
@dgroup The impediment for [#53](https://github.com/llorllale/cactoos-matchers/issues/53) was registered successfully by @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-01-04 02:44] 0crat commented on #58
Job [#58](https://github.com/llorllale/cactoos-matchers/issues/58) is not in the agenda of @llorllale[/z](https://www.0crat.com/u/llorllale), can't retrieve data and time of add

[2019-01-04 02:48] 0crat commented on #58
The job [#58](https://github.com/llorllale/cactoos-matchers/issues/58) is now out of scope

[2019-01-04 02:50] 0crat commented on #58
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-06 10:43] dgroup opened #73 "Extend AllOf in order to support varargs for Matchers"
Now, if we want to use the `org.hamcrest.core.AllOf` we have to write something like
[code]
We can avoid it using `Matchers.allOf(Matcher ...args)`, but its belongs to the lib `hamcrest-all`.
I propose to extend the `AllOf` in order to support the vararg ctor which allows us to avoid instantiation of iterable, and without unnecessary indents, we may write most matchers like:
[code]

[2019-01-06 10:43] 0crat commented on #73
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-08 17:24] dgroup opened #74 "HasSize matcher for Assertion in order to support the Collection and Iterable"
Now hamcrest has 2 different matchers in order to check the size of the collection (which is iterable) and iterable. Sometimes you can't use them easily without static methods from  `org.hamcrest.Matchers`:
 - org.hamcrest.Matchers#iterableWithSize(...)
 - org.hamcrest.Matchers#hasSize(...)

We are going to deprecate the static methods from `Matchers` thus we need to give an alternative to that be

[2019-01-10 01:38] llorllale commented on #73
@dgroup what do you mean "extend"? You want to create a new class that extends hamcrest's `AllOf`?

[2019-01-10 01:53] 0pdd commented on #69
The puzzle `58-21ae45f3` has disappeared from the source code, that's why I closed this issue.

[2019-01-10 01:53] #69 closed

[2019-01-10 01:53] 0pdd commented on #58
@dgroup the puzzle [#68](https://github.com/llorllale/cactoos-matchers/issues/68) is still not solved; solved: [#69](https://github.com/llorllale/cactoos-matchers/issues/69).

[2019-01-10 02:06] llorllale commented on #74
@dgroup let's name it `HasSize`, and yes, it should directly accept a parameter of type `int`, not `Matcher<? super Integer>`

[2019-01-10 02:06] llorllale commented on #74
@0crat in

[2019-01-10 02:15] 0crat commented on #69
Job `gh:llorllale/cactoos-matchers#69` is not assigned, can't get performer

[2019-01-10 02:15] 0crat commented on #74
@llorllale Job [#74](https://github.com/llorllale/cactoos-matchers/issues/74) is now in scope, role is `DEV`

[2019-01-10 02:15] 0crat commented on #69
The job [#69](https://github.com/llorllale/cactoos-matchers/issues/69) is now out of scope

[2019-01-10 04:50] dgroup commented on #73
@llorllale, yes
[code]
Also we can write the own implementation of `Matcher`, but i think it will be overengineering for this case.

[2019-01-10 05:50] dgroup opened #75 "Envelope for TypeSafeMatcher - reduce the code duplication within the matchers"
`TypeSafeMatcher` was chosen as an example of how to easily implement hamcrest matcher, however, we have code duplication for each implementation of `TypeSafeMatcher`:
 - overriding of 3 methods `match`, `describeTo`, `describeMismatch`
 - for each of these methods, we need the fields in order to constructs the methods
 - most of these methods are operating with cactoos primitives, thus, we are us

[2019-01-10 05:50] 0crat commented on #75
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-10 14:11] llorllale commented on #73
@dgroup I think it would be better to provide a PR for hamcrest.

[2019-01-10 14:33] llorllale commented on #75
@0crat in

[2019-01-10 14:34] 0crat commented on #75
@llorllale Job [#75](https://github.com/llorllale/cactoos-matchers/issues/75) is now in scope, role is `DEV`

[2019-01-10 14:42] 0crat commented on #75
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-01-10 15:09] dgroup commented on #73
@llorllale , initially the issue raised because i through
1. They already give this feature as `Matchers.allOf(...)` and available with `hamcrest-all`.
2. They promoting the usage of matchers through static methods annotated as `@org.hamcrest.Factory`, thus it already implemented, no need to add it to the `hamcrest-core`
3. There were no any releases since 2015 in maven central, so it will take mo

[2019-01-10 15:16] #73 closed

[2019-01-10 15:37] 0crat commented on #73
Job `gh:llorllale/cactoos-matchers#73` is not assigned, can't get performer

[2019-01-10 15:41] 0crat commented on #73
This job is not in scope

[2019-01-11 07:37] dgroup opened #76 "When the release 0.13 will go live?"
There are a lot of changes happens to project since the last release in December.
I would like to use them in my projects.

[2019-01-11 07:37] 0crat commented on #76
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-12 22:47] verkhovin commented on #51
@0crat refuse

[2019-01-12 22:49] 0crat commented on #51
@verkhovin The user @verkhovin[/z](https://www.0crat.com/u/verkhovin) resigned from [#51](https://github.com/llorllale/cactoos-matchers/issues/51), please stop working. Reason for job resignation: Order was cancelled

[2019-01-12 22:49] 0crat commented on #51
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @verkhovin[/z](https://www.0crat.com/u/verkhovin)

[2019-01-14 14:38] llorllale commented on #76
@dgroup point to the issue you need released

[2019-01-15 01:01] llorllale commented on #51
@0crat assign me

[2019-01-15 01:08] 0crat commented on #51
@llorllale The job [#51](https://github.com/llorllale/cactoos-matchers/issues/51) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/7f0852e3-e01d-4afe-8f96-d69632d6c9fc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-01-15 01:09] 0crat commented on #51
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-15 01:09] 0crat commented on #51
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-15 02:42] llorllale commented on #51
@0crat wait because I submitted PR #77 for this

[2019-01-15 02:44] 0crat commented on #51
@llorllale The impediment for [#51](https://github.com/llorllale/cactoos-matchers/issues/51) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-15 21:30] Serranya opened #78 "Wrong ctor arg name and javadoc"
ScalarHasValue has the following Ctor:

https://github.com/llorllale/cactoos-matchers/blob/040051580f8b2b05ad839150a3683b0fb58caa22/src/main/java/org/llorllale/cactoos/matchers/ScalarHasValue.java#L49-L64

The javadoc speaks about `text` which is wrong. And so does the param in the first Ctor.
The scalar is generic and text is not an appropriate name.

I would suggest a more generic name like `val

[2019-01-15 21:30] 0crat commented on #78
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-15 21:30] 0crat commented on #78
@serranya[/z](https://www.0crat.com/u/serranya) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-16 01:47] 0pdd commented on #52
The puzzle `18-b493cd89` has disappeared from the source code, that's why I closed this issue.

[2019-01-16 01:47] #52 closed

[2019-01-16 01:47] 0pdd opened #80 "EndsWithTest.java:40-42: Ban all overloads of the former..."
The puzzle `52-f2eb48e2` from #52 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/cb29b6c72f31e95062117ed42a52b201f9898047/src/test/java/org/llorllale/cactoos/matchers/EndsWithTest.java#L40-L42

The puzzle was created by @dgroup on 15-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2019-01-16 01:47] 0pdd commented on #80
This puzzle inherited milestone `1.0.0` from issue #52.

[2019-01-16 01:47] 0pdd opened #81 "TextIsTest.java:38-40: Replace all uses of..."
The puzzle `52-ccaad1a2` from #52 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/cb29b6c72f31e95062117ed42a52b201f9898047/src/test/java/org/llorllale/cactoos/matchers/TextIsTest.java#L38-L40

The puzzle was created by @dgroup on 15-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and

[2019-01-16 01:47] 0pdd commented on #81
This puzzle inherited milestone `1.0.0` from issue #52.

[2019-01-16 01:47] 0pdd commented on #18
@llorllale 3 puzzles [#53](https://github.com/llorllale/cactoos-matchers/issues/53), [#80](https://github.com/llorllale/cactoos-matchers/issues/80), [#81](https://github.com/llorllale/cactoos-matchers/issues/81) are still not solved; solved: [#52](https://github.com/llorllale/cactoos-matchers/issues/52).

[2019-01-16 01:47] 0pdd commented on #52
@0pdd 2 puzzles [#80](https://github.com/llorllale/cactoos-matchers/issues/80), [#81](https://github.com/llorllale/cactoos-matchers/issues/81) are still not solved.

[2019-01-16 01:47] 0crat commented on #81
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-16 01:59] 0crat commented on #80
Job [#80](https://github.com/llorllale/cactoos-matchers/issues/80) is now in scope, role is `DEV`

[2019-01-16 02:00] llorllale commented on #78
@Serranya fixed in 8669cf508ededaccaf7e038e98387623899c5c1f.

[2019-01-16 02:00] #78 closed

[2019-01-16 02:32] 0crat commented on #78
This job is not in scope

[2019-01-16 02:34] 0crat commented on #52
The job [#52](https://github.com/llorllale/cactoos-matchers/issues/52) is now out of scope

[2019-01-16 02:34] 0crat commented on #52
Order was finished: +30 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-01-18 15:31] llorllale commented on #76
@victornoel @dgroup already on it, see https://github.com/llorllale/cactoos-matchers/issues/18#issuecomment-455584703

[2019-01-18 15:31] #76 closed

[2019-01-18 15:32] victornoel commented on #76
@llorllale hehe, too fast for us ;) thanks!

[2019-01-18 15:48] rultor commented on #18
@llorllale Done! FYI, the full log is [here](http://www.rultor.com/t/17409-455584559) (took me 19min)

[2019-01-18 15:55] 0crat commented on #76
Job `gh:llorllale/cactoos-matchers#76` is not assigned, can't get performer

[2019-01-18 15:58] 0crat commented on #76
This job is not in scope

[2019-01-18 16:40] llorllale commented on #51
@llorlale fixed in PR #77

[2019-01-18 16:40] #51 closed

[2019-01-18 17:13] 0crat commented on #51
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-18 18:52] fabriciofx opened #83 "Move to github actions"
Let's replace travis with github actions, once this is done, we can continue with also running tests on windows.

[2019-01-18 18:52] 0crat commented on #83
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-18 22:09] 0crat commented on #80
The job [#80](https://github.com/llorllale/cactoos-matchers/issues/80) assigned to @borysfan[/z](https://www.0crat.com/u/borysfan), here is [why](https://www.0crat.com/footprint/C63314D6Z/c79588aa-ad98-49b4-b684-2ec8ef90d50d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-18 22:19] 0crat commented on #81
The job [#81](https://github.com/llorllale/cactoos-matchers/issues/81) assigned to @borysfan[/z](https://www.0crat.com/u/borysfan), here is [why](https://www.0crat.com/footprint/C63314D6Z/cb8fc778-6f72-4fee-89a2-85c2b8f82885); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-19 14:57] 0pdd commented on #81
The puzzle `52-ccaad1a2` has disappeared from the source code, that's why I closed this issue.

[2019-01-19 14:57] #81 closed

[2019-01-19 14:57] 0pdd opened #84 "ScalarHasValueTest.java:43-45: Replace all uses of..."
The puzzle `81-ccaad1a2` from #81 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/5f1adde5dfb4cba851eb194219424f126b647350/src/test/java/org/llorllale/cactoos/matchers/ScalarHasValueTest.java#L43-L45

The puzzle was created by igor on 19-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2019-01-19 14:57] 0pdd commented on #84
This puzzle inherited milestone `1.0.0` from issue #81.

[2019-01-19 14:58] 0pdd commented on #18
@llorllale 3 puzzles [#53](https://github.com/llorllale/cactoos-matchers/issues/53), [#80](https://github.com/llorllale/cactoos-matchers/issues/80), [#84](https://github.com/llorllale/cactoos-matchers/issues/84) are still not solved; solved: [#52](https://github.com/llorllale/cactoos-matchers/issues/52), [#81](https://github.com/llorllale/cactoos-matchers/issues/81).

[2019-01-19 14:58] 0pdd commented on #52
@0pdd 2 puzzles [#80](https://github.com/llorllale/cactoos-matchers/issues/80), [#84](https://github.com/llorllale/cactoos-matchers/issues/84) are still not solved; solved: [#81](https://github.com/llorllale/cactoos-matchers/issues/81).

[2019-01-19 14:58] 0pdd commented on #81
@0pdd the puzzle [#84](https://github.com/llorllale/cactoos-matchers/issues/84) is still not solved.

[2019-01-19 14:59] 0crat commented on #84
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-19 15:05] 0crat commented on #84
Job [#84](https://github.com/llorllale/cactoos-matchers/issues/84) is now in scope, role is `DEV`

[2019-01-19 15:15] 0crat commented on #81
Job was finished in 16 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-19 15:21] 0crat commented on #81
The job [#81](https://github.com/llorllale/cactoos-matchers/issues/81) is now out of scope

[2019-01-20 10:48] borysfan commented on #80
I went through the code and it seems that job #80 is already solved. No work is needed there.

[2019-01-20 10:58] fabriciofx opened #85 "Replace use of "@Rule ExpectedException" with new Throws"
There is some place still using `@Rule ExpectedException`. So, let's replace them with `Throws`.

[2019-01-20 10:58] 0crat commented on #85
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-20 12:04] fabriciofx opened #86 "Assertion calls test twice"
`Assertion` calls` Scalar<T> test` twice and this cause some troubles, mainly when testing the content of a stream, like:
[code]
because in the first call stream will be closed. So, I think a possible solution is put a `Sticky` decorator on `Scalar<T> test` parameter. @llorllale WDYT?

[2019-01-20 12:04] 0crat commented on #86
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-20 12:42] fabriciofx commented on #83
@llorllale ping

[2019-01-20 22:41] llorllale commented on #86
@fabriciofx this is a duplicate of #53

[2019-01-20 22:41] #86 closed

[2019-01-20 23:05] 0crat commented on #86
Job `gh:llorllale/cactoos-matchers#86` is not assigned, can't get performer

[2019-01-20 23:06] 0crat commented on #86
This job is not in scope

[2019-01-22 01:04] llorllale commented on #85
@0crat in

[2019-01-22 01:05] 0crat commented on #85
@llorllale Job [#85](https://github.com/llorllale/cactoos-matchers/issues/85) is now in scope, role is `DEV`

[2019-01-22 01:12] 0crat commented on #85
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-22 01:26] 0pdd opened #88 "Assertion.java:111-115: Avoid the overloading ctor to..."
The puzzle `53-0c767106` from #53 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/84e2fb922eb718274a1d60b57db4ad719f1a6956/src/main/java/org/llorllale/cactoos/matchers/Assertion.java#L111-L115

The puzzle was created by @dgroup on 21-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed an

[2019-01-22 01:32] 0crat commented on #88
Job [#88](https://github.com/llorllale/cactoos-matchers/issues/88) is now in scope, role is `DEV`

[2019-01-22 01:40] fabriciofx opened #89 "Private methods, constructors or classes are against EO principles"
Private methods, constructors or classes are against EO principles. Please, check [this comment](https://www.yegor256.com/2017/02/07/private-method-is-new-class.html#comment-3345359202) and @yegor256 opinion about them. So, let's change the code to create package or public classes and only public methods.

[2019-01-22 01:40] 0crat commented on #89
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-22 01:57] 0crat commented on #53
The job [#53](https://github.com/llorllale/cactoos-matchers/issues/53) is now out of scope

[2019-01-22 01:57] 0crat commented on #53
Order was finished: +30 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-01-22 03:51] llorllale commented on #89
@fabriciofx can you balance this against the [rule of three](https://en.wikipedia.org/wiki/Rule_of_three_(computer_programming))

[2019-01-22 20:56] Iprogrammerr commented on #74
@llorllale Could you assign me?

[2019-01-23 00:34] llorllale commented on #74
@0crat assign @Iprogrammerr

[2019-01-23 00:48] 0crat commented on #74
@llorllale The job [#74](https://github.com/llorllale/cactoos-matchers/issues/74) assigned to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), here is [why](https://www.0crat.com/footprint/C63314D6Z/305715d0-fd9e-4823-8ddd-d0654125ffb1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.

[2019-01-23 00:51] 0crat commented on #74
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-23 21:41] Iprogrammerr commented on #74
@0crat waiting on outcome of #75

[2019-01-23 21:45] 0crat commented on #74
@Iprogrammerr The impediment for [#74](https://github.com/llorllale/cactoos-matchers/issues/74) was registered successfully by @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr)

[2019-01-23 21:49] llorllale commented on #89
@fabriciofx

In most cases I don't think we (conciously) have. For example, can you extract any meaningful abstraction from `WriterAsOutputStream.next()`? Perhaps you can't but still want to press ahead and eliminate this private method. How will this affect the readability of `WriterAsOutputStream.write(byte[], in, in)`?

[2019-01-24 02:17] llorllale commented on #89
@fabriciofx please elaborate on how this Buffer type would look.

[2019-01-24 19:06] fabriciofx opened #90 "Throws.matchesSafely() is not accessible"
`Throws.matchesSafely()` is not acessible. Let's do it `public`.

[2019-01-24 19:07] 0crat commented on #90
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-25 00:31] llorllale commented on #90
@fabriciofx why?

[2019-01-25 15:22] ilyakharlamov commented on #90
@llorllale I guess so that it can be used in other projects.

[2019-01-25 15:42] fabriciofx commented on #90
@llorllale Exactly as said by @ilyakharlamov .

[2019-01-26 13:11] llorllale commented on #90
@fabriciofx @ilyakharlamov it's not meant to be directly used by user-defined classes.

What am I missing here?

[2019-01-26 14:23] ilyakharlamov opened #91 "Incorrect AssertionError message if test fails"
[code]
**What's wrong**:
The error message is:
```Expected: <2>  but was: was <2>```

**Expected result**:
The error message should be like:
```Expected: <2>  but was: <1>```

Tested against 84e2fb9 so it's not fixed in #53 and #86

[2019-01-26 18:59] fabriciofx commented on #90
@llorllale It's a good question. @ilyakharlamov requested it because (I think) he want to implement some functionality to finish a PR properly. But I've made fast research and discovered we have 9 protected `matchesSafely()` methods and 5 public. What's the reason for that?

[2019-01-26 20:04] fabriciofx opened #92 "Update PR guidelines in PULL_REQUEST_TEMPLATE"
Cactoos project [updated PR guidelines](https://github.com/yegor256/cactoos/commit/b8bf44e4ddbe0b5a9b13e006208327358931c0cd) and I think it would be nice if we do that too. The new rules are:

- You made changes related to only one bug (create separate PRs for separate problems, or leave puzzles)
- You ran the build locally and it passed
- Title begins with the issue's number, then a short title
-

[2019-01-26 20:04] 0crat commented on #92
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-27 14:33] llorllale commented on #91
@0crat in

[2019-01-27 14:38] llorllale commented on #90
@fabriciofx they were probably implemented before teamed/qulice#901 was fixed. I believe a refactor after #75 will fix this.

[2019-01-27 14:38] llorllale commented on #90
@ilyakharlamov can we close this?

[2019-01-27 15:11] 0crat commented on #91
@llorllale Job [#91](https://github.com/llorllale/cactoos-matchers/issues/91) is now in scope, role is `DEV`

[2019-01-27 15:35] 0crat commented on #91
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov)

[2019-01-27 16:56] fabriciofx commented on #90
@llorllale Yes. I'll close it.

[2019-01-27 16:56] #90 closed

[2019-01-27 17:39] 0crat commented on #90
Job `gh:llorllale/cactoos-matchers#90` is not assigned, can't get performer

[2019-01-27 17:40] 0crat commented on #90
This job is not in scope

[2019-01-27 19:50] 0pdd commented on #20
The puzzle `7-0cc4122b` has disappeared from the source code, that's why I closed this issue.

[2019-01-27 19:50] #20 closed

[2019-01-27 19:50] 0pdd opened #93 "InputHasContent.java:37-39: Remove checkstyle suppression..."
The puzzle `75-33ff5101` from #75 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/3fadaceff8aee677f840350ae2a46a879d1806a4/src/main/java/org/llorllale/cactoos/matchers/InputHasContent.java#L37-L39

The puzzle was created by @rultor on 27-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2019-01-27 19:50] 0pdd commented on #93
This puzzle inherited milestone `1.0.0` from issue #75.

[2019-01-27 19:50] 0pdd opened #94 "MatcherEnvelope.java:43-45: Refactor other matchers to..."
The puzzle `75-c754358f` from #75 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/3fadaceff8aee677f840350ae2a46a879d1806a4/src/main/java/org/llorllale/cactoos/matchers/MatcherEnvelope.java#L43-L45

The puzzle was created by @rultor on 27-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2019-01-27 19:50] 0pdd commented on #94
This puzzle inherited milestone `1.0.0` from issue #75.

[2019-01-27 19:50] 0pdd commented on #7
@proshin-roman the only puzzle [#20](https://github.com/llorllale/cactoos-matchers/issues/20) is solved here.

[2019-01-27 19:50] 0pdd commented on #75
@dgroup 2 puzzles [#93](https://github.com/llorllale/cactoos-matchers/issues/93), [#94](https://github.com/llorllale/cactoos-matchers/issues/94) are still not solved.

[2019-01-27 19:51] 0crat commented on #94
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-27 19:51] 0crat commented on #93
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-27 20:13] victornoel commented on #20
@llorllale I don't understand why removing the puzzle for this issue was accepted: this is not solved at all and the fix goes against what the puzzle was about

[2019-01-27 20:17] 0crat commented on #93
Job [#93](https://github.com/llorllale/cactoos-matchers/issues/93) is now in scope, role is `DEV`

[2019-01-27 20:35] 0crat commented on #20
The job [#20](https://github.com/llorllale/cactoos-matchers/issues/20) is now out of scope

[2019-01-27 20:40] 0crat commented on #20
Order was finished: +30 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-01-28 16:55] fabriciofx opened #95 "Update jcabi-parent to 0.49.4 (solves xcop issue)"
Let's update to new jcabi version (0.49.4) because this new version solves xcop issue on windows.

[2019-01-28 16:55] 0crat commented on #95
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-29 10:54] borysfan commented on #75
@dgroup Could you please close this issue? It has been resolved in PR #87

[2019-01-29 15:42] #75 closed

[2019-01-29 16:01] 0crat commented on #75
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.40.15](https://github.com/zerocracy/farm): CID: [94497a8f-728e-4ac7-9013-e721ebce6297](https://www.0crat.com/footprint/C63314D6Z/94497a8f-728e-4ac7-9013-e721ebce6297), Type: "Close job"

[2019-01-29 16:10] 0crat commented on #75
The job [#75](https://github.com/llorllale/cactoos-matchers/issues/75) is now out of scope

[2019-01-29 16:12] 0crat commented on #75
Order was finished: +30 point(s) just awarded to @borysfan[/z](https://www.0crat.com/u/borysfan)

[2019-01-30 01:58] llorllale commented on #20
@victornoel we messed up, sorry

[2019-01-30 02:01] 0pdd commented on #7
@proshin-roman the puzzle [#20](https://github.com/llorllale/cactoos-matchers/issues/20) is still not solved.

[2019-01-30 02:19] llorllale commented on #95
@fabriciofx done in 013873cfe132cb0f3d17b807951902f182d54e36

[2019-01-30 02:19] #95 closed

[2019-01-30 02:38] 0crat commented on #95
Job `gh:llorllale/cactoos-matchers#95` is not assigned, can't get performer

[2019-01-30 02:40] 0crat commented on #95
This job is not in scope

[2019-02-02 02:14] #80 closed

[2019-02-02 02:14] 0pdd commented on #80
The puzzle `52-f2eb48e2` has disappeared from the source code, that's why I closed this issue.

[2019-02-02 02:14] #84 closed

[2019-02-02 02:14] 0pdd commented on #84
The puzzle `81-ccaad1a2` has disappeared from the source code, that's why I closed this issue.

[2019-02-02 02:14] 0pdd opened #99 "EndsWithTest.java:40-42: We should also look into banning..."
The puzzle `80-ce342b3c` from #80 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/95197861bf502180f9c70f0681389119d518237d/src/test/java/org/llorllale/cactoos/matchers/EndsWithTest.java#L40-L42

The puzzle was created by @rultor on 02-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2019-02-02 02:14] 0pdd commented on #99
This puzzle inherited milestone `1.0.0` from issue #80.

[2019-02-02 02:14] 0pdd commented on #18
@llorllale 3 puzzles [#52](https://github.com/llorllale/cactoos-matchers/issues/52), [#88](https://github.com/llorllale/cactoos-matchers/issues/88), [#99](https://github.com/llorllale/cactoos-matchers/issues/99) are still not solved; solved: [#53](https://github.com/llorllale/cactoos-matchers/issues/53), [#80](https://github.com/llorllale/cactoos-matchers/issues/80), [#81](https://github.com/llorl

[2019-02-02 02:14] 0pdd commented on #52
@0pdd the puzzle [#99](https://github.com/llorllale/cactoos-matchers/issues/99) is still not solved; solved: [#80](https://github.com/llorllale/cactoos-matchers/issues/80), [#81](https://github.com/llorllale/cactoos-matchers/issues/81), [#84](https://github.com/llorllale/cactoos-matchers/issues/84).

[2019-02-02 02:14] 0pdd commented on #80
@0pdd the puzzle [#99](https://github.com/llorllale/cactoos-matchers/issues/99) is still not solved.

[2019-02-02 02:14] 0pdd commented on #81
@0pdd the only puzzle [#84](https://github.com/llorllale/cactoos-matchers/issues/84) is solved here.

[2019-02-02 02:15] 0crat commented on #99
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-02-02 02:33] 0crat commented on #84
Job `gh:llorllale/cactoos-matchers#84` is not assigned, can't get performer

[2019-02-02 02:39] 0crat commented on #84
The job [#84](https://github.com/llorllale/cactoos-matchers/issues/84) is now out of scope

[2019-02-02 02:42] 0crat commented on #80
The job [#80](https://github.com/llorllale/cactoos-matchers/issues/80) is now out of scope

[2019-02-02 02:47] 0crat commented on #80
Order was finished: +30 point(s) just awarded to @borysfan[/z](https://www.0crat.com/u/borysfan)

[2019-02-05 17:14] dgroup opened #100 "IsUrlCorrect: The matcher to check that String url is valid"
The new matcher is required to check that `String` has valid `URL`
[code]

[2019-02-05 17:14] 0crat commented on #100
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-02-07 02:16] llorllale commented on #100
@dgroup is this solution not acceptable?

[code]

[2019-02-07 16:32] 0crat commented on #99
The job [#99](https://github.com/llorllale/cactoos-matchers/issues/99) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/474fc2c5-7328-4ab7-8171-ff0d3b22fc75); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-02-09 14:16] llorllale commented on #92
@fabriciofx fixed in 9d3c028c5498a514a4e875a871efe2ddadee3b8f

[2019-02-09 14:16] #92 closed

[2019-02-09 14:36] 0crat commented on #92
Job `gh:llorllale/cactoos-matchers#92` is not assigned, can't get performer

[2019-02-09 14:37] 0crat commented on #92
This job is not in scope

[2019-02-09 14:54] victornoel commented on #99
@0crat waiting for #101 to be merged

[2019-02-09 14:55] 0crat commented on #99
@victornoel The impediment for [#99](https://github.com/llorllale/cactoos-matchers/issues/99) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-02-16 13:56] dgroup opened #102 "Add new ctor(s) to Assertion in order to simplify the code within the unit tests"
1. Sometimes no need to create a scalar for the assertion for like
[code]
2. Moreover, we can also add a new ctor for equality checks:
[code]
    with text this might be more laconic
[code]
    where the `TextOf` will be wrapped to `new IsEqual<>` under the hood.

[2019-02-16 13:56] 0crat commented on #102
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-02-16 13:58] dgroup commented on #100
@llorllale thanks, will try.

[2019-02-16 13:58] #100 closed

[2019-02-16 19:20] 0crat commented on #100
Job `gh:llorllale/cactoos-matchers#100` is not assigned, can't get performer

[2019-02-16 22:55] 0crat commented on #100
This job is not in scope

[2019-02-20 01:18] llorllale commented on #102
@dgroup it's not possible I'm afraid:
* adding a ctor with the `test` as a non-scalar confuses the compiler when passing in scalars: are you trying to call `Assertion(String, Scalar<T>, Matcher<T>)` or are you calling `Assertion(String, T, Matcher<T>)`?
* same thing happens with the other arg

[2019-02-26 00:31] #99 closed

[2019-02-26 00:31] 0pdd commented on #99
The puzzle `80-ce342b3c` has disappeared from the source code, that's why I closed this issue.

[2019-02-26 00:31] 0pdd commented on #18
@llorllale 2 puzzles [#52](https://github.com/llorllale/cactoos-matchers/issues/52), [#88](https://github.com/llorllale/cactoos-matchers/issues/88) are still not solved; solved: [#53](https://github.com/llorllale/cactoos-matchers/issues/53), [#80](https://github.com/llorllale/cactoos-matchers/issues/80), [#81](https://github.com/llorllale/cactoos-matchers/issues/81), [#84](https://github.com/llorl

[2019-02-26 00:31] 0pdd commented on #52
@0pdd all 4 puzzles are solved here: [#80](https://github.com/llorllale/cactoos-matchers/issues/80), [#81](https://github.com/llorllale/cactoos-matchers/issues/81), [#84](https://github.com/llorllale/cactoos-matchers/issues/84), [#99](https://github.com/llorllale/cactoos-matchers/issues/99).

[2019-02-26 00:31] 0pdd commented on #80
@0pdd the only puzzle [#99](https://github.com/llorllale/cactoos-matchers/issues/99) is solved here.

[2019-02-26 01:07] 0crat commented on #99
The job [#99](https://github.com/llorllale/cactoos-matchers/issues/99) is now out of scope

[2019-02-26 01:07] 0crat commented on #99
Order was finished: +30 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-02 14:23] 0crat commented on #68
The job [#68](https://github.com/llorllale/cactoos-matchers/issues/68) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C63314D6Z/5a5e20ee-9e7e-4181-a8d6-26649a48b032); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-03-17 14:16] 0crat commented on #88
The job [#88](https://github.com/llorllale/cactoos-matchers/issues/88) assigned to @longstone[/z](https://www.0crat.com/u/longstone), here is [why](https://www.0crat.com/footprint/C63314D6Z/4ee106ab-c8c6-4dd7-975d-a0f8aad1d9e9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-03-18 23:28] llorllale commented on #68
@0crat refuse

[2019-03-18 23:29] 0crat commented on #68
@llorllale The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#68](https://github.com/llorllale/cactoos-matchers/issues/68), please stop working. Reason for job resignation: Order was cancelled

[2019-03-30 13:02] longstone commented on #88
@0crat wait
The way the implementation is done creates an impediment. I see the following ways

1. leave it as it is
2. create an AssertException class
3. rebuild the complete mechanism and let exceptions happen during the evaluation and check then if they're expected. this would lead to a lot of new puzzles, I assume.

@llorllale: what is the prefered approach?

[2019-03-30 13:03] 0crat commented on #88
@longstone The impediment for [#88](https://github.com/llorllale/cactoos-matchers/issues/88) was registered successfully by @longstone[/z](https://www.0crat.com/u/longstone)

[2019-03-30 17:57] 0crat commented on #68
The job [#68](https://github.com/llorllale/cactoos-matchers/issues/68) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/572217ba-ff9e-4e23-931f-f38d7641cfd0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-03-30 18:18] victornoel commented on #68
@llorllale what does `Should be moved to test packages in cactoos` mean here? What should be moved to cactoos?

[2019-04-01 21:31] victornoel commented on #68
@llorllale see my comment above

[2019-04-02 01:11] llorllale commented on #68
@victornoel good question. Not sure what I was thinking at the time.

If "users should use `InputHasContent`", then `TeeInputHasResult` should not be moved to cactoos at all - it should be deleted and replaced by `InputHasContent`.

Looks to me like all that's left to do in `cactoos-matchers` is to delete `TeeInputHasResult`. `cactoos` will have to refactor later on when upgrading version.

[2019-04-02 01:51] 0crat commented on #65
The job [#65](https://github.com/llorllale/cactoos-matchers/issues/65) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/836fa963-3d03-4c71-b1e8-fb69bb4ed360); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-04-02 19:29] victornoel opened #103 "Update to latest cactoos and remove usage of deprecated UncheckedScalar"
`UncheckedScalar` has been marked deprecated and for it to be removed, we must first remove its usage in cactoos-matchers, make a release and then update cactoos to latest cactoos-matchers (while removing the deprecated class at the same time).

[2019-04-02 19:29] 0crat commented on #103
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-02 19:33] victornoel commented on #68
@0crat wait for #104 to be merged.

@llorllale once #104 is merged I think we can release a new version and I can take care of updating cactoos-matchers in cactoos as part of this issue since there wasn't so much work here to do. Or we can wait for #103 maybe, you tell me :)

[2019-04-02 19:33] 0crat commented on #68
@victornoel The impediment for [#68](https://github.com/llorllale/cactoos-matchers/issues/68) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-02 20:11] victornoel commented on #65
@0crat wait for #105 to be merged

[2019-04-02 20:16] 0crat commented on #65
@victornoel The impediment for [#65](https://github.com/llorllale/cactoos-matchers/issues/65) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-04 10:29] 0crat commented on #74
The job [#74](https://github.com/llorllale/cactoos-matchers/issues/74) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/f641c273-acdb-473a-8817-3b5ccd2ed212); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-04-04 23:00] llorllale commented on #103
@0crat in

[2019-04-04 23:00] llorllale commented on #103
@victornoel ugh, what a headache...

[2019-04-04 23:00] 0crat commented on #103
@llorllale Job [#103](https://github.com/llorllale/cactoos-matchers/issues/103) is now in scope, role is `DEV`

[2019-04-04 23:07] 0crat commented on #103
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-04 23:26] llorllale commented on #88
@longstone none of the above?

I don't have an answer for you, sorry.

[2019-04-06 10:57] victornoel commented on #74
@dgroup it seems @Iprogrammerr forgot to ask for closing the issue, I think it is solved and there are tests, can you close it now?

[2019-04-06 10:58] victornoel commented on #74
@0crat wait for reporter

[2019-04-06 11:03] 0crat commented on #74
@victornoel The impediment for [#74](https://github.com/llorllale/cactoos-matchers/issues/74) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-06 12:37] #74 closed

[2019-04-06 12:37] dgroup commented on #74
@victornoel thanks for reminding.

[2019-04-06 13:01] 0crat commented on #74
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-06 13:03] 0crat commented on #74
The job [#74](https://github.com/llorllale/cactoos-matchers/issues/74) is now out of scope

[2019-04-06 13:11] sereshqua commented on #74
@0crat quality good

[2019-04-06 13:18] 0crat commented on #74
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-06 13:18] 0crat commented on #74
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-06 13:19] 0crat commented on #85
The job [#85](https://github.com/llorllale/cactoos-matchers/issues/85) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/57bdf42a-1195-4871-98e5-e3b347b6f37b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-04-06 13:30] #68 closed

[2019-04-06 13:30] 0pdd commented on #68
The puzzle `58-b44e1a44` has disappeared from the source code, that's why I closed this issue.

[2019-04-06 13:30] 0pdd commented on #58
@dgroup all 2 puzzles are solved here: [#68](https://github.com/llorllale/cactoos-matchers/issues/68), [#69](https://github.com/llorllale/cactoos-matchers/issues/69).

[2019-04-06 13:49] 0crat commented on #68
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-06 13:49] 0crat commented on #68
The job [#68](https://github.com/llorllale/cactoos-matchers/issues/68) is now out of scope

[2019-04-06 13:50] victornoel opened #106 "Add Mismatches matcher to test Matcher's mistatches"
There exists a `Matcher` called  `Matches` to test that a `Matcher` properly matches.

We need a complementary `Matcher` named `Mismatches` to test that a `Matcher` properly does not match, including checking the mismatch message.

For example, in order to do #85, I must remove the usage of `ExpectedException` and most of the place where it is used, the intent is actually about testing that the `M

[2019-04-06 13:50] 0crat commented on #106
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-06 13:50] victornoel commented on #85
@0crat wait for #106

[2019-04-06 13:51] 0crat commented on #85
@victornoel The impediment for [#85](https://github.com/llorllale/cactoos-matchers/issues/85) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-06 13:58] sereshqua commented on #68
@0crat quality good

[2019-04-06 14:05] 0crat commented on #68
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-06 14:05] 0crat commented on #68
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-06 14:06] 0crat commented on #91
The job [#91](https://github.com/llorllale/cactoos-matchers/issues/91) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/c494d392-6152-4986-b01e-f9f97e4abe13); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-04-06 14:53] victornoel commented on #91
@llorllale @ilyakharlamov do we agree that the fact that the term "was" is duplicated here is not the problem but only the fact that the test is executed twice instead of only once?

[2019-04-06 15:18] victornoel commented on #91
@0crat wait for #107 to be merged.

[2019-04-06 15:19] 0crat commented on #91
@victornoel The impediment for [#91](https://github.com/llorllale/cactoos-matchers/issues/91) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-09 10:54] atapin opened #108 "Allow Throws to match by a part of an exception message"
Currently, `Throws` doesn't allow to match exception messages that are dynamic and out of the caller's control. E.g.:
[code]
This behavior blocks replacing `@Rule` with `Throws` matcher in `org.cactoos.iterator.NoNullsTest#nthThrowsErrorIfNull` ([see](https://github.com/yegor256/cactoos/blob/master/src/test/java/org/cactoos/iterator/NoNullsTest.java))

[2019-04-09 10:55] 0crat commented on #108
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-10 18:46] victornoel commented on #106
@llorllale ping, it's blocking #85 :)

[2019-04-13 00:07] llorllale commented on #108
@atapin I guess we can have `Throws` accept a `Func<String, Boolean>` for this

[2019-04-13 00:07] llorllale commented on #108
@0crat in

[2019-04-13 00:08] 0crat commented on #108
@llorllale Job [#108](https://github.com/llorllale/cactoos-matchers/issues/108) is now in scope, role is `DEV`

[2019-04-13 00:15] 0crat commented on #108
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @atapin[/z](https://www.0crat.com/u/atapin)

[2019-04-13 00:54] llorllale commented on #106
@victornoel this won't work with `Throws`. How about making the first arg a `Scalar<T>`?

[2019-04-13 06:10] atapin commented on #108
@llorllale does it make sense to inherit `Throws` from `TextMatcherEnvelope`?

[2019-04-14 13:44] llorllale commented on #108
@atapin `TextMatcherEnvelope` is a matcher of `Text`; `Throws` can match anything. If `Throws` were to extend `TextMatcherEnvelope`, it would only be useful for testing exceptions thrown from operations that return `Text`. We want `Throws` to be useful for any generic operation.

[2019-04-14 15:00] victornoel commented on #106
@llorllale hmm, if the `Matcher` under test is a `Throws`, then it means that in the signature above, the first argument `arg` would just been instantiated as `Scalar<U>` for some `U`, no?

Actually, I'm not exactly sure why `Assertion` is not simply the same, taking a `T` (which in the case of `Throws` matcher is instantiated as a `Scalar<U>` too)... That would solve this strange double-construct

[2019-04-14 15:10] victornoel commented on #88
@longstone see the discussion here too https://github.com/llorllale/cactoos-matchers/issues/106#issuecomment-482993497

I think things are kind of overcomplicated for nothing.

If it is necessary to keep the `Scalar<T>` argument of `Assertion`, then we should simply have this kind of usage of:
[code]

But I think it would be simply nicer to just have `Assertion` take a `T`.

[2019-04-14 15:17] victornoel commented on #91
@ilyakharlamov the PR has been merged, I believe you can close this issue

[2019-04-14 21:16] llorllale commented on #106
@victornoel

**TLDR:** `Assertion` should be capable of asserting values *and exceptions*. It must accept a `Scalar<T>` so that it can catch any exception thrown and use the provided matcher (which *may* be `Throws`), to test the exception itself.

**Longer version:**

Because `Throws` requires the operation to be executed and allowed to actually throw the exception. The operation is executed by `

[2019-04-14 22:31] #91 closed

[2019-04-14 22:47] 0crat commented on #91
Job [#91](https://github.com/llorllale/cactoos-matchers/issues/91) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-04-14 22:47] 0crat commented on #91
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-14 22:48] 0crat commented on #91
The job [#91](https://github.com/llorllale/cactoos-matchers/issues/91) is now out of scope

[2019-04-15 03:52] sereshqua commented on #91
@0crat quality good

[2019-04-15 03:57] 0crat commented on #91
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-15 03:59] 0crat commented on #91
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-15 06:19] 0crat commented on #94
The job [#94](https://github.com/llorllale/cactoos-matchers/issues/94) assigned to @atapin[/z](https://www.0crat.com/u/atapin), here is [why](https://www.0crat.com/footprint/C63314D6Z/31be82d4-8b1d-403c-8144-8495d0a2f025); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-04-15 06:43] victornoel commented on #106
@llorllale I think you are confusing the type argument `T` and its actual instance which can itself be a `Scalar<X>`. I understand what you say above above the requirements for `Assertion` and agree with them.

I disagree on the technical solution.

See the following code I just wrote to demonstrate my point:
[code]

Do you see any problem with this? It answers the requirements you expressed and d

[2019-04-15 23:17] llorllale commented on #106
@victornoel

Incompatibility between the generic types of `Assertion` and `Throws`. And `Throws` requires *something* it can execute (eg. a `Scalar`) in order to trigger the exception for its test.

[2019-04-16 04:15] 0crat commented on #93
The job [#93](https://github.com/llorllale/cactoos-matchers/issues/93) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/f48b1b41-88b1-4f6e-b617-3854a6449660); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-04-16 06:48] victornoel commented on #106
What do you mean incompatibility? They are perfectly compatible:
- `Assertion` takes a `Matcher<T>` whatever is the instantiation of `T`.
- `Throws` is a `Matcher<T>` where `T` is instantiated with `Scalar<X>` for any `X` (generics are relative to their declaration, so the `X` here is the `T` in `Throws<T>`, which is NOT the `T` in `Assertion<T>` and that's perfectly ok).

Have you realised that t

[2019-04-16 06:56] victornoel commented on #106
@llorllale let me add something else: in the example code above, in the test `testThrows()`, you can see that:
- the object `Assertion2` takes an object `Scalar` as you expect it to take so that it is executable as you highlight
- it is possible because `Throws` is a `Matcher<Scalar<T>>`, so it can only matches against instances of `Scalar<T>`. Here `T` is instantiated as `Integer`, but it is not

[2019-04-16 11:12] Umbrah commented on #93
@0crat refuse

[2019-04-16 11:14] 0crat commented on #93
@Umbrah The user @umbrah[/z](https://www.0crat.com/u/umbrah) resigned from [#93](https://github.com/llorllale/cactoos-matchers/issues/93), please stop working. Reason for job resignation: Order was cancelled

[2019-04-16 11:15] 0crat commented on #93
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-04-16 13:29] llorllale commented on #106
@victornoel you're right. You pointed out my erroneous assumption:

so my understanding was that `Throws.matches()` would be passed a `Scalar<T>` where `T` would be another `Scalar`. This boggles my mind. Any references explaining this would be appreciated.

This would make using `Assertion` a bit more intuitive (no more unnecessary scalars when asserting on *values*).

Can you open a ticket to re

[2019-04-16 13:30] llorllale commented on #106
@0crat in

let's do `Mismatches`

[2019-04-16 13:31] 0crat commented on #106
@llorllale Argument "let's" doesn't match regex `[A-Z]{2,3}`

[2019-04-16 13:32] llorllale commented on #106
@0crat in

[2019-04-16 13:34] 0crat commented on #106
@llorllale Job [#106](https://github.com/llorllale/cactoos-matchers/issues/106) is now in scope, role is `DEV`

[2019-04-16 13:40] 0crat commented on #106
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-16 13:40] victornoel commented on #106
@llorllale I believe #88 is the perfect place for this to happen, WDYT? If yes, I will add a comment there to explain the solution we described here.

As for a pointer on type parameters, I'm not exactly sure where to look for it. It's "basic" in the sense that that's how they work: there are type parameters when a generic is declared, and type argument when a generic is instantiated (potentially

[2019-04-16 13:50] llorllale commented on #106
@victornoel

Sure, go ahead. Link back to this conversation.

This particular aspect can sometimes be quite implicit (especially if you haven't wrote a compiler before ^^), it's the same thing that often confuse beginners between method parameters and method arguments.

What's confusing is that this *thing* I'm passing through `Assertion` and on to `Throws` has a different "appearance" based on th

[2019-04-16 13:55] victornoel commented on #88
@longstone for the record, after discussing it in #106, we concluded that the best solution was the one outlined here: https://github.com/llorllale/cactoos-matchers/issues/106#issuecomment-483127231

@llorllale by the way, it seems @longstone stopped working on this…

[2019-04-18 23:02] llorllale commented on #88
@0crat refuse

[2019-04-18 23:02] llorllale commented on #88
@0crat assign me

[2019-04-18 23:03] 0crat commented on #88
@llorllale The user @longstone[/z](https://www.0crat.com/u/longstone) resigned from [#88](https://github.com/llorllale/cactoos-matchers/issues/88), please stop working. Reason for job resignation: Order was cancelled

[2019-04-18 23:06] 0crat commented on #88
@llorllale The job [#88](https://github.com/llorllale/cactoos-matchers/issues/88) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/3e0ee886-c9d0-4f83-b0be-b60c04c3c814); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-04-18 23:07] 0crat commented on #88
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-04-18 23:13] llorllale commented on #88
@0crat wait I submitted PR #109 for this

[2019-04-18 23:14] 0crat commented on #88
@llorllale The impediment for [#88](https://github.com/llorllale/cactoos-matchers/issues/88) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-04-21 12:12] 0crat commented on #93
The job [#93](https://github.com/llorllale/cactoos-matchers/issues/93) assigned to @longstone[/z](https://www.0crat.com/u/longstone), here is [why](https://www.0crat.com/footprint/C63314D6Z/3e4b553a-91d8-4098-a178-cb520f4047a3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-21 12:47] #88 closed

[2019-04-21 12:47] 0pdd commented on #88
The puzzle `53-0c767106` has disappeared from the source code, that's why I closed this issue.

[2019-04-21 12:47] 0pdd opened #110 "Assertion2.java:67-69: Phase out the original Assertion..."
The puzzle `88-bbf98b56` from #88 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/b6e2e5687dce498db867d62655b2df62025dd4a1/src/main/java/org/llorllale/cactoos/matchers/Assertion2.java#L67-L69

The puzzle was created by @llorllale on 18-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2019-04-21 12:47] 0pdd commented on #18
@llorllale 2 puzzles [#110](https://github.com/llorllale/cactoos-matchers/issues/110), [#52](https://github.com/llorllale/cactoos-matchers/issues/52) are still not solved; solved: [#53](https://github.com/llorllale/cactoos-matchers/issues/53), [#80](https://github.com/llorllale/cactoos-matchers/issues/80), [#81](https://github.com/llorllale/cactoos-matchers/issues/81), [#84](https://github.com/llo

[2019-04-21 12:47] 0pdd commented on #53
@0pdd the puzzle [#110](https://github.com/llorllale/cactoos-matchers/issues/110) is still not solved; solved: [#88](https://github.com/llorllale/cactoos-matchers/issues/88).

[2019-04-21 12:47] 0pdd commented on #88
@0pdd the puzzle [#110](https://github.com/llorllale/cactoos-matchers/issues/110) is still not solved.

[2019-04-21 12:48] llorllale commented on #110
@0crat assign me

[2019-04-21 12:49] 0crat commented on #110
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-21 12:58] 0crat commented on #110
@llorllale The job [#110](https://github.com/llorllale/cactoos-matchers/issues/110) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/e1436171-3b5f-43b3-8f13-1949a6eaed01); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zero

[2019-04-21 13:09] 0crat commented on #110
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-04-21 13:18] 0crat commented on #88
The job [#88](https://github.com/llorllale/cactoos-matchers/issues/88) is now out of scope

[2019-04-21 13:24] 0crat commented on #88
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-04-21 14:23] llorllale commented on #110
@0crat wait I submitted PR #111 for this

[2019-04-21 14:28] 0crat commented on #110
@llorllale The impediment for [#110](https://github.com/llorllale/cactoos-matchers/issues/110) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-04-22 09:23] victornoel commented on #102
@llorllale maybe this issue can be rediscussed now that we started to introduce `Assertion2`?

[2019-04-23 23:08] llorllale commented on #102
@victornoel @dgroup yes, turns out that we can simplify the Assertion API to accept the value directly (ie no scalar) when testing values, as well as accepting Scalars for tests with `Throws`.

See #111

[2019-04-23 23:08] #102 closed

[2019-04-23 23:25] 0crat commented on #102
Job `gh:llorllale/cactoos-matchers#102` is not assigned, can't get performer

[2019-04-23 23:25] 0crat commented on #102
This job is not in scope

[2019-04-24 02:23] fabriciofx opened #112 "Update maven-compiler-plugin and fix bug on it to allow incremental compilation"
Let's update `maven-compiler-plugin` to `3.8.0` version and fix a bug in this plugin which doesn't allow incremental compilation that increase compile and running time. To fix both we need change `pom.xml` to:
[code]
Please, pay attention to `<version>` and `<useIncrementalCompilation>` tag.

[2019-04-24 02:23] 0crat commented on #112
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-24 02:23] 0crat commented on #112
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-24 11:31] #110 closed

[2019-04-24 11:31] 0pdd commented on #110
The puzzle `88-bbf98b56` has disappeared from the source code, that's why I closed this issue.

[2019-04-24 11:31] 0pdd opened #113 "Assertion2.java:67-69: Continue phasing out the original..."
The puzzle `110-bae5f26c` from #110 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/60a2ba87ec9e40341f6f569b13a24b2b7868d4a7/src/main/java/org/llorllale/cactoos/matchers/Assertion2.java#L67-L69

The puzzle was created by @llorllale on 21-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2019-04-24 11:31] 0pdd commented on #18
@llorllale 2 puzzles [#113](https://github.com/llorllale/cactoos-matchers/issues/113), [#52](https://github.com/llorllale/cactoos-matchers/issues/52) are still not solved; solved: [#110](https://github.com/llorllale/cactoos-matchers/issues/110), [#53](https://github.com/llorllale/cactoos-matchers/issues/53), [#80](https://github.com/llorllale/cactoos-matchers/issues/80), [#81](https://github.com/l

[2019-04-24 11:31] 0pdd commented on #53
@0pdd the puzzle [#113](https://github.com/llorllale/cactoos-matchers/issues/113) is still not solved; solved: [#110](https://github.com/llorllale/cactoos-matchers/issues/110), [#88](https://github.com/llorllale/cactoos-matchers/issues/88).

[2019-04-24 11:31] 0pdd commented on #88
@0pdd the puzzle [#113](https://github.com/llorllale/cactoos-matchers/issues/113) is still not solved; solved: [#110](https://github.com/llorllale/cactoos-matchers/issues/110).

[2019-04-24 11:31] 0pdd commented on #110
@0pdd the puzzle [#113](https://github.com/llorllale/cactoos-matchers/issues/113) is still not solved.

[2019-04-24 11:33] 0crat commented on #113
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-24 11:41] 0crat commented on #113
Job [#113](https://github.com/llorllale/cactoos-matchers/issues/113) is now in scope, role is `DEV`

[2019-04-24 11:56] 0crat commented on #110
The job [#110](https://github.com/llorllale/cactoos-matchers/issues/110) is now out of scope

[2019-04-24 11:56] 0crat commented on #110
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-04-25 01:29] 0pdd opened #114 "HasEntryTest.java:38-41: Add two more tests for the..."
The puzzle `65-01fd6042` from #65 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/5bfb891b2badafbf62533e68d150e3755fd1c24a/src/test/java/org/llorllale/cactoos/matchers/HasEntryTest.java#L38-L41

The puzzle was created by @rultor on 25-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2019-04-25 01:29] 0pdd commented on #65
@dgroup the puzzle [#114](https://github.com/llorllale/cactoos-matchers/issues/114) is still not solved.

[2019-04-25 01:30] 0crat commented on #114
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-25 01:36] 0crat commented on #114
Job [#114](https://github.com/llorllale/cactoos-matchers/issues/114) is now in scope, role is `DEV`

[2019-04-25 01:48] llorllale commented on #113
@0crat assign me

[2019-04-25 01:55] 0crat commented on #113
@llorllale The job [#113](https://github.com/llorllale/cactoos-matchers/issues/113) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/f6e873f2-1c7d-4ca7-b745-3f13069b5eba); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zero

[2019-04-25 01:55] 0crat commented on #113
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-04-25 07:08] victornoel commented on #65
@dgroup I think this can be closed now, the PR has been merged

[2019-04-25 11:25] llorllale commented on #113
@0crat wait I submitted PR #115 for this

[2019-04-25 11:26] 0crat commented on #113
@llorllale The impediment for [#113](https://github.com/llorllale/cactoos-matchers/issues/113) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-04-26 04:02] 0crat commented on #94
The job [#94](https://github.com/llorllale/cactoos-matchers/issues/94) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C63314D6Z/02392e9c-008e-4266-9492-d778077356c6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-04-26 11:35] 0pdd commented on #113
The puzzle `110-bae5f26c` has disappeared from the source code, that's why I closed this issue.

[2019-04-26 11:35] #113 closed

[2019-04-26 11:36] 0pdd opened #116 "Assertion2.java:67-69: Delete the original Assertion and..."
The puzzle `113-840654f6` from #113 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/906401c2f9ac1cb38cb8b6bf2cc1a5b579eb8d52/src/main/java/org/llorllale/cactoos/matchers/Assertion2.java#L67-L69

The puzzle was created by @llorllale on 25-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2019-04-26 11:36] 0pdd commented on #18
@llorllale 2 puzzles [#116](https://github.com/llorllale/cactoos-matchers/issues/116), [#52](https://github.com/llorllale/cactoos-matchers/issues/52) are still not solved; solved: [#110](https://github.com/llorllale/cactoos-matchers/issues/110), [#113](https://github.com/llorllale/cactoos-matchers/issues/113), [#53](https://github.com/llorllale/cactoos-matchers/issues/53), [#80](https://github.com

[2019-04-26 11:36] 0pdd commented on #53
@0pdd the puzzle [#116](https://github.com/llorllale/cactoos-matchers/issues/116) is still not solved; solved: [#110](https://github.com/llorllale/cactoos-matchers/issues/110), [#113](https://github.com/llorllale/cactoos-matchers/issues/113), [#88](https://github.com/llorllale/cactoos-matchers/issues/88).

[2019-04-26 11:36] 0pdd commented on #88
@0pdd the puzzle [#116](https://github.com/llorllale/cactoos-matchers/issues/116) is still not solved; solved: [#110](https://github.com/llorllale/cactoos-matchers/issues/110), [#113](https://github.com/llorllale/cactoos-matchers/issues/113).

[2019-04-26 11:36] 0pdd commented on #110
@0pdd the puzzle [#116](https://github.com/llorllale/cactoos-matchers/issues/116) is still not solved; solved: [#113](https://github.com/llorllale/cactoos-matchers/issues/113).

[2019-04-26 11:36] 0pdd commented on #113
@0pdd the puzzle [#116](https://github.com/llorllale/cactoos-matchers/issues/116) is still not solved.

[2019-04-26 11:37] 0crat commented on #116
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-26 11:38] llorllale commented on #116
@0crat assign me

[2019-04-26 11:43] 0crat commented on #116
Job [#116](https://github.com/llorllale/cactoos-matchers/issues/116) is now in scope, role is `DEV`

[2019-04-26 11:45] 0crat commented on #116
@llorllale The job [#116](https://github.com/llorllale/cactoos-matchers/issues/116) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/007a1089-86cf-4285-94a4-4f4f48f9cd3c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zero

[2019-04-26 11:48] llorllale commented on #116
@0crat wait because I submitted PR #117 for this

[2019-04-26 11:52] 0crat commented on #116
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-04-26 11:52] 0crat commented on #116
@llorllale The impediment for [#116](https://github.com/llorllale/cactoos-matchers/issues/116) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-04-26 11:52] 0crat commented on #113
Job was finished in 33 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-26 11:58] 0crat commented on #113
The job [#113](https://github.com/llorllale/cactoos-matchers/issues/113) is now out of scope

[2019-04-26 11:58] 0crat commented on #113
Order was finished: +35 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-04-26 15:51] longstone commented on #93
@0crat wait - issue https://github.com/teamed/qulice/issues/985 is not resolved right now.

[2019-04-26 15:52] 0crat commented on #93
@longstone The impediment for [#93](https://github.com/llorllale/cactoos-matchers/issues/93) was registered successfully by @longstone[/z](https://www.0crat.com/u/longstone)

[2019-04-26 22:41] #116 closed

[2019-04-26 22:41] 0pdd commented on #116
The puzzle `113-840654f6` has disappeared from the source code, that's why I closed this issue.

[2019-04-26 22:41] 0pdd commented on #18
@llorllale the puzzle [#52](https://github.com/llorllale/cactoos-matchers/issues/52) is still not solved; solved: [#110](https://github.com/llorllale/cactoos-matchers/issues/110), [#113](https://github.com/llorllale/cactoos-matchers/issues/113), [#116](https://github.com/llorllale/cactoos-matchers/issues/116), [#53](https://github.com/llorllale/cactoos-matchers/issues/53), [#80](https://github.com

[2019-04-26 22:41] 0pdd commented on #53
@0pdd all 4 puzzles are solved here: [#110](https://github.com/llorllale/cactoos-matchers/issues/110), [#113](https://github.com/llorllale/cactoos-matchers/issues/113), [#116](https://github.com/llorllale/cactoos-matchers/issues/116), [#88](https://github.com/llorllale/cactoos-matchers/issues/88).

[2019-04-26 22:41] 0pdd commented on #88
@0pdd all 3 puzzles are solved here: [#110](https://github.com/llorllale/cactoos-matchers/issues/110), [#113](https://github.com/llorllale/cactoos-matchers/issues/113), [#116](https://github.com/llorllale/cactoos-matchers/issues/116).

[2019-04-26 22:41] 0pdd commented on #110
@0pdd all 2 puzzles are solved here: [#113](https://github.com/llorllale/cactoos-matchers/issues/113), [#116](https://github.com/llorllale/cactoos-matchers/issues/116).

[2019-04-26 22:41] 0pdd commented on #113
@0pdd the only puzzle [#116](https://github.com/llorllale/cactoos-matchers/issues/116) is solved here.

[2019-04-26 23:06] 0crat commented on #116
Job was finished in 11 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-26 23:12] 0crat commented on #116
The job [#116](https://github.com/llorllale/cactoos-matchers/issues/116) is now out of scope

[2019-04-26 23:14] 0crat commented on #116
Order was finished: +35 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-04-27 20:24] dgroup commented on #65
@victornoel , thanks

[2019-04-27 20:24] #65 closed

[2019-04-27 20:45] 0crat commented on #65
Job [#65](https://github.com/llorllale/cactoos-matchers/issues/65) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-04-27 20:45] 0crat commented on #65
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-27 20:45] 0crat commented on #65
The job [#65](https://github.com/llorllale/cactoos-matchers/issues/65) is now out of scope

[2019-04-28 05:26] sereshqua commented on #65
@0crat quality good

[2019-04-28 05:33] 0crat commented on #65
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-28 05:33] 0crat commented on #65
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-28 16:13] vzurauskas commented on #94
@0crat wait for https://github.com/llorllale/cactoos-matchers/pull/118 to be merged.

[2019-04-28 16:14] 0crat commented on #94
@vzurauskas The impediment for [#94](https://github.com/llorllale/cactoos-matchers/issues/94) was registered successfully by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-04-29 20:46] Umbrah opened #119 "Throws do not support null as message"
I want to verify NullPointerException is thrown, but org.llorllale.cactoos.matchers.Throws fails when I use null as msg parameter. I want to be able to use it or have another constructor only with exception param.

[2019-04-29 20:47] 0crat commented on #119
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-29 21:37] ilyakharlamov commented on #119
Unit test example: `

    @test
    public void nullMessageTest(){
        final Description description = new StringDescription();
        new Throws<>(null, NullPointerException.class).matchesSafely(
            () -> {
                final Object obj = null;
                return obj.getClass();
            },
            description
        );
    }`

[2019-04-30 00:07] llorllale commented on #119
@0crat in

[2019-04-30 00:07] llorllale commented on #119
@Umbrah let's add a ctor that takes in just the exception type

[2019-04-30 00:11] 0crat commented on #119
@llorllale Job [#119](https://github.com/llorllale/cactoos-matchers/issues/119) is now in scope, role is `DEV`

[2019-04-30 00:18] 0crat commented on #119
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-04-30 11:34] 0pdd commented on #94
The puzzle `75-c754358f` has disappeared from the source code, that's why I closed this issue.

[2019-04-30 11:34] #94 closed

[2019-04-30 11:34] 0pdd opened #120 "MatcherEnvelope.java:43-45: Refactor other matchers to..."
The puzzle `94-c754358f` from #94 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/7fff8ac12133234d8c36c22a58bf6733956d1af0/src/main/java/org/llorllale/cactoos/matchers/MatcherEnvelope.java#L43-L45

The puzzle was created by @vzurauskas on 28-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2019-04-30 11:34] 0pdd opened #121 "MatcherEnvelope.java:47-50: Write unit tests for..."
The puzzle `94-45419d52` from #94 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/7fff8ac12133234d8c36c22a58bf6733956d1af0/src/main/java/org/llorllale/cactoos/matchers/MatcherEnvelope.java#L47-L50

The puzzle was created by @vzurauskas on 28-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2019-04-30 11:34] 0pdd commented on #75
@dgroup 3 puzzles [#120](https://github.com/llorllale/cactoos-matchers/issues/120), [#121](https://github.com/llorllale/cactoos-matchers/issues/121), [#93](https://github.com/llorllale/cactoos-matchers/issues/93) are still not solved; solved: [#94](https://github.com/llorllale/cactoos-matchers/issues/94).

[2019-04-30 11:34] 0pdd commented on #94
@0pdd 2 puzzles [#120](https://github.com/llorllale/cactoos-matchers/issues/120), [#121](https://github.com/llorllale/cactoos-matchers/issues/121) are still not solved.

[2019-04-30 11:35] 0crat commented on #121
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-30 11:36] 0crat commented on #120
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-30 11:42] 0crat commented on #121
Job [#121](https://github.com/llorllale/cactoos-matchers/issues/121) is now in scope, role is `DEV`

[2019-04-30 11:43] 0crat commented on #120
Job [#120](https://github.com/llorllale/cactoos-matchers/issues/120) is now in scope, role is `DEV`

[2019-04-30 11:52] 0crat commented on #94
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-30 11:54] 0crat commented on #94
The job [#94](https://github.com/llorllale/cactoos-matchers/issues/94) is now out of scope

[2019-04-30 21:42] sereshqua commented on #94
@0crat quality good

[2019-04-30 21:49] 0crat commented on #94
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-30 21:50] 0crat commented on #94
Order was finished, quality is "good": +35 point(s) just awarded to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-05-01 19:45] humb1t opened #122 "Make actual documentation and samples for org.llorllale.cactoos.matchers.Assertion"
Working on https://github.com/yegor256/jpeek/pull/321 I found that if you use `Assertion` as described in JavaDoc:
[code]
it would `WARN` during compilation and fail the build of zerocracy projects as a result.

For me, it's very disappointing and time-consuming to be forced to use `cactoos-matcher` and then spend time figuring out how it should be used.

[2019-05-01 19:45] 0crat commented on #122
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-05-01 19:45] 0crat commented on #122
@humb1t[/z](https://www.0crat.com/u/humb1t) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-01 20:08] llorllale commented on #122
@humb1t what is the warning? The use of raw types/lack of `<>`? Are you using the latest version?

[2019-05-07 08:57] humb1t commented on #122
@llorllale yes, this is a code https://github.com/yegor256/jpeek/pull/321/files
version is ` <version>0.13</version>`

[2019-05-08 11:13] victornoel commented on #103
@llorllale if you want you can assign me this one, I just got assigned the related job in cactoos: yegor256/cactoos#1086

[2019-05-08 11:24] 0crat commented on #108
The job [#108](https://github.com/llorllale/cactoos-matchers/issues/108) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/8967c2d7-c594-44bf-8e56-45f4e87f40d2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-05-08 14:28] victornoel commented on #108
@0crat refuse

[2019-05-08 14:29] 0crat commented on #108
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#108](https://github.com/llorllale/cactoos-matchers/issues/108), please stop working. Reason for job resignation: Order was cancelled

[2019-05-08 14:30] 0crat commented on #108
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-05-10 00:31] llorllale commented on #122
@humb1t issue is solved by *not* using [raw types](https://docs.oracle.com/javase/tutorial/java/generics/rawTypes.html) - use the diamond operator to fix it.

Also this typo has been fixed in the latest release of cactoos-matchers

[2019-05-10 00:31] #122 closed

[2019-05-10 00:51] 0crat commented on #122
Job `gh:llorllale/cactoos-matchers#122` is not assigned, can't get performer

[2019-05-10 00:53] 0crat commented on #122
This job is not in scope

[2019-05-10 01:11] 0crat commented on #103
The job [#103](https://github.com/llorllale/cactoos-matchers/issues/103) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/696ed21f-a665-4cd2-a03a-71835dd37025); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-05-10 05:10] 0crat commented on #108
The job [#108](https://github.com/llorllale/cactoos-matchers/issues/108) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C63314D6Z/7da207e4-4a15-492c-9174-db6f6dc1e06b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-05-12 15:26] vzurauskas commented on #108
@0crat Please wait for https://github.com/llorllale/cactoos-matchers/pull/123 to be merged.

[2019-05-12 15:26] 0crat commented on #108
@vzurauskas Can't understand "Please", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from th

[2019-05-12 15:28] vzurauskas commented on #108
@0crat Wait for https://github.com/llorllale/cactoos-matchers/pull/123 to be merged. :)

[2019-05-12 15:29] 0crat commented on #108
@vzurauskas The impediment for [#108](https://github.com/llorllale/cactoos-matchers/issues/108) was registered successfully by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-05-19 09:49] zCRUSADERz opened #124 "Required IsFalse matcher."
I need an `IsFalse` matcher like an existing `IsTrue`.

[2019-05-19 09:49] 0crat commented on #124
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-05-19 09:49] 0crat commented on #124
@zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-19 18:41] Umbrah commented on #103
@0crat refuse

[2019-05-19 18:46] 0crat commented on #103
@Umbrah The user @umbrah[/z](https://www.0crat.com/u/umbrah) resigned from [#103](https://github.com/llorllale/cactoos-matchers/issues/103), please stop working. Reason for job resignation: Order was cancelled

[2019-05-19 18:48] 0crat commented on #103
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-05-22 14:25] 0crat commented on #103
The job [#103](https://github.com/llorllale/cactoos-matchers/issues/103) assigned to @scristalli[/z](https://www.0crat.com/u/scristalli), here is [why](https://www.0crat.com/footprint/C63314D6Z/d0a44fd2-9c40-4ce5-ad85-931a90c186ad); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-05-23 22:58] llorllale commented on #124
@zCRUSADERz you can compose matchers:

[code]

[2019-05-23 22:58] #124 closed

[2019-05-23 23:15] 0crat commented on #124
Job `gh:llorllale/cactoos-matchers#124` is not assigned, can't get performer

[2019-05-23 23:15] 0crat commented on #124
This job is not in scope

[2019-05-24 03:46] zCRUSADERz commented on #124
@llorllale but `IsFalse` looks better.

[2019-05-25 10:53] scristalli commented on #103
@0crat waiting for pull request #125 to be reviewed

[2019-05-25 10:56] 0crat commented on #103
@scristalli The impediment for [#103](https://github.com/llorllale/cactoos-matchers/issues/103) was registered successfully by @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-05-25 14:05] 0crat commented on #114
The job [#114](https://github.com/llorllale/cactoos-matchers/issues/114) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/3f0c71c4-70b2-47c9-b27c-411ada591754); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-05-25 14:29] victornoel commented on #114
@0crat waiting for #106

[2019-05-25 14:30] 0crat commented on #114
@victornoel The impediment for [#114](https://github.com/llorllale/cactoos-matchers/issues/114) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-05-28 04:34] 0crat commented on #106
The job [#106](https://github.com/llorllale/cactoos-matchers/issues/106) assigned to @longstone[/z](https://www.0crat.com/u/longstone), here is [why](https://www.0crat.com/footprint/C63314D6Z/383ffb1e-36f7-452a-a009-b141c29afbdf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-05-30 13:21] 0crat commented on #119
The job [#119](https://github.com/llorllale/cactoos-matchers/issues/119) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/33da1e12-101e-462b-b497-ae52348c3ea8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-05-30 15:14] victornoel commented on #119
@0crat wait for #126 to be merged

[2019-05-30 15:19] 0crat commented on #119
@victornoel The impediment for [#119](https://github.com/llorllale/cactoos-matchers/issues/119) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-01 09:17] victornoel commented on #119
@Umbrah this has been fixed in #126, the issue can now be closed :)

[2019-06-01 14:50] vzurauskas commented on #108
@llorllale I think https://github.com/llorllale/cactoos-matchers/pull/126 solved this issue. Can it be closed?

[2019-06-01 14:55] vzurauskas commented on #108
@llorllale Also, could you release a new version? It's needed for https://github.com/yegor256/cactoos/issues/1106

[2019-06-01 15:23] 0crat commented on #121
The job [#121](https://github.com/llorllale/cactoos-matchers/issues/121) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/ff191eaf-6981-4639-ab5c-6a0070f22541); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-06-01 15:51] victornoel commented on #121
@0crat refuse

[2019-06-01 15:52] 0crat commented on #121
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#121](https://github.com/llorllale/cactoos-matchers/issues/121), please stop working. Reason for job resignation: Order was cancelled

[2019-06-01 15:53] 0crat commented on #121
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-01 20:38] llorllale commented on #108
@vzurauskas ask the ticket's reporter if it can be closed

[2019-06-01 20:39] llorllale commented on #108
@vzurauskas [release in progress](https://github.com/llorllale/cactoos-matchers/pull/126#issuecomment-497975854)

[2019-06-02 08:07] vzurauskas commented on #108
@atapin I think https://github.com/llorllale/cactoos-matchers/pull/126 solved this issue. Can it be closed?

[2019-06-03 02:49] atapin commented on #108
@vzurauskas you are right. Closing.

[2019-06-03 02:49] #108 closed

[2019-06-03 03:07] 0crat commented on #108
Job [#108](https://github.com/llorllale/cactoos-matchers/issues/108) is not in the agenda of @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), can't inspect

[2019-06-03 03:07] 0crat commented on #108
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-03 03:07] 0crat commented on #108
The job [#108](https://github.com/llorllale/cactoos-matchers/issues/108) is now out of scope

[2019-06-03 03:54] sereshqua commented on #108
@0crat quality good

[2019-06-03 04:02] 0crat commented on #108
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-03 04:02] 0crat commented on #108
Order was finished, quality is "good": +35 point(s) just awarded to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-06-03 17:48] victornoel commented on #119
@llorllale the reporter does not seem to answer, can we close this?

[2019-06-05 16:38] victornoel commented on #119
@llorllale @Umbrah ping

[2019-06-07 02:02] llorllale commented on #119
@umbrah closing due to unresponsiveness (PR #126 merged for this)

[2019-06-07 02:02] #119 closed

[2019-06-07 02:22] 0crat commented on #119
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-07 02:22] 0crat commented on #119
Job [#119](https://github.com/llorllale/cactoos-matchers/issues/119) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-06-07 02:23] 0crat commented on #119
The job [#119](https://github.com/llorllale/cactoos-matchers/issues/119) is now out of scope

[2019-06-07 09:34] g4s8 commented on #119
@0crat status

[2019-06-07 09:35] 0crat commented on #119
@g4s8 This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#119](https://github.com/llorllale/cactoos-matchers/issues/119) is not in scope
  * The job is waiting quality review verdict by @sereshqua[/z](https://www.0crat.com/u/sereshqua) for 7hr
  * @victornoel[/z](https://www.0crat.com/u/victornoe

[2019-06-07 11:07] scristalli commented on #103
@llorllale can we please make a release now? Afterwards, I think I can close this.

[2019-06-07 11:27] sereshqua commented on #119
@ilyakharlamov can you please edit your [comment](https://github.com/llorllale/cactoos-matchers/issues/119#issuecomment-487753522)  that it start with the user'w name it is referred to? otherwise quality is acceptable here

[2019-06-07 12:00] victornoel commented on #103
@llorllale yes I second this, I need it for some issues in cactoos :)

[2019-06-07 14:44] llorllale commented on #103
@victornoel @scristalli [release in progress](https://github.com/llorllale/cactoos-matchers/pull/125#issuecomment-499912889)

[2019-06-07 14:45] llorllale commented on #103
@scristalli btw, it's best practice to reference the issue from the PR (so that we'd see the link to the PR in the issue)

[2019-06-07 15:19] scristalli commented on #103
@llorllale noted, thanks. I will make sure I do it in the next PRs.

[2019-06-07 19:25] scristalli commented on #103
@victornoel can we close this? I think the job is finished for what concerns cactoos-matchers.

[2019-06-07 21:15] 0crat commented on #120
The job [#120](https://github.com/llorllale/cactoos-matchers/issues/120) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/136b3c47-e4b4-4bae-b9c0-f82605d13da2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-06-07 21:21] 0crat commented on #120
Job `gh:llorllale/cactoos-matchers#120` already assigned to @victornoel, can't assign to @victornoel

[2019-06-08 11:03] victornoel opened #127 "RunsInThread is not robust enough"
`RunsInThread` has been introduced following this post: https://www.yegor256.com/2018/03/27/how-to-test-thread-safety.html

It's reason for existing is to ensure a task is run in concurrent threads with overlap. In the post above, there is a method shown to count the overlaps to validate its behaviour. It's not present in the current implementation (because it is not needed), so one has to modify

[2019-06-08 11:03] 0crat commented on #127
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-06-08 11:04] victornoel commented on #119
@sereshqua I don't think @ilyakharlamov is here anymore with us.

[2019-06-08 11:10] victornoel commented on #103
@scristalli yep, thanks!

[2019-06-08 11:10] #103 closed

[2019-06-08 11:11] sereshqua commented on #119
@victornoel, yeap, just a matter of policy, so issue performer knows why quality is not good

[2019-06-08 11:13] victornoel commented on #106
@longstone are you going to tackle that? This is needed for me to solve other issues :)

[2019-06-08 11:27] 0crat commented on #103
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @scristalli[/z](https://www.0crat.com/u/scristalli), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-08 11:28] 0crat commented on #103
The job [#103](https://github.com/llorllale/cactoos-matchers/issues/103) is now out of scope

[2019-06-08 12:22] victornoel commented on #119
@sereshqua I understand, but you never told 0crat about the quality in the end ;)

[2019-06-08 14:02] victornoel commented on #120
@0crat wait for #128 to be merged

[2019-06-08 14:02] 0crat commented on #120
@victornoel The impediment for [#120](https://github.com/llorllale/cactoos-matchers/issues/120) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-08 14:02] llorllale commented on #127
@victornoel the cause is more likely to be in the tests themselves rather than in `RunsInThreads`. The latter is already setting the functions under test to await a countdown on a latch in order to increase probabilities of overlaps. I'm not sure what other technique we can use to increase the odds even more.

If it works in one test and does not in another, maybe we should be looking at the diffe

[2019-06-08 14:42] victornoel commented on #127
@llorllale yes I did, but some of the tests relies on a finite number of threads so you can't really change them. I understand what you mean though, and I believe the purpose of this issue is exactly to investigate this and have a clear conclusion we can have confidence in. I spent enough time trying to understand this in the context of https://github.com/yegor256/cactoos/pull/1134 without much su

[2019-06-08 15:14] llorllale commented on #127
@victornoel in this ticket you request:

As per my comment above, I believe the investigation should carry on in the tests of `cactoos`. I don't see anything wrong with `RunsInThread` yet.

[2019-06-08 15:16] victornoel commented on #127
@llorllale ok

[2019-06-08 15:16] #127 closed

[2019-06-08 15:32] 0crat commented on #127
Job `gh:llorllale/cactoos-matchers#127` is not assigned, can't get performer

[2019-06-08 15:33] 0crat commented on #127
This job is not in scope

[2019-06-08 19:24] sereshqua commented on #119
@0pdd quality acceptable

[2019-06-08 19:24] 0pdd commented on #119
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2019-06-08 19:33] sereshqua commented on #119
@0crat quality acceptable

[2019-06-08 19:47] 0crat commented on #119
Order was finished, quality is "acceptable": +30 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-08 19:47] 0crat commented on #119
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-09 05:16] sereshqua commented on #103
@0crat quality good

[2019-06-09 05:23] 0crat commented on #103
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-09 05:23] 0crat commented on #103
Order was finished, quality is "good": +35 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-06-11 19:20] 0crat commented on #121
The job [#121](https://github.com/llorllale/cactoos-matchers/issues/121) assigned to @scristalli[/z](https://www.0crat.com/u/scristalli), here is [why](https://www.0crat.com/footprint/C63314D6Z/ba0f4f5c-641f-4436-a8d0-c024f293af20); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-06-16 09:19] victornoel commented on #106
@llorllale I think @longstone is not going to take care of this issue, can it be re-assigned by 0crat because I'm waiting for it to work on #114

[2019-06-16 19:08] llorllale commented on #106
@0crat refuse

[2019-06-16 19:08] llorllale commented on #106
@0crat assign @victornoel

[2019-06-16 19:08] 0crat commented on #106
@llorllale The user @longstone[/z](https://www.0crat.com/u/longstone) resigned from [#106](https://github.com/llorllale/cactoos-matchers/issues/106), please stop working. Reason for job resignation: Order was cancelled

[2019-06-16 19:09] 0crat commented on #106
@llorllale The job [#106](https://github.com/llorllale/cactoos-matchers/issues/106) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/2ad25c6d-ea01-4205-89b2-6bd3feb282d3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.ze

[2019-06-16 19:09] 0crat commented on #106
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-16 19:09] 0crat commented on #106
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-16 19:19] #120 closed

[2019-06-16 19:19] 0pdd commented on #120
The puzzle `94-c754358f` has disappeared from the source code, that's why I closed this issue.

[2019-06-16 19:19] 0pdd opened #129 "MatcherEnvelope.java:43-45: Refactor other matchers to..."
The puzzle `120-c754358f` from #120 has to be resolved:

https://github.com/llorllale/cactoos-matchers/blob/75bf11b8a86e368f92af93c8fc2c5c21df306aad/src/main/java/org/llorllale/cactoos/matchers/MatcherEnvelope.java#L43-L45

The puzzle was created by Victor Noël on 08-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2019-06-16 19:19] 0pdd commented on #75
@dgroup 3 puzzles [#121](https://github.com/llorllale/cactoos-matchers/issues/121), [#129](https://github.com/llorllale/cactoos-matchers/issues/129), [#93](https://github.com/llorllale/cactoos-matchers/issues/93) are still not solved; solved: [#120](https://github.com/llorllale/cactoos-matchers/issues/120), [#94](https://github.com/llorllale/cactoos-matchers/issues/94).

[2019-06-16 19:19] 0pdd commented on #94
@0pdd 2 puzzles [#121](https://github.com/llorllale/cactoos-matchers/issues/121), [#129](https://github.com/llorllale/cactoos-matchers/issues/129) are still not solved; solved: [#120](https://github.com/llorllale/cactoos-matchers/issues/120).

[2019-06-16 19:19] 0pdd commented on #120
@0pdd the puzzle [#129](https://github.com/llorllale/cactoos-matchers/issues/129) is still not solved.

[2019-06-16 19:20] 0crat commented on #129
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-06-16 19:30] 0crat commented on #129
Job [#129](https://github.com/llorllale/cactoos-matchers/issues/129) is now in scope, role is `DEV`

[2019-06-16 19:45] 0crat commented on #120
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-16 19:45] 0crat commented on #120
Job [#120](https://github.com/llorllale/cactoos-matchers/issues/120) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-06-16 19:46] sereshqua commented on #120
@0crat quality good

[2019-06-16 19:47] 0crat commented on #120
The job [#120](https://github.com/llorllale/cactoos-matchers/issues/120) is now out of scope

[2019-06-16 19:54] 0crat commented on #120
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-16 19:54] 0crat commented on #120
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-17 14:31] scristalli commented on #121
@0crat waiting for #130 to be reviewed

[2019-06-17 14:39] 0crat commented on #121
@scristalli The impediment for [#121](https://github.com/llorllale/cactoos-matchers/issues/121) was registered successfully by @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-06-22 15:50] victornoel commented on #106
@0crat wait for #131 to be merged

[2019-06-22 15:51] 0crat commented on #106
@victornoel The impediment for [#106](https://github.com/llorllale/cactoos-matchers/issues/106) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-26 08:24] 0crat commented on #129
The job [#129](https://github.com/llorllale/cactoos-matchers/issues/129) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/55e55685-53bb-4110-89b1-dfd24c808fd8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-06-29 11:30] victornoel opened #132 "TextMatcherEnvelope should call `asString()` only once at all"
All the `Matcher<Text>` that relies on `TextMatcherEnvelope` suffers from having `asString()` being called multiple times.

In some case it can be a problem, for example when a `Text` is based on an `InputStream` that can be read only once. See for example https://github.com/yegor256/cactoos/pull/1145#discussion_r296447726

I believe `TextMatcherEnvelope` should wraps `text` into some kind of `Sti

[2019-06-29 11:30] 0crat commented on #132
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-06-29 19:07] 0pdd commented on #121
The puzzle `94-45419d52` has disappeared from the source code, that's why I closed this issue.

[2019-06-29 19:07] #121 closed